// Start Global //
.dropdown-menu {
  border-radius: 10px;
  padding: 0;
  border: 1px solid #ddd;
  margin: 0;
  left: -5%;

  .dropdown-item {
    padding: 10px 0;
    text-align: center;
    font-weight: bold;

    &:hover {
      background-color: #F0F0F0;
    }

    .active, &:active {
      background-color: $bg-color-second;
    }

    &:first-of-type {
      border-radius: 10px 10px 0 0;
    }

    &:last-of-type {
      border-radius: 0 0 10px 10px;
    }
  }

  .dropdown-divider {
    margin: 0;
  }
}

.collapsing {
  transition-duration: 0s !important;
}

// End Global //

// Start Navigation Bar // 
.navbar {
  direction: rtl;
  background-color: $bg-color-third !important;
  box-shadow: $fixed-box-shadow-regular2;

  .navbar-brand {
    img {
      width: 69px;
    }
  }

  .collapse {
    .navbar-nav {
      margin: 0 10px 0 0 !important;

      .nav-item {
        .nav-link {
          color: $font-color-second;
          font-weight: bold;

          &:hover {
            background-color: #F0F0F0;
            border-radius: 10px;
          }
        }
      }
    }

    form {
      background-color: #F0F0F0 !important;
      padding: 5px 10px 5px 0;
      border-radius: 20px;
      margin-right: 10px;
      display: flex;
      flex-flow: row nowrap;
      height: 35px;

      #searchNavBar::-webkit-search-cancel-button {
        -webkit-appearance: none;
        height: 1em;
        width: 1em;
        border-radius: 50em;
        background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
        background-size: contain;
        opacity: 0;
        pointer-events: none;
      }

      #searchNavBar:focus::-webkit-search-cancel-button {
        opacity: .3;
        pointer-events: all;
      }

      .search-area, .submit {
        border: none;
        outline: none;
        background-color: transparent;
      }

      .search-area {
        width: 170px;
      }

      .submit {
        i {
          margin-top: 5px;
          color: $color-main;
          margin-inline: 0.8rem;
        }
      }
    }

    .sign-box {
      margin: 0 auto 0 0;

      a {
        color: $font-color-second;
        font-weight: bold;
        background-color: transparent;
        padding: 10px;
        border-radius: 20px;
        transition: all .2s;
        display: inline-block;
        margin-right: 10px;

        &:hover {
          background-color: $bg-color-main;
        }
      }
    }
  }

  .profile-box {
    margin: 0 auto 0 0;

    .dropdown-toggle {
      display: flex;
      flex-flow: row nowrap;

      .profile-photo {
        width: 30px;
        border-radius: 50%;
        border: 1px solid #ddd;
      }

      h6 {
        color: $font-color-second;
        margin: 5px 5px 0;
        font-weight: bold;
      }

      &::after {
        border: none;
      }

      .arrow {
        background-color: $bg-color-main;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        text-align: center;
        line-height: 1.2;
        margin-top: 5px;

        .arrow-down {
          height: 15px;
          width: 15px;
        }
      }
    }

    .dropdown-menu {
      .dropdown-item {
        padding: 10px 20px;
      }

      .dropdown-item-especial {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        .profile-photo {
          width: 50px;
          border-radius: 50%;
          border: 1px solid #ddd;
        }

        h6 {
          color: $font-color-second;
          margin: 5px 5px 0;
          font-weight: bold;
        }

        &:first-of-type:active {
          background-color: #F0F0F0;
        }
      }
    }
  }
}

// End Navigation Bar //

// Start Media Query //
@media (max-width: 991px) {
  form {
    .search-area {
      width: 95% !important;
    }
  }
}

@media (min-width: 991px) and (max-width: 1110px) {
  form {
    .search-area {
      width: 50px !important;
    }
  }
}

@media (max-width: 1200px) {
  .navbar {
    .collapse {
      text-align: center;
    }
  }
}

// End Media Query //
