/* ****************************Scroll BAR****************************** */
/* width */
::-webkit-scrollbar {
   width: 7px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #9D9D9D;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 10px;
  //box-shadow: inset 2px 0 2px $lightBlack, inset -2px -2px 2px $lightBlack;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:var(--yellow);
}

/* ****************************Scroll BAR****************************** */

.imageSweetAlertLast {
  order: 4;
  border-radius: 12px;
}

.imageSweetAlertFirst {
  order: 0;
  border-radius: 12px;
}
