/* ----------- Start Loading Screen ----------- */
.loading-screen {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #FFF;
  top: 0;
  left: 0;
  z-index: 9999999999999999999999;
  display: flex;
  align-items: center;
  justify-content: center;

  .chicken-loader {
    background: url("../../../assets/images/loader.gif");
    height: 300px;
    width: 300px;
  }
}

/* ----------- End Loading Screen ----------- */

/* ---------- Start Button to top ----------- */
.btn_top {
  position: fixed;
  bottom: 10px;
  right: -60px;
  z-index: 99;
  border: none !important;
  outline: none !important;
  background-color: $bg-color-main;
  cursor: pointer;
  padding: 20px 25px 20px;
  opacity: .9;
  transition: all .3s ease-in-out;
  //display: none;

  .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
  }

  &:hover {
    background-color: $bg-color-main-hover;
    opacity: 1;
    transform: translate(0, -5px);
  }
}

/* ---------- End Button to top ----------- */

/* ---------- Start Global ----------- */

.regular-cards {
  border: 2px solid $bg-color-main;
  //border-radius: 40px 40px 0 0;
  border-radius: 20px 20px 0 0;
  box-shadow: $fixed-box-shadow-regular;
  padding: 2em 1em;
  margin: 1em 0 1rem;
  transition: all .5s;
  display: flex;
  flex-flow: row nowrap;

  .content-box {
    margin: 0 auto;
  }
}

.cards {
  border: 2px solid $bg-color-main;
  border-radius: 40px 40px 0 0;
  box-shadow: $fixed-box-shadow-regular;
  padding: 3.5em 1em;
  margin: 1em 0 2em;
  transition: all .5s;
}

/* ---------- Start Global Media Query ----------- */
@media (max-width: 991px) {
  .regular-cards {
    justify-content: center;
    flex-flow: column wrap;
    padding: 1em 0;
  }
}

@media (min-width: 991px) {
  .container {
    max-width: 1080px;
  }
}

/* ---------- End Global Media Query ----------- */
/* ---------- End Global ----------- */
