<div class="sorting">
    <div class="container">
        <div class="sorting-cont px-4 py-3">
                <form class="box-tabs">
                    <div class="search mb-3" *ngIf="!ships">
                        <div class="input-container" style="height: 100%;">  
                            <button class="px-5" style="border-radius: 16px;">بحث...</button>
                            <input id="search"  type="search" style="border-radius: 16px;"
                                (input)="selectOption($any($event.target).value,'search')" placeholder="ابحث...">
                            <i class="fa-solid fa-search search-icon"></i>
                        </div>
                    </div>
                    <div class="open d-flex justify-content-center align-items-center d-block d-lg-none">
                        
                        <h4><i class="fa-solid fa-filter ms-2"></i>حدد بحثك</h4>
                    </div>
                <div class="cont1">
                    <section class="big-sec d-lg-flex pb-2" [class]="data?.class">
                        <h5 class="m-0 ms-2 text d-inline-block">
                            تصفية حسب
                        </h5>
                        <section *ngFor="let control of data?.controls" class="sorting-items d-inline-flex flex-lg-row flex-column justify-content-start align-items-lg-center align-items-start">
  
                        <div class="sort-item " *ngIf="control.type === 'date' ||control.type === 'text'">
                            <input  [class]="control.class"    id="searchInput" [type]="control.type" class="py-2"
                                    (change)="selectOption($any($event.target).value,control.role)" style="border-radius: 16px; font-size: 1.1rem;" >
                        </div>

                        
                        <div class="sort-item" *ngIf="control.type === 'select' && control.role !== 'sort' && control.role !== 'subsection' && control.role !== 'countries' && control.role !== 'cities'">
                            <select (change)="selectOption($any($event.target).value,control.role)" [class]="control.class"
                                class="select-box"
                                >
                                <option *ngFor="let value of control.option" [value]="(value.type || value.name )"
                                    [selected]="value.selected == 1 ? true : null" class="company_filter_label">
                                    {{value.name}}
                                </option>
                            </select>

                            <div class="icon">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>       
                        <div class="sort-item" *ngIf=" control.role === 'subsection'">
                    
                            <select (change)="selectOption($any($event.target).value,control.role)" [class]="control.class"
                                class="select-box" >
                                <option *ngFor="let value of control.option" [value]="(value.type || value.name )"
                                    [selected]="value.selected == 1 ? true : null" class="sub">
                                    {{value.name}}
                                </option>
                            </select>
                            <div class="icon">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                        <div class="sort-item" *ngIf=" control.role === 'countries'" >
                    
                            <select (change)="selectOption($any($event.target).value,control.role)" [class]="control.class"
                                class="select-box">
                                <option *ngFor="let value of control.option" [value]="(value.type || value.name )"
                                    [selected]="value.selected == 1 ? true : null" class="countries">
                                    {{value.name}}
                                </option>
                            </select>
                            <div class="icon">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                        <div class="sort-item" *ngIf=" control.role === 'cities'" >
                    
                            <select (change)="selectOption($any($event.target).value,control.role)" [class]="control.class"
                                class="select-box" >
                                <option *ngFor="let value of control.option" [value]="(value.type || value.name )"
                                    [selected]="value.selected == 1 ? true : null" class="cities">
                                    {{value.name}}
                                </option>
                            </select>
                            <div class="icon">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                        <div class="sort-item" *ngIf=" control.role === 'sort'" >
                            <select (change)="selectOption($any($event.target).value,control.role)" [class]="control.class"
                                class="select-box" >
                                <option *ngFor="let value of control.option" [value]="(value.type || value.name )"
                                    [selected]="value.selected == 1 ? true : null" class="sort">
                                    {{value.name}}
                                </option>
                            </select>
                            <div class="icon">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>

      
                        <a *ngIf="control.type === 'a'" [class]="control.class" class="sort-item sort-link"
                        [routerLink]="control.routerLink">
                        {{control.name}}
                        </a>

                        </section>  
                        

                    </section>
                </div>
                </form>
        </div>
    </div>
</div>



<!-- <div class="sorting">
    <div class="container">
        <div class="sorting-cont px-4 py-3">
                <form class="box-tabs">
                    <div class="search mb-3">
                      
                        <div class="input-container">  
                            <button class="px-5" style="border-radius: 16px;">بحث...</button>
                            <input id="search" type="search" style="border-radius: 16px;"
                                   (input)="selectOption($any($event.target).value,'search')">
                            <i class="fa-solid fa-search search-icon"></i>
                        </div>
                    </div>
                <div class="cont">
                    <section class="d-flex flex-lg-row flex-column justify-content-start align-items-lg-center align-items-start" [class]="data?.class">
                        <h5 class="m-0 ms-2 text ">
                            تصفية حسب
                        </h5>
                        <section *ngFor="let control of data?.controls">
  
                        <div class="sort-item mb-lg-0 mb-4" *ngIf="control.type === 'date' ||control.type === 'text'">

                            <input  [class]="control.class"    id="searchInput" [type]="control.type"
                                    (change)="selectOption($any($event.target).value,control.role)" style="border-radius: 16px;" >

                        </div>

                        
                        <div class="sort-item mb-lg-0 mb-4" *ngIf="control.type === 'select' && control.role !== 'sort' && control.role !== 'subsection' && control.role !== 'countries' && control.role !== 'cities'">
                            <select (change)="selectOption($any($event.target).value,control.role)" [class]="control.class"
                                class="select-box"
                                >
                                <option *ngFor="let value of control.option" [value]="(value.type || value.name )"
                                    [selected]="value.selected == 1 ? true : null" class="company__filter__label">
                                    {{value.name}}
                                </option>
                            </select>

                            <div class="icon">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>       
                        <div class="sort-item mb-lg-0 mb-4" *ngIf=" control.role === 'subsection'">
                    
                            <select (change)="selectOption($any($event.target).value,control.role)" [class]="control.class"
                                class="select-box" >
                                <option *ngFor="let value of control.option" [value]="(value.type || value.name )"
                                    [selected]="value.selected == 1 ? true : null" class="sub">
                                    {{value.name}}
                                </option>
                            </select>
                            <div class="icon">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                        <div class="sort-item mb-lg-0 mb-4" *ngIf=" control.role === 'countries'" >
                    
                            <select (change)="selectOption($any($event.target).value,control.role)" [class]="control.class"
                                class="select-box">
                                <option *ngFor="let value of control.option" [value]="(value.type || value.name )"
                                    [selected]="value.selected == 1 ? true : null" class="countries">
                                    {{value.name}}
                                </option>
                            </select>
                            <div class="icon">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                        <div class="sort-item mb-lg-0 mb-4" *ngIf=" control.role === 'cities'" >
                    
                            <select (change)="selectOption($any($event.target).value,control.role)" [class]="control.class"
                                class="select-box" >
                                <option *ngFor="let value of control.option" [value]="(value.type || value.name )"
                                    [selected]="value.selected == 1 ? true : null" class="cities">
                                    {{value.name}}
                                </option>
                            </select>
                            <div class="icon">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                        <div class="sort-item mb-lg-0 mb-4" *ngIf=" control.role === 'sort'" >
                            <select (change)="selectOption($any($event.target).value,control.role)" [class]="control.class"
                                class="select-box" >
                                <option *ngFor="let value of control.option" [value]="(value.type || value.name )"
                                    [selected]="value.selected == 1 ? true : null" class="sort">
                                    {{value.name}}
                                </option>
                            </select>
                            <div class="icon">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>

                        <a *ngIf="control.type === 'a'" [class]="control.class" class="sort-item sort-link"
                            [routerLink]="control.routerLink">
                            {{control.name}}
                        </a>
                        </section>  
                        

                    </section>
                </div>
                </form>
        </div>
    </div>
</div> -->



<!-- <div class="breadcrumb__container container d-lg-none d-block">
    <div class="custom__breadcrumb">
        <h1 class="page__title">{{data?.title}}</h1>
    </div>
</div>  -->
   <!-- <article class="inner-search-box d-lg-block d-none">
    <div class="container">
        <form class="box-tabs">
            <div class="search-box-overlay"></div>
            <div class="edge"></div>
            <section [class]="data?.class" *ngFor="let control of data?.controls">
                <i [class]="control.icon"></i>
                <h4 class="title">{{control.name}}:</h4>
                <input  [class]="control.class"  *ngIf="control.type === 'search'"  id="search" [type]="control.type" placeholder="بحث"
                        (input)="selectOption($any($event.target).value,control.role)" >

                <input  [class]="control.class"  *ngIf="control.type === 'date' ||control.type === 'text'"  id="searchInput" [type]="control.type"
                        (change)="selectOption($any($event.target).value,control.role)" >


                <select (change)="selectOption($any($event.target).value,control.role)"
                [class]="control.class"  *ngIf="control.type === 'select' && control.role !== 'sort' && control.role !== 'subsection' && control.role !== 'countries' && control.role !== 'cities'">
                  <option   
                  *ngFor="let value of control.option"
                  [value]="(value.type || value.name )"
                  [selected]="value.selected == 1 ? true : null"
                  class="company__filter__label">{{value.name}}</option>
              </select>


              <select (change)="selectOption($any($event.target).value,control.role)"
              [class]="control.class"  *ngIf=" control.role === 'subsection'">
                <option   
                *ngFor="let value of control.option"
                [value]="(value.type || value.name )"
                [selected]="value.selected == 1 ? true : null"
                class="sub">{{value.name}}</option>
            </select>

            <select (change)="selectOption($any($event.target).value,control.role)"
            [class]="control.class"  *ngIf=" control.role === 'countries'">
              <option   
              *ngFor="let value of control.option"
              [value]="(value.type || value.name )"
              [selected]="value.selected == 1 ? true : null"
              class="countries">{{value.name}}</option>
          </select>

          <select (change)="selectOption($any($event.target).value,control.role)"
          [class]="control.class"  *ngIf=" control.role === 'cities'">
            <option   
            *ngFor="let value of control.option"
            [value]="(value.type || value.name )"
            [selected]="value.selected == 1 ? true : null"
            class="cities">{{value.name}}</option>
        </select>

              <select (change)="selectOption($any($event.target).value,control.role)"
              [class]="control.class"  *ngIf=" control.role === 'sort'">
                <option   
                *ngFor="let value of control.option"
                [value]="(value.type || value.name )"
                [selected]="value.selected == 1 ? true : null"
                class="sort">{{value.name}}</option>
            </select>


              <a  *ngIf="control.type === 'a'" [class]="control.class" [routerLink]="control.routerLink">{{control.name}}</a>
            </section>

            
        </form>
    </div>
</article>  

 -->

