@import '../../../../assets/styles/abstract/varibales';
@import '../../../../assets/styles/abstract/mixins';
@import '../../../../assets/styles/components/layouts/main_navbar';

.card-body {
    flex: 1 1 auto;
    padding: 0 !important; 
}

.card-header {
     padding: 0 !important; 
}

.notification {

    color: #1f6b00;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    text-align: end;
  }
  
  .notification .badge {
    position: absolute;
    top: -8px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: #FFAA00;
    color: #1f6b00;
  }

  .sign-box .notification:hover{
    background: none!important;
  }
  .scroll-menu {
    max-height: 350px;
    overflow-y: auto;
    left: auto;
}
.scroll-menu :hover{
  background: none!important;
}
.dropdown-item{
  white-space: normal!important;
}

@media screen and (min-width:1000px) {
  .scroll-menu {
    right: 80%;
    left: 2%;
  }
}

.small-button{
 background-color: #1f6b00;
 color: #FFAA00;
 padding-left: 10px;
 padding-right: 10px;
  border-radius:10% ;
  cursor: pointer;
}

.small-button:hover{
  color: #1f6b00 ;
 }
 img{
  cursor: pointer;
 }