@import '../../../../assets/styles/abstract/varibales';
@import '../../../../assets/styles/abstract/mixins';
@import '../../../../assets/styles/components/layouts/main_navbar';

.card-body {
    flex: 1 1 auto;
    padding: 0 !important; 
}

.card-header {
     padding: 0 !important; 
}

.notification {

    color: #1f6b00;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    
    display: inline-block;
    border-radius: 2px;
    text-align: end;
  }
  
  .notification .badge {
    position: absolute;
    top: -8px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: #FFAA00;
    color: #1f6b00;
  }

  .sign-box .notification:hover{
    background: none!important;
    
  }

  .sign-box{
    // margin-left: 2rem !important;
    font-size: 1.2rem !important;
  }
  .scroll-menu {
    max-height: 350px;
    overflow-y: auto;
    left: auto;
}
.scroll-menu :hover{
  background: none!important;
}
.dropdown-item{
  white-space: normal!important;
}

@media screen and (min-width:1000px) {
  .scroll-menu {
    right: 80%;
    left: 2%;
  }
}

.small-button{
 background-color: #1f6b00;
 color: #FFAA00;
 padding-left: 10px;
 padding-right: 10px;
  border-radius:10% ;
  cursor: pointer;
}

.small-button:hover{
  color: #1f6b00 ;
 }
 img,a{
  cursor: pointer;
 }

 
 .search-area {
  border: 0.5px solid #dbddda;
  border-radius: 26px;
  width: 40%;
  margin-right: auto;
  padding-top: 0.9rem !important;
  padding-bottom: 0.6rem !important;
  box-shadow: rgb(0 0 0 / 10%) 0px 5px 15px;
 }
input{
  align-content: center;
}

.search-area:focus{
  box-shadow: 2px 5px 10px 0px rgba(24, 65, 5, 0.5)
}
.profile-photo{
  height: 40px;
}
@media screen and (min-width:1490px) {

.nav-link, .navbar-brand{
   padding-right: 3.5rem !important;
  padding-left: 3.5rem !important;
  font-size: 1.2rem !important;
    color: #1f6b00 !important;
}
}

@media screen and (max-width:1489px) {
  .nav-2 .nav-link{
    padding-right: 2.5rem !important;
    padding-left: 2.5rem !important;
  }
  }
 .profile-box .nav-link{
  padding-right: 0px !important;
  padding-left: 0rem !important;
}
.nav-1{
  background-image: url(../../../../assets/images/nav1.svg);
  // background-size: cover;
}
.nav-2{
  padding: 5px!important;
}
.nav-2 .nav-link{
  font-size: 1.2rem !important;
  color: #1f6b00 !important;

}

@media screen and (max-width:991px) {
  .nav-1{
    position: sticky;
    top: 0;
    width: 100%; 
    z-index: 1000;
  }
}



@media screen and (min-width:1629px) {
  .nav-2 .nav-link{
    padding-right: 7.5rem !important;
    padding-left: 7.5rem !important;
  }
  }

  @media screen and (max-width:1628px) {
    .nav-2 .nav-link{
      padding-right: 3.5rem !important;
      padding-left: 3.5rem !important;
    }
    }
.navbar-2{
    color: #1f6b00 !important;
    font-weight: bold;
    justify-content: center;
}


.icons{
  width: 50px;
  margin-left: 10px;
  height: 50px;
}

.service{
  text-align: start !important;
  padding-right: 2rem !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

// a:hover{
//   background-color: #F0F0F0;
//   border-radius: 10px;
// }

.nav-item .nav-link:hover{
  color: $font-color-main !important ;
}