@import '../../../../assets/styles/abstract/varibales';
@import '../../../../assets/styles/abstract/mixins';
@import '../../../../assets/styles/components/layouts/main_navbar';

.card-body {
    flex: 1 1 auto;
    padding: 0 !important; 
}

.card-header {
     padding: 0 !important; 
}

.notification {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    text-align: end;
  }
  
  .notification .badge {
    position: absolute;
    top: -8px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: #FFAA00;
    color: #1f6b00;
  }

  .sign-box .notification:hover{
    background: none!important;
  }
  .scroll-menu {
    max-height: 280px;
    overflow-y: auto;
}