
  <!-- Start Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">


    <a class="navbar-brand" (click)="navigate()">
        <img alt="main logo" src="assets/images/logo.png" >
    </a>

    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"  (click)="toggleNavbar()"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                
                <div class="container d-lg-none   d-block">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header " id="headingOne">
                                    <a class="nav-link fs-5" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
                                      القطاعات <i class="fa-solid fa-sort-down fs-6"></i>
                                    </a>
                            </div>
                            <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body" id="child1">
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseOneA">القطاع الداجني <i class="fa-solid fa-caret-down"></i></a>
                                        </div>
                                        <div class="card-body collapse" data-parent="#child1" id="collapseOneA">
                                            <a class="nav-link" [routerLink]="['/stock-exchange/poultry']">البورصة اليومية</a>
                                        </div>
                                        <div class="card-body collapse" data-parent="#child1" id="collapseOneA">
                                            <a class="nav-link" [routerLink]="['/companies-guide/poultry']">دليل الشركات</a>
                                        </div>
                                        <div class="card-body collapse" data-parent="#child1" id="collapseOneA">
                                            <a class="nav-link" [routerLink]="['/news/poultry']">الأخبار</a>
                                        </div>
                                        <div class="card-body collapse" data-parent="#child1" id="collapseOneA">
                                            <a class="nav-link" [routerLink]="['/market/poultry']">سوق الكنانى</a>
                                        </div>
                                    </div>
                
                                </div>
                            </div>
                            <div id="collapseOne" class="collapse " aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body" id="child2">
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseOneB">القطاع الحيواني <i class="fa-solid fa-caret-down"></i></a>
                                        </div>
                                        <div class="card-body collapse" data-parent="#child2" id="collapseOneB">
                                            <a class="nav-link" [routerLink]="['/stock-exchange/animal']">البورصة اليومية</a>
                                        </div>
                                        <div class="card-body collapse" data-parent="#child2" id="collapseOneB">
                                            <a class="nav-link" [routerLink]="['/companies-guide/animal']">دليل الشركات</a>
                                        </div>
                                        <div class="card-body collapse" data-parent="#child2" id="collapseOneB">
                                            <a class="nav-link" [routerLink]="['/news/animal']">الأخبار</a>
                                        </div>
                                        <div class="card-body collapse" data-parent="#child2" id="collapseOneB">
                                            <a class="nav-link" [routerLink]="['/market/animal']">سوق الكنانى</a>
                                        </div>
                                    </div>
                
                                </div>
                            </div>
                            <div id="collapseOne" class="collapse " aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body" id="child3">
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseOneC">القطاع الزراعي <i class="fa-solid fa-caret-down"></i></a>
                                        </div>
                                        <div class="card-body collapse" data-parent="#child3" id="collapseOneC">
                                            <a class="nav-link" [routerLink]="['/stock-exchange/farm']">البورصة اليومية</a>
                                        </div>
                                        <div class="card-body collapse" data-parent="#child3" id="collapseOneC">
                                            <a class="nav-link" [routerLink]="['/companies-guide/farm']">دليل الشركات</a>
                                        </div>
                                        <div class="card-body collapse" data-parent="#child3" id="collapseOneC">
                                            <a class="nav-link" [routerLink]="['/news/farm']">الأخبار</a>
                                        </div>
                                        <div class="card-body collapse" data-parent="#child3" id="collapseOneC">
                                            <a class="nav-link" [routerLink]="['/market/farm']">سوق الكنانى</a>
                                        </div>
                                    </div>
                
                                </div>
                            </div>
                            <div id="collapseOne" class="collapse " aria-labelledby="headingFourth" data-parent="#accordion">
                                <div class="card-body" id="child4">
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseOneD">القطاع السمكي <i class="fa-solid fa-caret-down"></i></a>
                                        </div>
                                        <div class="card-body collapse" data-parent="#child4" id="collapseOneD">
                                            <a class="nav-link" [routerLink]="['/stock-exchange/fish']">البورصة اليومية</a>
                                        </div>
                                        <div class="card-body collapse" data-parent="#child4" id="collapseOneD">
                                            <a class="nav-link" [routerLink]="['/companies-guide/fish']">دليل الشركات</a>
                                        </div>
                                        <div class="card-body collapse" data-parent="#child4" id="collapseOneD">
                                            <a class="nav-link" [routerLink]="['/news/fish']">الأخبار</a>
                                        </div>
                                        <div class="card-body collapse" data-parent="#child4" id="collapseOneD">
                                            <a class="nav-link" [routerLink]="['/market/fish']">سوق الكنانى</a>
                                        </div>
                                    </div>
                
                                </div>
                            </div>
                            <div id="collapseOne" class="collapse " aria-labelledby="headingSix" data-parent="#accordion">
                                <div class="card-body" id="child6">
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseOneF"> القطاع الصناعي <i class="fa-solid fa-caret-down"></i></a>
                                        </div>
                                        <div class="card-body collapse" data-parent="#child6" id="collapseOneF">
                                            <a class="nav-link" [routerLink]="['/companies-guide/industrial']">دليل الشركات</a>
                                        </div>
                                    </div>
                
                                </div>
                            </div>
                            <div id="collapseOne" class="collapse " aria-labelledby="headingFive" data-parent="#accordion">
                                <div class="card-body" id="child5">
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseOneE">الخيول العربية <i class="fa-solid fa-caret-down"></i></a>
                                        </div>
                                        <div class="card-body collapse" data-parent="#child5" id="collapseOneE">
                                            <a class="nav-link" [routerLink]="['/stock-exchange/horses']">البورصة اليومية</a>
                                        </div>
                                        <div class="card-body collapse" data-parent="#child5" id="collapseOneE">
                                            <a class="nav-link" [routerLink]="['/companies-guide/horses']">دليل الشركات</a>
                                        </div>
                                        <div class="card-body collapse" data-parent="#child5" id="collapseOneE">
                                            <a class="nav-link" [routerLink]="['/news/horses']">الأخبار</a>
                                        </div>
                                        <div class="card-body collapse" data-parent="#child5" id="collapseOneE">
                                            <a class="nav-link" [routerLink]="['/market/horses']">سوق الكنانى</a>
                                        </div>
                                    </div>
                
                                </div>
                            </div>
                        </div>
                
                    </div>
                </div>
                <a aria-expanded="false"  class="nav-link dropdown-toggle d-none d-lg-block fs-6 "
                    role="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    appDropdown
                    #s="appDropDown" >
                    القطاعات
                </a>

                <ul aria-labelledby="mainCategoriesDropdown" class="dropdown-menu"  [ngClass]="{'show':s.isOpen}"  aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="nav-link dropdown-toggle text-center" data-bs-toggle="dropdown"> القطاع الداجنى </a>
                        <div class="dropdown-divider"></div>

                        <ul class="submenu dropdown-menu submenu-left">
                            <li><a class="dropdown-item" [routerLink]="['/stock-exchange/poultry']">البورصة اليومية</a></li>                        <div class="dropdown-divider"></div>

                            <li><a class="dropdown-item" [routerLink]="['/companies-guide/poultry']">دليل الشركات</a></li>                        <div class="dropdown-divider"></div>

                            <li><a class="dropdown-item" [routerLink]="['/news/poultry']">الأخبار</a></li>                        <div class="dropdown-divider"></div>

                            <li><a class="dropdown-item" [routerLink]="['/market/poultry']">سوق الكنانى</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="nav-link dropdown-toggle text-center" data-bs-toggle="dropdown"> القطاع الحيوانى </a>
                        <div class="dropdown-divider"></div>

                        <ul class="submenu dropdown-menu submenu-left">
                            <li><a class="dropdown-item" [routerLink]="['/stock-exchange/animal']">البورصة اليومية</a></li>                        <div class="dropdown-divider"></div>

                            <li><a class="dropdown-item" [routerLink]="['/companies-guide/animal']">دليل الشركات</a></li>                        <div class="dropdown-divider"></div>

                            <li><a class="dropdown-item" [routerLink]="['/news/animal']">الأخبار</a></li>                        <div class="dropdown-divider"></div>

                            <li><a class="dropdown-item" [routerLink]="['/market/animal']">سوق الكنانى</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="nav-link dropdown-toggle text-center" data-bs-toggle="dropdown"> القطاع الزراعى </a>
                        <div class="dropdown-divider"></div>

                        <ul class="submenu dropdown-menu submenu-left">
                            <li><a class="dropdown-item" [routerLink]="['/stock-exchange/farm']">البورصة اليومية</a></li>                        <div class="dropdown-divider"></div>

                            <li><a class="dropdown-item" [routerLink]="['/companies-guide/farm']">دليل الشركات</a></li>                        <div class="dropdown-divider"></div>

                            <li><a class="dropdown-item" [routerLink]="['/news/farm']">الأخبار</a></li>                        <div class="dropdown-divider"></div>

                            <li><a class="dropdown-item" [routerLink]="['/market//farm']">سوق الكنانى</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="nav-link dropdown-toggle text-center" data-bs-toggle="dropdown"> القطاع السمكى </a>
                        <div class="dropdown-divider"></div>

                        <ul class="submenu dropdown-menu submenu-left">
                            <li><a class="dropdown-item" [routerLink]="['/stock-exchange/fish']">البورصة اليومية</a></li>                        <div class="dropdown-divider"></div>

                            <li><a class="dropdown-item" [routerLink]="['/companies-guide/fish']">دليل الشركات</a></li>                        <div class="dropdown-divider"></div>

                            <li><a class="dropdown-item" [routerLink]="['/news/fish']">الأخبار</a></li>                        <div class="dropdown-divider"></div>

                            <li><a class="dropdown-item" [routerLink]="['/market/fish']">سوق الكنانى</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="nav-link dropdown-toggle text-center" data-bs-toggle="dropdown"> القطاع الصناعي </a>
                        <div class="dropdown-divider"></div>

                        <ul class="submenu dropdown-menu submenu-left">
                            <li><a class="dropdown-item" [routerLink]="['/companies-guide/industrial']">دليل الشركات</a></li>           
                        </ul>
                    </li>
                    <li>
                        <a class="nav-link dropdown-toggle text-center" data-bs-toggle="dropdown"> الخيول العربية </a>

                        <ul class="submenu dropdown-menu submenu-left">
                            <li><a class="dropdown-item" [routerLink]="['/stock-exchange/horses']">البورصة اليومية</a></li>                        <div class="dropdown-divider"></div>

                            <li><a class="dropdown-item" [routerLink]="['/companies-guide/horses']">دليل الشركات</a></li>                        <div class="dropdown-divider"></div>

                            <li><a class="dropdown-item" [routerLink]="['/news/horses']">الأخبار</a></li>                        <div class="dropdown-divider"></div>

                            <li><a class="dropdown-item" [routerLink]="['/market/horses']">سوق الكنانى</a></li>
                        </ul>
                    </li>


                </ul>
               
            </li>

            <li class="nav-item dropdown " >
                <a aria-expanded="false"
                   aria-haspopup="true"
                   aria-haspopup="true"
                   aria-expanded="false"
                   class="nav-link dropdown-toggle d-lg-none  d-block fs-5 " 
                   data-toggle="dropdown"
                   role="button"
                   id="dropdownMenuButton"
                   appDropdown
                   #r="appDropDown" >
                    الخدمات
                </a>
                <a aria-expanded="false"
                aria-haspopup="true"
                aria-haspopup="true"
                aria-expanded="false"
                class="nav-link dropdown-toggle d-none d-lg-block fs-6" 
                data-toggle="dropdown"
                role="button"
                id="dropdownMenuButton"
                appDropdown
                #r="appDropDown" >
                 الخدمات
             </a>
                <div [ngClass]="{'show':r.isOpen}" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <!--                        <a class="dropdown-item" href="#">البورصة العالمية</a>-->
                    <!--                        <div class="dropdown-divider"></div>-->
                    <a  class="dropdown-item" [routerLink]="['/gallery/poultry']" >المعارض</a>
                    <div class="dropdown-divider"></div>
                    <a  class="dropdown-item" [routerLink]="['/magazine/poultry']">دلائل ومجلات</a>
                    <div  class="dropdown-divider"></div>
                    <a  class="dropdown-item" [routerLink]="['/tenders/poultry']">المناقصات</a>
                    <div class="dropdown-divider"></div>
                    <a  class="dropdown-item" [routerLink]="['/ships-traffic']">حركة السفن</a>
                    <div class="dropdown-divider"></div>
                    <a  class="dropdown-item" [routerLink]="['/employment/poultry']">الوظائف</a>
                </div>
            </li>




        </ul>

     
        <!-- <form class="form-inline my-2 my-lg-0" (onsubmit)="goToSearch(v.value)"> -->
            <input class="search-area " id="searchNavBar" #v (change)="goToSearch(v.value)" ($event)="goToSearch(v.value)"  placeholder="بحث..." type="search">
            <!-- <button class="submit" type="submit"> -->
                <i class="fas fa-search me-2"></i>
            <!-- </button>
        </form> -->



        <section class="sign-box" >    
            <!--notifications-->


            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle mr-sm-0 notification" data-toggle="dropdown"
            id="notification" role="button" (click)="check()">
            <i class="fa-regular fa-bell" ></i>
            <span class="badge" *ngIf="totalLength != 0">{{totalLength}}</span>
            </a>
            <div aria-labelledby="notification" class="dropdown-menu scroll-menu"  *ngIf="message != []">

                <!-- <a class="dropdown-item"  style="margin: 0px;" *ngFor="let m of message" [routerLink]="['/market/poultry/my-ads']"><span style="color: #FFAA00;">اضافة اعلان : {{m.notification.title}}</span><br>{{m.notification.body}}<br><span style="padding-right: 60%;font-weight: lighter;">الان</span>
                    <div class="dropdown-divider mt-2"></div></a> -->
                    <a class="dropdown-item"  style="margin: 0px;text-align: start;" *ngFor="let m of message" ><span style="color: #FFAA00;" class="align-text-right">{{m.notification.title}}</span><br><span>{{m.notification.body}}</span>
                        <br>
                        <br> 
     
                         <span [routerLink]="['/market/poultry/my-ads']" class="small-button"> رؤية اعلاناتك </span>
                         <span style="font-weight: lighter; padding-right: 40%;">الان </span><br>
                          <div class="dropdown-divider mt-2"></div>
                     </a>

                <!-- <a class="dropdown-item"  style="margin: 0px;" *ngFor="let n of notification_ads" [routerLink]="['/market/poultry/my-ads']"><span style="color: #FFAA00; ">اضافة اعلان : {{n.ad_title}}</span><br><span >{{n.noty}}</span><br><span style="padding-right: 50%;font-weight: lighter;">{{n.created_at}}</span> 
                               <div class="dropdown-divider"></div></a>
                 -->
                <a class="dropdown-item"  style="margin: 0px;text-align: start;" *ngFor="let nn of notification_all" ><span style="color: #FFAA00;" class="align-text-right">{{nn.title}}</span><br *ngIf="nn.key_name =='market'"><span *ngIf="nn.key_name =='market'">{{nn.desc}}</span><br>
                   <br> 

                    <span *ngIf="nn.key_name =='market'" [routerLink]="['/market/poultry/my-ads']" class="small-button"> رؤية اعلاناتك </span>
                    <span *ngIf="nn.key_name =='news'" class="small-button" [routerLink]="['/news/poultry/'+nn.key_id]"> رؤية الخبر </span>
                    <span *ngIf="nn.key_name =='companies'" class="small-button" [routerLink]="['/companies-guide/poultry/companies_details/type/'+nn.key_id]"> رؤية الشركة </span>

                    <span style="font-weight: lighter; padding-right: 40%;">{{nn.time}} </span><br>
                                <div class="dropdown-divider mt-2"></div>
                </a>
 
            </div>
           <!--end notification-->

            <a class="log-in"  *ngIf="islogedIn==0" [routerLink]="['/user/login']">الدخول</a>
            <a class="sign-up" *ngIf="islogedIn==0"[routerLink]="['/user/register']">انضم الان</a>
        </section>


        <section class="profile-box dropdown d-lg-block " *ngIf="islogedIn==1" style="margin: 0;display: inline-block;">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle " data-toggle="dropdown"
               href="#"
               id="navbarDropdown" role="button">
                <img alt="profile pic" class="profile-photo" src="../../../../assets/images/avatar.svg">
                <h6>{{Profile?.name}}</h6>
                <div class="arrow">
                    <img alt="arrow down" class="arrow-down" src="../../../../assets/images/down_arrow.svg">
                </div>
            </a>
            <div aria-labelledby="navbarDropdown" class="dropdown-menu" style="left: auto;">
    
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/user/setting">الإعدادات</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item"(click)="logout()" style="cursor: pointer;">تسجيل الخروج</a>
            </div>
        </section>
    </div>








<!-- 
    <section class="profile-box dropdown d-lg-block d-none" *ngIf="islogedIn==1">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
           href="#"
           id="navbarDropdown" role="button">
            <img alt="profile pic" class="profile-photo" src="../../../../assets/images/avatar.svg">
            <h6>{{Profile?.name}}</h6>
            <div class="arrow">
                <img alt="arrow down" class="arrow-down" src="../../../../assets/images/down_arrow.svg">
            </div>
        </a>
        <div aria-labelledby="navbarDropdown" class="dropdown-menu">

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/user/setting">الإعدادات</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"(click)="logout()">تسجيل الخروج</a>
        </div>
    </section> -->
</nav>



<!-- End Navigation Bar -->
