<!-- Start Footer -->
<footer style="margin-top: auto">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <ul class="col-lg-3 col-md-6 col-6">
                    <li class="title">الشركة</li>
                    <li><a routerLink="/static-pages/about-us">من نحن</a></li>
                    <li><a routerLink="/static-pages/privacy-policy">شروط الاستخدام</a></li>
                    <li><a routerLink="/static-pages/terms-and-conditions">اتفاقية الخصوصية</a></li>
                </ul>
                <ul class="col-lg-3 col-md-6 col-6">
                    <li class="title">تحتاج للمساعدة؟</li>
                    <li><a routerLink="/static-pages/contact-us">اتصل بنا</a></li>
                </ul>
                <ul class="col-lg-3 col-md-6 col-6">
                    <li class="title">القطاعات</li>
                    <li><a routerLink="/stock-exchange/poultry">البورصة اليومية</a></li>
                    <li><a routerLink="/companies-guide/poultry">دليل الشركات</a></li>
                    <li><a routerLink="/market/poultry">سوق الكناني</a></li>
                    <li><a routerLink="/news/poultry">الإخبار</a></li>
                </ul>
                <ul class="col-lg-3 col-md-6 col-6">
                    <li class="title">الخدمات</li>
                    <li><a routerLink="/gallery/:poultry">المعارض</a></li>
                    <li><a routerLink="/magazine">الدلائل والمجلات</a></li>
                    <li><a routerLink="/ships-traffic">حركة السفن</a></li>
                </ul>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <section class="media-box col-12">
                        <a class="google-play" href="https://play.google.com/store/apps/details?id=com.Elkenany" target="_blank"><img alt="google play" src="../../../../assets/images/android_ar.png"></a>
                        <a class="app-store" href="https://apps.apple.com/eg/app/%D8%A7%D9%84%D9%83%D9%86%D8%A7%D9%86%D9%8A/id1608815820" target="_blank"><img alt="app store" src="../../../../assets/images/iphone_ar.png"></a>
                    </section>
                </div>
                <div class="col-12">
                    <div class="social__bar mb-3 text-center">
                        <a class="slider__nav__item facebook" href="https://www.facebook.com/elkenanyapp"
                           target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a class="slider__nav__item twitter" href="https://twitter.com/Elkenanyapp"
                           target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="slider__nav__item instagram"
                           href="https://www.instagram.com/elkenany_group/" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="slider__nav__item youtube"
                           href="https://www.youtube.com/channel/UCDWq4tL0xEnXHsULbb-6xEw?view_as=subscriber" target="_blank">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <!-- <a class="slider__nav__item google-plus"
                           href="mailto:info@elkenanygroup.com"
                           target="_blank">
                            <i class="fab fa-google-plus"></i>
                        </a> -->
                        <a class="slider__nav__item linkedin"
                           href="https://www.linkedin.com/company/elkenany-group/" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                </div>
                <div class="col-12">
                    <p class="copyright__text">جميع الحقوق &copy; محفوظة للكنانى جروب 2022</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
