.page__tabs {
  padding: 2rem auto;

  &.nb-0 {
    padding-bottom: 0;
  }

  .tabs__list {
    @include semi-flex(center, space-around, row, nowrap);
    list-style: none;

    @media (max-width: 767px) {
      @include semi-flex(center, space-around, row, wrap);
    }
  }

  .list__item {
    margin-bottom: 1rem;

    &.list__item-4 {
      width: 24%;
    }

    &.list__item-3 {
      width: 30%;
    }

    &.list__item-2 {
      width: 315px;
    }

  }

  .list__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: $font-color-second;
    transition: all .3s ease-in-out;
    padding: .6rem 1rem;
    min-width: 160px;
    border-radius: 20px;
    background-color: var(--yellow);
    display: inline-block;
    text-align: center;
    width: 100%;
    @media (max-width: 767px) {
      width: 115px;
    }

    &.active {
      color: white;
      background-color: $font-color-second;
    }

    @media (max-width: 767px) {
      font-size: 1.1rem;
    }

    &:hover {
      background-color: $font-color-second;
      color: white;
    }
  }
}

@media screen and (max-width: 767px) {
  .page__tabs {
    padding: 1rem 0;

    .list__item {
      width: 45%;

      &.list__item-4 {
        width: 45%;
      }

      &.list__item-3 {
        width: 45%;
      }

      &.list__item-2 {
        width: 45%;
      }
    }


    .list__link {
      font-size: 1.2rem;
      padding: .4rem 1rem;
      min-width: auto;
      display: inline-block;
      width: 100%;
    }
  }
}
