    <!-- Strat Add Ads Form -->
    <article class="add__add__container">
        <div class="ads__holder">
            <h2 class="main-title">تعديل إعلان</h2>
            <form class="form-box">
                <input class="ad-name inputs" placeholder="اسم الإعلان" type="text">
                <input class="ad-price inputs" placeholder="السعر" type="number">
                <input class="ad-date inputs" id="date" onfocus="(this.type='date')" placeholder="التاريخ" type="text">
                <input class="ad-address inputs" placeholder="العنوان" type="text">
                <select class="inputs">
                    <option disabled value="op">نوع الخدمة</option>
                    <option value="op1">خدمة 1</option>
                    <option selected value="op2">خدمة 2</option>
                    <option value="op3">خدمة 3</option>
                    <option value="op4">خدمة 4</option>
                    <option value="op5">خدمة 5</option>
                </select>
                <input class="ad-number inputs" placeholder="الموبايل" type="number">
                <textarea class="ad-address inputs" name="description" placeholder="تفاصيل الاعلان" rows="5"></textarea>
                <div class="input-images">
                </div>
                <span class="contact-me">تواصل معي عن طريق</span>
                <section class="radio-box">
                    <div class="box">
                        <input id="mobile" name="contact-ways" type="radio" value="mobile">
                        <label for="mobile">الموبايل</label>
                    </div>
                    <div class="box center-box">
                        <input id="msgs" name="contact-ways" type="radio" value="msgs">
                        <label for="msgs">الرسائل</label>
                    </div>
                    <div class="box">
                        <input id="both" name="contact-ways" type="radio" value="both">
                        <label for="both">كلاهما</label>
                    </div>
                </section>
                <a class="submit" href="#">تعديل الإعلان</a>
            </form>
        </div>
    </article>
    <!-- End Add Ads Form -->