.pagination__container {
  margin: 1.5rem auto;

  .pagination {
    justify-content: center;

    .page-item {
      .page-link {
        color: $color-main;
        transition: 0.2s all ease-in-out;

      }

      &:hover {
        background: $bg-color-main;
      }
    }
  }

  .page-item.active .page-link {
    background-color: $bg-color-main !important;
    border-color: $bg-color-main !important;
  }
}
