

<div class="main__content__body mt-md-5">
    <!-- Start Login -->
    <article class="container login ">
        <h2 class="main-title font-weight-bold">اختر طريقة الدفع</h2>
        <div class="auth__holder">
            <section class="login-box">
                <img alt="Main Logo" src="../../../../favicon.ico">
                <div class="form__container">
                   

                            <div class="small__bar__container ">
                
                               <a class="single__action p-5 h5" href="https://elkenany.com/customer/login">
                                      
                                        الدفع عن طريق ال Credit Card
                                </a>

                                <a class="single__action p-5 h5" >
                                      
                                    الدفع عن طريق المحافظ الكترونية
                            </a>
                           

                        </div>
                </div>


            </section>
        </div>
    </article>
    <!-- End Login -->
</div>
