.small__container .action {
    background: #1a5302;
    padding: 0.8rem;
    /* text-align: center; */
    border-radius: 8px;
    margin: 0.8rem auto;
    color: #FFAA00;
    direction: rtl;
    display: flex;
    /* justify-content: flex-start; */
    align-items: baseline;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}