

      <!-- page tabs -->
  <div class="page__tabs container">
    <ul class="tabs__list">
        <li class="list__item list__item-2" >
            <a class="list__link active" routerLink="about/{{id}}" [routerLinkActive]="['active']"
            >عن المعرض</a
            >
        </li>

        <li class="list__item list__item-2">
            <a class="list__link" routerLink="reviews"[routerLinkActive]="['active']">المراجعات</a>
        </li>

    </ul>
</div>
<!-- page tabs -->

  <router-outlet></router-outlet>