<section class="sidebar__sticky">
    <h2 
    
    (click)="ShowHideContent()"
    class="main-title" 
    
    >
        حدد بحثك
        <i class="icon-s fas fa-search"></i>
    </h2>

 <div 
    [ngStyle]="{'display': showContent ? 'block' : ( showContent? 'none' : null) }
    "class=" accordion ">

    <div class="card">
        <div class="card-header" id="headingSearch">
            <h5 class="mb-0">
                <button aria-controls="collapseSearch" aria-expanded="false"
                        class="btn btn-link collapsed" data-target="#collapseSearch"
                        data-toggle="collapse">
                    <i class="fas fa-search"></i>
                    البحث
                </button>
            </h5>
        </div>
        <div aria-labelledby="headingSearch" class="collapse show" data-parent="#accordion"
             id="collapseSearch">
            <div class="card-body">
                <input class="search__input" placeholder="بحث" type="search">
            </div>
        </div>
    </div>
     
        <div *ngFor="let control of data?.controls" >
            <div class="card" *ngIf="control.type !== 'text'">
                <div class="card-header" id="headingSearch">
                    <h5 class="mb-0">
                        <button  aria-controls="collapseSearch" aria-expanded="false"
                                class="btn btn-link collapsed"
                                data-target="#collapseSearch"
                                data-toggle="collapse"
                                appDropdown
                                #s1="appDropDown">
                                <i [class]="control.icon"></i>

                                
                                  {{control.name}}
                        </button>
                    </h5>
                </div>
                <div  [ngClass]="{'show':s1.isOpen}" aria-labelledby="dropdownMenuButton"
                      class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <ul *ngIf="control.type === 'select' && control.name !== 'text'">
                            <li *ngFor="let option of control.option">  
                                <a>
                                    <input 
                                        (change)="selectOption(option.type || option.value ||option.name,control.role)"
                                        [value]="(option.type || option.name )"
                                        [checked]="option.selected"
                                        checked id="tab-1-val-1" name="tab-1-values"
                                        type="radio"
                                        value="">
                                    <label for="tab-1-val-1">{{option.name}}</label>
                                </a>
                            </li>
    
                        </ul>
                       
                        <a *ngIf="control.type === 'a' " class="stats__btn" [routerLink]="control.routerLink">{{control.name}}</a>
                    
                    </div>
                </div>
            </div>
        </div>
  



        <!-- <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">


                    <button
                     aria-controls="collapseOne" 
                     class="btn btn-link"
                     data-target="#collapseOne" 
                     role="button"
                     id="dropdownMenuButton"
                     data-toggle="dropdown"
                     aria-haspopup="true"
                     aria-expanded="false"
                     appDropdown
                     #s1="appDropDown">
                        <i class="fas fa-puzzle-piece"></i>
                        القطاع
                    </button>
                </h5>
            </div>
            <div 
              [ngClass]="{'show':s1.isOpen}" aria-labelledby="dropdownMenuButton"
           class="collapse" data-parent="#accordion"
                 id="collapseOne">
                <div class="card-body">
                    <ul >
                        <li *ngFor="let control of data?.controls">
                            <a>
                                <input checked id="tab-1-val-1" name="tab-1-values" type="radio"
                                       value="">
                                <label for="tab-1-val-1">الداجني</label>
                            </a>
                        </li>
                        <li>
                            <a>
                                <input id="tab-1-val-2" name="tab-1-values" type="radio" value="">
                                <label for="tab-1-val-2">الحيواني</label>
                            </a>
                        </li>
                        <li>
                            <a>
                                <input id="tab-1-val-3" name="tab-1-values" type="radio" value="">
                                <label for="tab-1-val-3">الزراعي</label>
                            </a>
                        </li>
                        <li>
                            <a>
                                <input id="tab-1-val-4" name="tab-1-values" type="radio" value="">
                                <label for="tab-1-val-4">السمكي</label>
                            </a>
                        </li>
                        <li>
                            <a>
                                <input id="tab-1-val-5" name="tab-1-values" type="radio" value="">
                                <label for="tab-1-val-5">الخيول العربية</label>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button
                     aria-controls="collapseTwo" 
                     data-target="#collapseTwo" 
                     role="button"
                     id="dropdownMenuButton"
                     data-toggle="dropdown"
                     aria-haspopup="true"
                     aria-expanded="false"
                     appDropdown
                     #s2="appDropDown"
                     class="btn btn-link collapsed" 
                     data-target="#collapseTwo"
                     >
                        <i class="fas  fa-sort-amount-down"></i>
                        الترتيب
                    </button>
                </h5>
            </div>
            <div [ngClass]="{'show':s2.isOpen}"  aria-labelledby="headingTwo" class="collapse" data-parent="#accordion" id="collapseTwo">
                <div class="card-body">
                    <ul>
                        <li>
                            <a>
                                <input checked id="tab-2-val-1" name="tab-2-values" type="radio"
                                       value="">
                                <label for="tab-2-val-1">ابجديا</label>
                            </a>
                        </li>
                        <li>
                            <a>
                                <input id="tab-2-val-2" name="tab-2-values" type="radio" value="">
                                <label for="tab-2-val-2">اكثر تداول</label>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button
                     
                     role="button"
                     id="dropdownMenuButton"
                     data-toggle="dropdown"
                     aria-haspopup="true"
                     appDropdown
                     #s3="appDropDown"
                     aria-controls="collapseThree" 
                     aria-expanded="false"
                     class="btn btn-link collapsed" 
                     data-target="#collapseThree"
                     >
                        <i class="fas fa-poll"></i>
                        الاحصائيات
                    </button>
                </h5>
            </div>
            <div [ngClass]="{'show':s3.isOpen}" 
id="collapseTwo"
            aria-labelledby="headingThree" class="collapse" data-parent="#accordion"
                 id="collapseThree">
                <div class="card-body">
                    <a class="stats__btn" href="statistics_main.html">احصائيات</a>
                </div>
            </div>
        </div> -->
    </div> 
</section>

