
<section class="sidebar__sticky d-lg-none d-block">
    <h2 
    
    (click)="ShowHideContent()"
    class="main-title" 
    
    >
        حدد بحثك
        <i class="icon-s fas fa-search"></i>
    </h2>

 <div [ngStyle]="{'display': showContent ? 'block' : ( showContent? 'none' : null) }"class=" accordion ">

    <div class="card"style="border:none" >
        <div class="card-header" id="headingSearch">
            <h5 class="mb-0">
                <button aria-controls="collapseSearch" aria-expanded="false"
                        class="btn btn-link collapsed" data-target="#collapseSearch"
                        data-toggle="collapse">
                    <i class="fas fa-search"></i>
                    البحث
                </button>
            </h5>
        </div>
        <div aria-labelledby="headingSearch" class="collapse show" data-parent="#accordion"
             id="collapseSearch">
            <div class="card-body">
                <input class="search__input" placeholder="بحث" type="search" (input)="selectOption($any($event.target).value,'search')">
            </div>
        </div>
    </div>
     

    
        <div *ngFor="let control of data?.controls" >
            <div class="card" style="border:none" *ngIf="control.type !== 'text' && control.type !== 'search' && control.type !== 'a' && control.role !== 'countries' && control.role !== 'cities' && control.role !== 'date'">
                <div class="card-header" id="headingSearch">
                    <h5 class="mb-0">
                        <button  aria-controls="collapseSearch" aria-expanded="false"
                                class="btn btn-link collapsed"
                                data-target="#collapseSearch"
                                data-toggle="collapse"
                                appDropdown
                                #s1="appDropDown">
                                <i [class]="control.icon"></i>

                                
                                  {{control.name}}
                        </button>
                    </h5>
                </div>
                <div  [ngClass]="{'show':s1.isOpen}" aria-labelledby="dropdownMenuButton"
                      class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <!-- <h4 class="title">{{control.name}}:</h4> -->



                        <ul *ngIf="control.type === 'select' && control.name !== 'text'&& control.role !== 'sort' && control.role !== 'subsection' " class="long__list ">
                            <li *ngFor="let option of control.option">  
                                <a>
                                    <input 
                                        (change)="selectOption(option.type || option.value ||option.name,control.role)"
                                        [value]="(option.type || option.name )"
                                        [checked]="option.selected"
                                        checked id="tab-1-val-1" name="tab-1-values"
                                        type="radio"
                                        value="">
                                    <label for="tab-1-val-1">{{option.name}}</label>
                                </a>
                            </li>
    
                        </ul> 
                       
                        <!-- <div class="card-body"> -->
                        <ul *ngIf="control.role === 'subsection'" class="long__list sub_sections">
                            <li *ngFor="let option of control.option">  
                                <a>
                                    <input 
                                        (change)="selectOption(option.type || option.value ||option.name,control.role)"
                                        [value]="(option.type || option.name )"
                                        [checked]="option.selected"
                                        checked id="tab-3-val-1" name="tab-3-values"
                                        type="radio"
                                        value="">
                                    <label for="tab-3-val-1">{{option.name}}</label>
                                </a>
                            </li>
    
                        </ul> 
                        <!-- </div> -->


                        <ul *ngIf="control.type === 'select' && control.role === 'sort'">
                            <li *ngFor="let option of control.option">  
                                <a>
                                    <input 
                                        (change)="selectOption(option.type || option.name ||option.value,'sort')"
                                        [value]="(option.type || option.name )"
                                        [checked]="option.selected"
                                        checked id="tab-2-val-1" name="tab-2-values"
                                        type="radio"
                                        value="">
                                    <label for="tab-2-val-1">{{option.name}}</label>
                                </a>
                            </li>
    
                        </ul> 


                        <a *ngIf="control.type === 'a' " class="stats__btn" [routerLink]="control.routerLink">{{control.name}}</a>
                    
                    </div>
                </div>
            </div>
        </div>
  



    </div> 
</section>
