.multi__selectContainer {
  padding: 1rem 0;
}

.stats__details {
  .title__page {
    font-size: 1.5rem;
    margin: 2rem auto 0 auto;
    text-align: center;
  }

  .chart__container {
    text-align: center;
  }


  .statistics__main {
    padding: 0;

    .table {
      .head {
        .title {
          width: 23% !important;
          height: 55px;
        }
      }

      .rows__container {
        .rows {
          .data {
            width: 23% !important;
          }
        }
      }
    }
  }
}


