

    <!-- Start Global Content -->
    <article class="global__container mt-0 container">
        <div class="row">
            <a class="action__yellow__green__button w-100"routerLink="/market/{{type}}/add-edit-ad/0">+ أضف إعلانك</a>
            <div class="new__cards p-0 my-2 row">
                <div class="col-12" *ngFor="let ad of ads?.data" >
                    <div class="product__card ultra__card regular__hover" >
                        <div class="image__card">
                            <img alt='product__image'
                                 [src]='ad.image'/>
                        </div>
                        <div class="product__content">
                            <header class="product__title" routerLink="/market/poultry/ad_details/{{ad.id}}">
                                <a >
                                   {{ad.title}}
                                </a>
                            </header>
                            <section class='product__info'>
                                <p class="note text-center">
                                    {{ad?.desc}}
                                </p>
                            </section>
                            <section class='product__content'>
                                <p class="note text-center text-warning" *ngIf="ad?.status=='2'">
                                    الاعلان تحت المراجعة
                                </p>
                                <p class="note text-center text-danger" *ngIf="ad?.status=='0'">
                                    الاعلان غير مقبول("{{ad?.message}}")
                                </p>
                            </section>
                            <section class="product__bottom">
                                <section class="address-box">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span class="address">  {{ad.address}} </span>
                                </section>
                                <a class="more__details" routerLink="/market/poultry/ad_details/{{ad.id}}">اعرف أكتر</a>
                            </section>
                        </div>
                        <div class="market__dropdown">
                            <button aria-expanded="false" aria-haspopup="true"
                                    class="dropdown-toggle menu" data-toggle="dropdown"
                                    id="dropdownMenuButton" type="button">
                            </button>
                            <div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
                                <a class="dropdown-item" (click)="editAd(ad.id)">تعديل الاعلان</a>
                                <a class="dropdown-item" routerLink="/market/{{type}}/add-edit-ad/{{ad.id}}">اعلان
                                    مدفوع</a>
                                <a class="dropdown-item trigger" (click)="removeAd(ad.id)">حذف الاعلان</a>
                            </div>
                        </div>
                    </div>
                </div>
  
                <!-- Start POPUP -->
                <article class="popup-overlay" id="popup-overlay">
                    <div class="popup-transport" id="popup">
                        <div class="popup-close" id="close">
                            <i class="fas fa-times"></i>
                        </div>
                        <section class="popup-content">
                            <h3 class="popup-title danger__title">حذف الاعلان</h3>
                            <p class="popup-description">
                                سيتم حذف الاعلان، هل تريد الاستمرار
                            </p>
                        </section>
                        <a class="action__yellow__green__button w-50" href="#">استمرار</a>
                    </div>
                </article>
                <!-- End POPUP -->
            </div>
        </div>
    </article>