<div class="main__content__body">



    <div class="breadcrumb__container st-1 container">
        <div class="custom__breadcrumb">
            <h1 class="page__title">مقارنة {{h_search_form.title}}</h1>
        </div>
    </div>

    <!-- Start Search Box -->
    <article class="inner-search-box d-lg-block d-none d-sm-none d-md-none">
        <div class="container">
            <form class="box-tabs">
                <div class="search-box-overlay"></div>






                <section class="tabs tabs-3">
                    <i class="far fa-building"></i>


            


                     <h4 class="title" >الشركات:</h4> 
                    <!-- Start MultisSelect Box -->
                    <div class="multiselect" id="multiselect-companies">
                        <a (click)="togglecom = !togglecom"  >
                       
                        
                        <div class="selectBox" >
                   
                            <select>
                                <option >اختر الشركات = </option>
                            </select>
                            <span class="warning">حد أقصي 3 شركات</span>
                            <span class="companies-error">اختر شركة واحد علي الاقل</span>
                            <div class="overSelect"></div>
                        </div>
                    </a>
    


                        <div class="checkboxes" id="checkboxes-companies"  [ngStyle]="{ 'display': togglecom? 'block':'' }"  >
                            <div class="company__search">
                                <label for="search">
                                    <input class="" id="search" name="search" placeholder="ابحث عن"
                                           type="search" >
                                </label>
                            </div>


                            <form [formGroup]="formCommapny" (ngSubmit)="submitForm()" novalidate>
                                <div *ngFor="let data of comparisonData?.companies; let i=index">
                                  <label>
                                    <input [disabled]="   formCommapny.value.checkArray.length>2 && !findCompanies(data.id)  " type="checkbox" [value]="data.id" (change)="onCheckComany($event)" />
                                    {{data.name}}
                                  </label>
                                </div>
                                <!-- <input type="submit" value="Submit"> -->
                              </form>




                        </div>
                    </div>
                    <!-- End MultisSelect Box -->
                </section>










                <section class="tabs tabs-3">
                    <i class="fas fa-bars"></i>
                    <h4 class="title">الأصناف:</h4>
                    <!-- Start MultisSelect Box -->
                    <div class="multiselect" id="multiselect-items">

                        <a (click)="toggleCat = !toggleCat"  >
                        <div class="selectBox" >
                            <select>
                                <option>اختر الأصناف</option>
                            </select>

                            
                            <span class="items-counter" id="items-counter">عدد الأصناف: {{formFeeds.value.checkArray.length}}</span>
                            <span class="items-error">اختر صنف واحد علي الاقل</span>
                            <div class="overSelect"></div>

                            
                        </div>

                    </a>
                        <div class="checkboxes" id="checkboxes-items" [ngStyle]="{ 'display': toggleCat? 'block':'' }">
                            <div class="type__search">
                                <label for="search__type">
                                    <input class="search__inputs" id="search__type" name="search" placeholder="ابحث عن"
                                           type="search">
                                </label>
                            </div>
                            <form [formGroup]="formFeeds" (ngSubmit)="submitForm()" novalidate>
                                <div *ngFor="let data of comparisonData?.feeds; let i=index">
                                  <label>
                                    <input  type="checkbox" [value]="data.id" (change)="onCheckFeeds($event)" />
                                    {{data.name}}
                                  </label>
                                </div>
                                <!-- <input type="submit" value="Submit"> -->
                              </form>
                        </div>
                    </div>
                    <!-- End MultisSelect Box -->
                </section>
                <section class="tabs tabs-3 tabs-especial" (click)="submitForm()">
                    <span class="submit" id="search-box-submit">تطبيق</span>
                </section>
            </form>
        </div>
    </article>
    <!-- End Search Box -->

    <!-- Start Accordion Section -->
    <section class="special__accordion container d-lg-none d-block d-md-block" id="fodder__comparison">
        <button aria-controls="collapseExample" aria-expanded="false" class="main-title" data-toggle="collapse"
                href="#accordion"
                id="show-hide-accordion" role="button">
            تحديد الشركات
            <i class="icon-s fas fa-search"></i>
        </button>
        <div class="accordion collapse show" id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-link"
                                data-target="#collapseOne" data-toggle="collapse">
                            <i class="far fa-building"></i>
                            الشركات
                        </button>
                        <span class="companies-error-accordion">اختر شركة واحد علي الاقل</span>
                    </h5>
                </div>
                <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordion" id="collapseOne">
                    <div class="card-body">
                        <!-- Start MultisSelect Box -->
                        <div class="multiselect multiselect-accordion" id="multiselect-companies-accordion">
                            <div class="selectBox">
                                <span class="warning">حد أقصي 3 شركات</span>
                                <div class="overSelect"></div>
                            </div>
                            <!--        ADD list__shadow IF list length >5                    -->
                            <div class="checkboxes list__shadow" id="checkboxes-companies-accordion">
                                <div class="company__search">
                                    <label for="search">
                                        <input class="" id="search__accordion" name="search" placeholder="ابحث عن"
                                               type="search">
                                    </label>
                                </div>
                                <label class="company__filter__label-accordion" for="company-accordion-one">
                                    <input class="checks checks-company-accordion" id="company-accordion-one"
                                           name="companies-accordion" type="checkbox">شركة الكناني
                                    جروب</label>
                                <label class="company__filter__label-accordion" for="company-accordion-two">
                                    <input class="checks checks-company-accordion" id="company-accordion-two"
                                           name="companies-accordion" type="checkbox">شركة الكناني
                                    جروب</label>
                                <label class="company__filter__label-accordion" for="company-accordion-three">
                                    <input class="checks checks-company-accordion" id="company-accordion-three"
                                           name="companies-accordion" type="checkbox">شركة
                                    الكناني
                                    جروب</label>
                                <label class="company__filter__label-accordion" for="company-accordion-four">
                                    <input class="checks checks-company-accordion" id="company-accordion-four"
                                           name="companies-accordion" type="checkbox">شركة
                                    الكناني
                                    جروب</label>
                                <label class="company__filter__label-accordion" for="company-accordion-five">
                                    <input class="checks checks-company-accordion" id="company-accordion-five"
                                           name="companies-accordion" type="checkbox">شركة
                                    الكناني
                                    جروب</label>
                                <label class="company__filter__label-accordion" for="company-accordion-six">
                                    <input class="checks checks-company-accordion" id="company-accordion-six"
                                           name="companies-accordion" type="checkbox">شركة الكناني
                                    جروب</label>
                                <label class="company__filter__label-accordion" for="company-accordion-seven">
                                    <input class="checks checks-company-accordion" id="company-accordion-seven"
                                           name="companies-accordion" type="checkbox">شركة
                                    الكناني
                                    جروب</label>
                            </div>
                        </div>
                        <!-- End MultisSelect Box -->
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button aria-controls="collapseTwo" aria-expanded="false" class="btn btn-link collapsed"
                                data-target="#collapseTwo" data-toggle="collapse">
                            <i class="fas fa-bars"></i>
                            الأصناف
                        </button>
                        <span class="items-error-accordion">اختر صنف واحد علي الاقل</span>
                    </h5>
                </div>
                <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordion" id="collapseTwo">
                    <div class="card-body">
                        <!-- Start MultisSelect Box -->
                        <div class="multiselect multiselect-accordion" id="multiselect-items-accordion">
                            <div class="selectBox">
                                <span class="items-counter" id="items-counter-accordion">عدد الأصناف: 0</span>
                                <div class="overSelect"></div>
                            </div>
                            <!--        ADD list__shadow IF list length >5                    -->
                            <div class="checkboxes list__shadow" id="checkboxes-items-accordion">
                                <div class="type__search">
                                    <label for="search__type">
                                        <input class="search__inputs" id="search__type__accordion" name="search"
                                               placeholder="ابحث عن"
                                               type="search">
                                    </label>
                                </div>
                                <label class="type__filter__label-accordion" for="item-accordion-one">
                                    <input class="checks checks-item-accordion" id="item-accordion-one"
                                           name="items-accordion"
                                           type="checkbox"> اسماء
                                    اصناف
                                    الشركات
                                </label>
                                <label class="type__filter__label-accordion" for="item-accordion-two">
                                    <input class="checks checks-item-accordion" id="item-accordion-two"
                                           name="items-accordion"
                                           type="checkbox"> اسماء
                                    اصناف
                                    الشركات
                                </label>
                                <label class="type__filter__label-accordion" for="item-accordion-three">
                                    <input class="checks checks-item-accordion" id="item-accordion-three"
                                           name="items-accordion"
                                           type="checkbox">
                                    اسماء
                                    اصناف
                                    الشركات
                                </label>
                                <label class="type__filter__label-accordion" for="item-accordion-four">
                                    <input class="checks checks-item-accordion" id="item-accordion-four"
                                           name="items-accordion"
                                           type="checkbox"> اسماء
                                    اصناف
                                    الشركات
                                </label>
                                <label class="type__filter__label-accordion" for="item-accordion-five">
                                    <input class="checks checks-item-accordion" id="item-accordion-five"
                                           name="items-accordion"
                                           type="checkbox"> اسماء
                                    اصناف
                                    الشركات
                                </label>
                                <label class="type__filter__label-accordion" for="item-accordion-six">
                                    <input class="checks checks-item-accordion" id="item-accordion-six"
                                           name="items-accordion"
                                           type="checkbox"> اسماء
                                    اصناف
                                    الشركات
                                </label>
                                <label class="type__filter__label-accordion" for="item-accordion-seven">
                                    <input class="checks checks-item-accordion" id="item-accordion-seven"
                                           name="items-accordion"
                                           type="checkbox">
                                    اسماء
                                    اصناف
                                    الشركات
                                </label>
                            </div>
                        </div>
                        <!-- End MultisSelect Box -->
                    </div>
                </div>
            </div>
            <a class="submit-accordion" (click)="submitForm()">تطبيق</a>
        </div>
    </section>
    <!-- End Accordion Section -->

    <!-- Start Comparison -->
    <article class="comparison container" >
        <div class="comparison-holder" id="comparison-holder">
        </div>
         <div class="comparison-holder" id="comparison-holder" *ngIf="comparedData?.companies">
                <section class="company-card"  *ngFor="let i of comparedData?.companies">
                    <a class="company-head" [routerLink]="['/companies-guide/poultry/companies_details/poultry',i.id]">
                        <img alt="logo" class="company-logo" [src]="i.image">
                        <h3 class="company-title">{{i.name}}</h3>
                    </a>
                    <section class="item-box" data-item-box-id="0" *ngFor="let f of i.feed">
                        <h4 class="item-name">{{f.name}}</h4>
                        <h4 class="item-number">{{f.price}}</h4>
                        <h5 class="item-date">{{f.created_at | shortDate}}</h5>
                        <!-- <h5 class="item-time">09:32:07 AM</h5> -->
                    </section>
 
                </section>






            </div>
    </article>
    <!-- End Comparison -->
</div>