    <!-- page tabs -->

    <!-- Start Global Sections -->
    <section class="chat__container">
        <div class="chat__content container">
            <div class="row">
                <div class="col-8 col-md-9 padding__small">
                    <div class="messages__body" >
                        <!-- <h1 class="chat__main__header">مزرعة كتاكيت للبيع</h1> -->
                        <!--        Important Note add list__shadow if messages greater than 3message                -->
                        <div class="messages__container list__shadow" id="chatContainer" #scrollMe >
                            <div [ngClass]="{'message__body': user?.name ===  massage.name, 'message__body__darker' : user?.name !== massage.name }" 
                            *ngFor="let massage of chatMassages?.chat?.massages">
                                <div class="chat__person">
                                    <img alt="Avatar"
                                         class="img"
                                         [src]="massage.image">
                                    <p class="person__name"> {{massage.name}}</p>
                                </div>
                                <div class="message margin__left">
                                    <p>{{massage.massage}}</p>
                                    <span class="time__dark">{{massage.created_at | shortDate}}</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-4 col-md-3 padding__small">
                    <!--        Important Note add list__shadow if messages greater than 3message                -->
                    <div class="side__bar list__shadow">
                        <div class="chats__container">
                            <div class="chats"  *ngFor="let chat of chats">

                                <div class="chat__body" (click)="chat_massage(chat.id)" [ngClass]="{' chat__active': receiverId === chat.id}">
                                    <img alt="Avatar"
                                         class="img__right"
                                         [src]="chat.image">
                                    <p class="chat__name"> {{chat.name}}</p>
                                    <p class="chat__header">{{chat.massage}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-9 padding__small" *ngIf="receiverId">
                    <div class="msg__form">
                        <form #contactForm="ngForm" (ngSubmit)="send_massage(contactForm)">
                            <div class="row justify-content-center" dir="rtl">
                                <div class="col-12 col-md-10">
                                    <div class="form-group">
                                    <textarea class="form-control" name="massage"  ngModel id="message" placeholder="أكتب رسالتك.."
                                              rows="1"></textarea>
                                    </div>
                                </div>
                                <div class="col-2 col-md-2">
                                    <button class="submit__button" id="sendMsgButton" type="submit">إرسال
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Global Sections -->