@mixin table__chart__resize($width,$chart-width,$f-size) {
  .table__head {
    .title {
      font-size: $f-size;
      width: $width;

      &.title__chart {
        width: $chart-width;
      }
    }
  }

  .table__body {
    .table__row {

      .cell__container {
        width: $width;

        &.data__charts {
          width: $chart-width;
        }
      }
    }
  }
}

@mixin table__resize($width,$f-size) {
  .table__head {
    .title {
      font-size: $f-size;
      width: $width;
    }
  }
  .table__body {
    .table__row {
      .cell__container {
        width: $width;
        font-size: $f-size;

        .cell__content {
          font-size: $f-size;

          &.big__content {
            font-size: calc(#{$f-size} - 2px);
          }
        }

      }
    }
  }
}

.table__container {
  display: flex;
  flex-flow: row wrap;
  height: auto;
  max-height: 650px;
  margin: 0 auto;


  .table__head {
    @include semi-flex(center, space-between, row, nowrap);
    padding-right: 7px;
    margin-bottom: 0.5rem;
    width: 100%;
    color: $color-main;
    .wall {
      width: 2%;
      height: 100%;
      // background-color: $bg-color-second;
      background-color: #FFFFFF;
    }
    .title {
      @include semi-flex(center, center, column, nowrap);
      text-align: center;
      padding: 0.5rem;
      font-weight: $fw-semiBold;
      font-size: $fs-18;
      min-height: 4.6rem;
      box-shadow: inset 0px 3px 6px #00000063, 0px 3px 6px #0000001A;
      border-radius: 20px 20px 0px 0px;
      border-top: 2rem solid;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  .table__body {
    width: 100%;
    min-height: 150px;
    height: auto;
    max-height: 500px;

    &.row__shadow {
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2) inset;
      overflow-y: auto;
      direction: ltr;
      // padding: 0.6rem 0.4rem 0 0.4rem;
    }

    .table__row {
      direction: rtl;
      @include semi-flex(center, space-around, row, nowrap);
      color: $color-main;
      // box-shadow: $fixed-box-shadow-regular;
      border-radius: 5px;
      margin-bottom: 1em;
      min-height: 135px;
      height: 100%;
      max-height: 140px;
      background: #EEEEEE;
      .cell__container {
        text-align: center;
        padding: 0.5rem;
        @include semi-flex(center, center, column, nowrap);

        a {
          color: $color-main;

          &:hover {
            color: $color-main;
          }
        }

        .cell__content {
          font-size: $fs-18;

          &.big__content {
            font-size: $fs-16;
          }

          &.up {
            font-weight: $fw-semiBold;
            color: green;
          }

          &.down {
            font-weight: $fw-semiBold;
            color: red;
          }

          &.date {
          }

          &.time {
          }
        }

        &.data__charts {

        }

      }

      .wall {
        width: 2%;
        height: 100%;
        // background-color: $bg-color-second;
        background-color: #FFFFFF;
      }

      &.ads {
        background-color: $bg-color-main;

        &:hover .company-name {
          color: $font-color-second !important;
        }
      }

      &.row__image {
        min-height: 150px;

        .cell__container {
          .cell__content__with__image {
            .image {
              width: 75px;
              height: 75px;
              border-radius: $rd-6;
            }

            .name {
              display: block;
              color: $font-color-second;
              font-weight: bold;
              transition: all .5s;
              width: 100%;
              height: auto;
              font-size: $fs-16;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
              max-width: 100%;

              &:hover {
                color: $bg-color-main-hover;
              }

              &.name__big {
                font-size: $fs-14;
              }
            }

          }

        }
      }
    }

  }

  //////////////////////////////////////////////////////////
  &.table-chart-7 {
    @include table__chart__resize(12.4%, 22.5%, 16px);
  }

  &.table-7 {
    @include table__resize(14%, 16px);
  }

  //////////////////////////////////////////////////////////
  &.table-chart-6 {
    @include table__chart__resize(14%, 25%, 16px);
  }

  &.table-6 {
    @include table__resize(16%, 16px);
  }

  //////////////////////////////////////////////////////////
  &.table-chart-5 {
    @include table__chart__resize(18%, 25%, 18px);
  }

  &.table-5 {
    @include table__resize(19.5%, 18px);
  }

  //////////////////////////////////////////////////////////
  &.table-chart-4 {
    @include table__chart__resize(22.8%, 30%, 18px);
  }

  &.table-4 {
    @include table__resize(24.5%, 18px);
  }

  //////////////////////////////////////////////////////////
  &.table-chart-3 {
    @include table__chart__resize(33%, 33%, 20px);
  }

  &.table-3 {
    @include table__resize(33%, 20px);
  }

  //////////////////////////////////////////////////////////
  &.table-chart-2 {
    @include table__chart__resize(49.5%, 49.5%, 20px);
  }

  &.table-2 {
    @include table__resize(49.5%, 20px);
  }

  //////////////////////////////////////////////////////////

}

@media (max-width: 991px) {
  .table__container {
    .table__head {
      .title {
        font-size: $fs-16;
        min-height: 4.6rem;
      }
    }

    .table__body {
      .table__row {
        .cell__container {
          .cell__content {
            font-size: $fs-16;

            &.big__content {
              font-size: $fs-14;
            }
          }

          &.data__charts {

          }

        }

        &.row__image {
          min-height: 175px;

          .cell__container {
            .cell__content__with__image {
              .image {
                width: 50px;
                height: 50px;
                border-radius: $rd-6;
              }

              .name {
                font-size: $fs-14;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;

                &.name__big {
                  font-size: $fs-12;
                }
              }

            }
          }
        }
      }
    }

    //////////////////////////////////////////////////////////
    &.table-chart-7 {
      @include table__chart__resize(16.2%, 0, 16px);
    }

    &.table-7 {
      @include table__resize(14%, 16px);
    }

    //////////////////////////////////////////////////////////
    &.table-chart-6 {
      @include table__chart__resize(19.6%, 0, 16px);
    }

    &.table-6 {
      @include table__resize(16%, 16px);
    }

    //////////////////////////////////////////////////////////
    &.table-chart-5 {
      @include table__chart__resize(24.6%, 0, 16px);
    }

    &.table-5 {
      @include table__resize(19.5%, 16px);
    }

    //////////////////////////////////////////////////////////
    &.table-chart-4 {
      @include table__chart__resize(33%, 0, 16px);
    }

    &.table-4 {
      @include table__resize(24.5%, 16px);
    }

    //////////////////////////////////////////////////////////
    &.table-chart-3 {
      @include table__chart__resize(49.5%, 0, 16px);
    }

    &.table-3 {
      @include table__resize(33%, 16px);
    }

    //////////////////////////////////////////////////////////
    &.table-chart-2 {
      @include table__chart__resize(98%, 0, 17px);
    }

    &.table-2 {
      @include table__resize(49.5%, 17px);
    }

    //////////////////////////////////////////////////////////

  }
}

@media (max-width: 767px) {
  .table__container {
    .table__head {
      .title {
        font-size: $fs-16;

        &.small__title {
          font-size: $fs-12;
        }
      }
    }

    .table__body {
      .table__row {
        .cell__container {
          .cell__content {
            font-size: $fs-14;

            &.big__content {
              font-size: $fs-14;
            }
          }

          &.data__charts {

          }

        }

        &.row__image {
          min-height: 175px;

          .cell__container {
            .cell__content__with__image {
              .image {
                width: 50px;
                height: 50px;
                border-radius: $rd-6;
              }

              .name {
                font-size: $fs-14;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;

                &.name__big {
                  font-size: $fs-12;
                }
              }

            }
          }
        }
      }
    }

    //////////////////////////////////////////////////////////
    &.table-chart-7 {
      @include table__chart__resize(16.2%, 0, 16px);
    }

    &.table-7 {
      @include table__resize(14%, 16px);
    }

    //////////////////////////////////////////////////////////
    &.table-chart-6 {
      @include table__chart__resize(19.6%, 0, 16px);
    }

    &.table-6 {
      @include table__resize(16%, 16px);
    }

    //////////////////////////////////////////////////////////
    &.table-chart-5 {
      @include table__chart__resize(24.6%, 0, 16px);
    }

    &.table-5 {
      @include table__resize(19.5%, 16px);
    }

    //////////////////////////////////////////////////////////
    &.table-chart-4 {
      @include table__chart__resize(33%, 0, 16px);
    }

    &.table-4 {
      @include table__resize(24.5%, 16px);
    }

    //////////////////////////////////////////////////////////
    &.table-chart-3 {
      @include table__chart__resize(49.5%, 0, 16px);
    }

    &.table-3 {
      @include table__resize(33%, 16px);
    }

    //////////////////////////////////////////////////////////
    &.table-chart-2 {
      @include table__chart__resize(98%, 0, 17px);
    }

    &.table-2 {
      @include table__resize(49.5%, 17px);
    }

    //////////////////////////////////////////////////////////

  }
}

@media (max-width: 575px) {

}

@media (max-width: 475px) {
  .table__container {
    .table__head {
      .title {
        font-size: $fs-16;

        &.small__title {
          font-size: $fs-12;
        }
      }
    }

    .table__body {
      .table__row {
        .cell__container {
          .cell__content {
            font-size: $fs-14;

            &.big__content {
              font-size: $fs-14;
            }
          }

          &.data__charts {

          }

        }

        &.row__image {
          min-height: 175px;

          .cell__container {
            .cell__content__with__image {
              .image {
                width: 50px;
                height: 50px;
                border-radius: $rd-6;
              }

              .name {
                font-size: $fs-14;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;

                &.name__big {
                  font-size: $fs-12;
                }
              }

            }
          }
        }
      }
    }

    //////////////////////////////////////////////////////////
    &.table-chart-7 {
      @include table__chart__resize(16.2%, 0, 12px);
    }

    &.table-7 {
      @include table__resize(14%, 12px);
    }

    //////////////////////////////////////////////////////////
    &.table-chart-6 {
      @include table__chart__resize(19.6%, 0, 12px);
    }

    &.table-6 {
      @include table__resize(16%, 12px);
    }

    //////////////////////////////////////////////////////////
    &.table-chart-5 {
      @include table__chart__resize(24.6%, 0, 12px);
    }

    &.table-5 {
      @include table__resize(19.5%, 12px);
    }

    //////////////////////////////////////////////////////////
    &.table-chart-4 {
      @include table__chart__resize(33%, 0, 12px);
    }

    &.table-4 {
      @include table__resize(24.5%, 12px);
    }

    //////////////////////////////////////////////////////////
    &.table-chart-3 {
      @include table__chart__resize(49.5%, 0, 16px);
    }

    &.table-3 {
      @include table__resize(33%, 16px);
    }

    //////////////////////////////////////////////////////////
    &.table-chart-2 {
      @include table__chart__resize(98%, 0, 17px);
    }

    &.table-2 {
      @include table__resize(49.5%, 17px);
    }

    //////////////////////////////////////////////////////////

  }
}

@media (max-width: 350px) {

}
