// Genera Components
@import "general/bread-crumbs";
@import "general/pagination";
@import "general/accordion";
@import "general/inner-search-box";
@import "general/logos_slider";
@import "general/popups";
@import "general/modals";
@import "general/payment";

// Layouts Components
@import "layouts/main_navbar";
@import "layouts/inner_pages_navbar";
@import "layouts/footer";
@import "layouts/page-tabs";

// Other Components
@import "other/caution";
@import "other/new-cards";
@import "other/new-table";
@import "other/new__table";

.special__container {
  width: 90%;
  margin: 3rem auto;
  @media (min-width: 991px) and (max-width: 1200px) {
    width: 96%;
  }
  @media (min-width: 767px) and (max-width: 990px) {
    width: 98%;
  }
  @media (max-width: 766px) {
    width: 99%;
  }
}
