



@media (max-width: 450px) {
    .table__body{
        overflow: hidden;
    }
    .special__container{

        width: 100% !important; 
        margin: 3rem auto !important;
    }

    .table__head{
        width: 80%;
    }
    
    .cell__container {
        width: 10% !important;
        font-size: 8px !important;
    }

}
