    <!-- Start Right Section -->
    <!-- <alert></alert> -->

    <div class="main__content__body">
        <div class="container" style="max-width: 70%;">
            <h1 class="mt-3 mt-lg-0">{{h_search_form?.title}}</h1>
        </div>
        <app-banners-logo   [type]="'banner'"></app-banners-logo>
        <app-banners-logo    [type]="'logo'"></app-banners-logo>
        <app-horizontal-search (newItemEvent)="filter($event)" [data]="h_search_form" [ships]="true" ></app-horizontal-search>
        
        <!-- End Right Section -->
    
    
        <!-- Start Table 7 cols without chart -->
        <section class="table__container table-7 special__container">
            <section class="table__head">
                <span class="title">اسم السفينة</span>                    <div class="wall"></div>

                <span class="title">تاريخ التوجيه</span>                    <div class="wall"></div>

                <span class="title">الحمولة / طن</span>                    <div class="wall"></div>

                <span class="title">النوع</span>                    <div class="wall"></div>

                <span class="title">المنشأ</span>                    <div class="wall"></div>

                <span class="title">تاريخ الوصول</span>                    <div class="wall"></div>

                <span class="title">الجهة المستوردة</span>                    <div class="wall"></div>

                <span class="title">الوكيل الملاحي</span>                    <div class="wall"></div>

                <span class="title">ميناء التفريغ</span>
            </section>
            <!--  add row__shadow when rows length > = 3  -->
            <div class="table__body row__shadow">
    
                <!-- Start One Row    add ads class if ad  -->
                <section class="table__row " *ngFor="let i of data?.ships">
                    <section class="cell__container">
                        <span class="cell__content">{{i.name}}</span>
                    </section>
                    <div class="wall"></div>
                    <section class="cell__container">
                        <span class="cell__content">{{i.dir_date}}</span>
                    </section>
                    <div class="wall"></div>

                    <section class="cell__container">
                        <span class="cell__content">{{i.load}}</span>
                    </section>
                    <div class="wall"></div>
                    <section class="cell__container">
                        <span class="cell__content">{{i.product}}</span>
                    </section>
                    <div class="wall"></div>
                    <section class="cell__container">
                        <span class="data__content">{{i.country}}</span>
                    </section>
                    <div class="wall"></div>
                    <section class="cell__container">
                        <span class="cell__content">{{i.date}}</span>
                    </section>
                    <div class="wall"></div>
                    <section class="cell__container">
                        <span class="cell__content">{{i.company}}</span>
                    </section>
                    <div class="wall"></div>
                    <section class="cell__container">
                        <span class="cell__content">{{i.agent}}</span>
                    </section>
                    <div class="wall"></div>
                    <section class="cell__container">
                        <span class="cell__content">{{i.Port}}</span>
                    </section>
                </section>
                <!-- End One Row  -->

            </div>
        </section>
    
    </div>
    
