<app-loader *ngIf="loading"></app-loader>

<div class="main__content__body">
    <div class="container" style="max-width: 70%;">
        <h1 >الأخبار</h1>
    </div>
    <app-banners-logo  [loading]="loading" [type]="'banner'"></app-banners-logo>
    <app-banners-logo  [loading]="loading"  [type]="'logo'"></app-banners-logo>
    <app-horizontal-search (newItemEvent)="filter($event)" [data]="h_search_form" ></app-horizontal-search>

    <article class="container global__container">
        <div class="row">

            <section class="right main__right__container col-lg-3 col-md-12 col-sm-12">
                <app-vertical-search  (newItemEvent)="filter($event)" [data]="h_search_form" ></app-vertical-search>
            </section>

            <section class="main__left__container col-lg-9 col-md-12 col-sm-12">
                <app-card (navigation)="navigate($event)" [data]="News" [loading] ="loading" [flag]=false></app-card>
                <div class="pagination">
                    <ul>
                        <li *ngFor="let item of [].constructor(page.last_page) | paginate: { itemsPerPage: 1, currentPage:page.current_page }"> </li>
                    </ul>
                    <pagination-controls                       
                    [maxSize]="6"
                    previousLabel=""
                    nextLabel=""
                    (click)="next_page(page.current_page)"
                     (pageChange)="page.current_page = $event
                     "></pagination-controls>
                </div>


          

            </section>

        </div>
    </article>

</div>