<app-loader *ngIf="loading"></app-loader>




<div class="content">
    <header class="home__page__container">
        <div class="home__page__slider" >
            <div class="splide" id="image-slider">
                <div class="splide__track" >
                    <div class="splide" id="image-slider">

                        <carousel 
                        *ngIf="!loading && carousel_banner.length >= 0 "
                            [autoplay]="true"
                            [loop]="true" 
                            [cellsToShow]="1" 
                            [arrows]="true"
                            [height]="500"
                            [dots]="true"
                            [autoplayInterval]="2000"
                            [minSwipeDistance]="20"
                            [transitionDuration]="500"
                            [borderRadius]="10"
                            class="home-banner">
                            <div  class="carousel-cell" *ngFor="let i of carousel_banner">
                                 <img [src]="i.image" >
                            </div>
                         </carousel>

                        <!-- <app-carousel [config]="carousel_banner" [loading]="loading"></app-carousel> -->
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="container home__page__search__console">
            <div class="content__holder">
                <section class="two-way-search-box">
                    <section class="head">
                        <h2 (click)="swapTab('sector')" class="head__title title-right col-6 active">
                            القطاعات
                        </h2>
                        <h2 (click)="swapTab('services')" class="head__title title-left col-6">
                            الخدمات
                        </h2>
                    </section>
                    <section class="body">
                        <!---------- Start first Tab ----------->
                        <section class="first-tab tabs" *ngIf="tabs== 'sector'">
                            <!-- Start Dropdown Item -->
                            <section class="nav-item dropdown">
                                <a aria-expanded="false" aria-haspopup="true"
                                   class="nav-link dropdown-toggle"
                                   data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
                                    <div class="icon-holder mb-lg-2">
                                        <img alt="icon" class="icon" src="assets/images/chicken_icon.svg">
                                    </div>
                                    <span class="title">الداجني</span>
                                </a>
                                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                                    <a class="dropdown-item"
                                    [routerLink]="['/stock-exchange/poultry']">
                                        البورصة اليومية
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item"
                                    [routerLink]="['/companies-guide/poultry']">
                                        دليل الشركات
                                    </a>
                                    <!--                                        <div class="dropdown-divider"></div>-->
                                    <!--                                        <a class="dropdown-item" href="pages/consultants/consultants.html">-->
                                    <!--                                            الاستشاريون-->
                                    <!--                                        </a>-->
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" [routerLink]="['/market/poultry']">
                                        سوق الكناني
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item"  [routerLink]="['/news/poultry']">
                                        الاخبار
                                    </a>
                                </div>
                            </section>
                            <!-- End Dropdown Item -->

                            <!-- Start Dropdown Item -->
                            <section class="nav-item dropdown">
                                <a aria-expanded="false" aria-haspopup="true"
                                   class="nav-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   href="#" id="navbarDropdown" role="button">
                                    <div class="icon-holder mb-lg-2">
                                        <img alt="icon" class="icon" src="assets/images/cow_icon.svg">
                                    </div>
                                    <span class="title">الحيواني</span>
                                </a>
                                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                                    <a class="dropdown-item"
                                    [routerLink]="['/stock-exchange/animal']">
                                        البورصة اليومية
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item"
                                    [routerLink]="['/companies-guide/animal']">
                                        دليل الشركات
                                    </a>
                                    <!--                                        <div class="dropdown-divider"></div>-->
                                    <!--                                        <a class="dropdown-item" href="pages/consultants/consultants.html">-->
                                    <!--                                            الاستشاريون-->
                                    <!--                                        </a>-->
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" [routerLink]="['/market/animal']">
                                        سوق الكناني
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" [routerLink]="['/news/animal']">
                                        الاخبار
                                    </a>
                                </div>
                            </section>
                            <!-- End Dropdown Item -->

                            <!-- Start Dropdown Item -->
                            <section class="nav-item dropdown">
                                <a aria-expanded="false" aria-haspopup="true"
                                   class="nav-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   href="#" id="navbarDropdown" role="button">
                                    <div class="icon-holder mb-lg-2">
                                        <img alt="icon" class="icon" src="assets/images/plant_icon.svg">
                                    </div>
                                    <span class="title">الزراعي</span>
                                </a>
                                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                                    <a class="dropdown-item"
                                    [routerLink]="['/stock-exchange/farm']">
                                        البورصة اليومية
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item"
                                    [routerLink]="['/companies-guide/farm']">
                                        دليل الشركات
                                    </a>
                                    <!--                                        <div class="dropdown-divider"></div>-->
                                    <!--                                        <a class="dropdown-item" href="pages/consultants/consultants.html">-->
                                    <!--                                            الاستشاريون-->
                                    <!--                                        </a>-->
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" [routerLink]="['/market//farm']">
                                        سوق الكناني
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" [routerLink]="['/news/farm']">
                                        الاخبار
                                    </a>
                                </div>
                            </section>
                            <!-- End Dropdown Item -->

                            <!-- Start Dropdown Item -->
                            <section class="nav-item dropdown">
                                <a aria-expanded="false" aria-haspopup="true"
                                   class="nav-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   href="#" id="navbarDropdown" role="button">
                                    <div class="icon-holder mb-lg-2">
                                        <img alt="icon" class="icon" src="assets/images/fish_icon.svg">
                                    </div>
                                    <span class="title">السمكي</span>
                                </a>
                                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                                    <a class="dropdown-item"
                                    [routerLink]="['/stock-exchange/fish']">
                                        البورصة اليومية
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item"
                                    [routerLink]="['/companies-guide/fish']">
                                        دليل الشركات
                                    </a>
                                    <!--                                        <div class="dropdown-divider"></div>-->
                                    <!--                                        <a class="dropdown-item" href="pages/consultants/consultants.html">-->
                                    <!--                                            الاستشاريون-->
                                    <!--                                        </a>-->
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" [routerLink]="['/market/fish']">
                                        سوق الكناني
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" [routerLink]="['/news/fish']">
                                        الاخبار
                                    </a>
                                </div>
                            </section>
                            <!-- End Dropdown Item -->

                            <!-- Start Dropdown Item -->
                            <section class="nav-item dropdown">
                                <a aria-expanded="false" aria-haspopup="true"
                                   class="nav-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   href="#" id="navbarDropdown" role="button">
                                    <div class="icon-holder mb-lg-2">
                                        <img alt="icon" class="icon" src="assets/images/horse_icon.svg">
                                    </div>
                                    <span class="title">الخيول العربية</span>
                                </a>
                                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                                    <a class="dropdown-item"
                                    [routerLink]="['/stock-exchange/horses']">
                                        البورصة اليومية
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item"
                                    [routerLink]="['/companies-guide/horses']">
                                        دليل الشركات
                                    </a>
                                    <!--                                        <div class="dropdown-divider"></div>-->
                                    <!--                                        <a class="dropdown-item" href="pages/consultants/consultants.html">-->
                                    <!--                                            الاستشاريون-->
                                    <!--                                        </a>-->
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" [routerLink]="['/market/horses']">
                                        سوق الكناني
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" [routerLink]="['/news/horses']">
                                        الاخبار
                                    </a>
                                </div>
                            </section>
                            <!-- End Dropdown Item -->
                        </section>
                        <!---------- End first Tab ----------->

                        <!---------- Start Second Tab ----------->
                        <section class="second-tab tabs tab3"  *ngIf="tabs== 'services'">

                            <!-- Start Dropdown Item -->
                            <section class="nav-item-2 dropdown-2">
                                <a class="nav-link " [routerLink]="['/magazine']">
                                    <div class="icon-holder mb-lg-2">
                                        <img alt="icon" class="icon" src="assets/images/showroom.svg">
                                    </div>
                                    <span class="title">معارض</span>
                                </a>
                            </section>
                            <!-- End Dropdown Item -->

                            <!-- Start Dropdown Item -->
                            <section class="nav-item-2 dropdown-2">
                                <a class="nav-link " [routerLink]="['/magazine']">
                                    <div class="icon-holder mb-lg-2">
                                        <img alt="icon" class="icon" src="assets/images/newspaper.svg">
                                    </div>
                                    <span class="title">دلائل ومجلات</span>
                                </a>
                            </section>
                            <!-- End Dropdown Item -->


                            <!-- Start Dropdown Item -->
                            <section class="nav-item-2 dropdown-2" style="border: 0 !important;">
                                <a class="nav-link "[routerLink]="['/magazine']">
                                    <div class="icon-holder mb-lg-2">
                                        <img alt="icon" class="icon" src="assets/images/market_icon.svg">
                                    </div>
                                    <span class="title">حركة السفن</span>
                                </a>
                            </section>
                            <!-- End Dropdown Item -->


                        </section>
                        <!---------- End Second Tab ----------->
                    </section>
                </section>
            </div>
        </div>
        <!-- End Header -->
    </header>
    <h1 class="elknany__title">أول واكبر منصة <br> خدمات الكرتونية متكاملة</h1>
    <!-- End Header -->
</div>





<article class="full__partner__slider container-fluid">
    <h2 class="section__title">شركاء النجاح</h2>
    <section class="splide" id="partnerCarousel">
        <!-- <app-carousel [config]="carousel_logos" [loading]="loading"></app-carousel> -->
        <app-banners-logo  [loading]="loading" [type]="'logo'"></app-banners-logo>

    </section>
   </article>


   
