<app-loader *ngIf="loading"></app-loader>



<div class="content">
    <header class="home__page__container">
        <div class="home__page__slider" >
            <section class="splide home" id="partnerCarousel">
                <!-- <app-carousel [config]="carousel_logos" [loading]="loading"></app-carousel> -->
                <app-banners-logo  [loading]="loading" [type]="'banner'"></app-banners-logo>
        
            </section>
            <!-- <div class="splide" id="image-slider">
                <div class="splide__track" >
                    <div class="splide" id="image-slider">

                        <carousel 
                            *ngIf="!loading && carousel_banner.length >= 0 "
                            [autoplay]="true"
                            [cellsToShow]="1"                            
                            [arrows]="true"
                            [height]="500"
                            [dots]="true"
                            [autoplayInterval]="1500"
                            [minSwipeDistance]="20"
                            [transitionDuration]="500"
                            [borderRadius]="10" 
                            [loop]="true" 
                            class="home-banner">
                            <div  class="carousel-cell" *ngFor="let i of carousel_banner">
                                 <img [src]="i.image" >
                            </div>
                         </carousel>

                        
                    </div>
                </div>
            </div> -->    
                         <!-- <app-carousel [config]="carousel_banner" [loading]="loading" ></app-carousel> -->

        </div>

        <!-- End Header -->
    </header>
    <h1 class="elknany__title">أول واكبر منصة <br> خدمات الكرتونية متكاملة</h1>
    <!-- End Header -->

                    <div class="row m-auto justify-content-center " >
                    <div class=" col-12 col-md-6 col-lg-5 col-xl-4 px-5 p-md-0"  >
                        <h1 >عن الكناني</h1>
                        <div class="pt-3 text"> 
                            <p style="text-align: justify;">
                                أول وأكبر منصة متعددة الخدمات في مصر والشرق الأوسط تضم خدمات : بورصة الكناني اليومية لتغطية أحدث وأدق أسعار منتجات وشركات السوق المحلي لحظة بلحظة ، دليل شركات متكامل يضم جميع بيانات الشركات ، سوق الكناني خدمة بيعية لتبادل “ بيع وشراء “ المنتجات والخدمات ، أخبار الكناني لتغطية أحدث الأخبار والأحداث اليومية ، المناقصات خدمة عرض أجدد المناقصات المطروحة في السوق المصري ، الوظائف خدمة طرح الوظائف اليومية المتاحة في سوق العمل وتعطي للشركات فرصة عرض الوظائف المتاحة لديهم ، المعارض خدمة عرض أحدث المعارض المحلية والدولية الخاصة بكل المجالات والصناعات ، دلائل ومجلات: تضم أحدث المجلات الخاصة بكل الشركات ، حركة السفن : أسهل نظام لتتبع حركة السفن التي تدخل الميناء المصرية
                            </p>
                            <div class="row pt-3 ">
                                <div class="col-6">
                                    <a href="https://play.google.com/store/apps/details?id=com.elkenany" target="_blank"><img src="../../../assets/images/andr.png" alt=""></a>
                                </div>
                                <div class="col-6">
                                    <a class="app-store" href="https://apps.apple.com/eg/app/%D8%A7%D9%84%D9%83%D9%86%D8%A7%D9%86%D9%8A/id1608815820" target="_blank"><img src="../../../assets/images/ios.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                     </div>
                    <div class=" col-0 col-md-1 col-lg-1 col-xl-2" ></div>
                    <div class=" col-10 col-md-4 col-lg-4 col-xl-3 px-5 p-md-0">
                        <img src="../../../assets/images/app.jpeg" class="video my-5 my-xs-1" >
                    </div>
                </div>
</div>


        <!-- <div class="container-fluid "> -->

        <!-- </div> -->


<article class="full__partner__slider container-fluid ">
    <h2 class="section__title">شركاء النجاح</h2>
    <section class="splide" id="partnerCarousel">
        <!-- <app-carousel [config]="carousel_logos" [loading]="loading"></app-carousel> -->
        <app-banners-logo  [loading]="loading" [type]="'logo'" [num]="'2'"></app-banners-logo>
        <!-- <app-banners-logo  [loading]="loading" [type]="'logo'" [num]="'2'"></app-banners-logo> -->

    </section>
   </article>


   
