// @import "home";
@import "../../../assets/styles/abstract/varibales";
@import "../../../assets/styles/abstract/mixins";

@import "../../../assets/styles/pages/home";


.slick-dots {
  display: none!important;
}

.home__page__container {
  top: -15px !important;
  min-height: auto !important;
}
.home .banner {
  clear: both;
    object-fit: cover;
  }
  .home header.banner__header .banner {
        border-radius:0px;
  }


  .home .slick-next{
    right: 20px;
    
  }
  .home .slick-prev{
    left:20px;
    z-index: 1000;
  }
  .home .slick-prev:before,.home .slick-next:before{
    font-size:30px;
    color: #0C6A22;

  }
 

  .main{
    max-width: 80%;
    margin: auto;
  }
  .main .slick-prev{
    // left:6.875rem;
    // z-index: 1000;
  }
  .main .slick-next{
    // right: 6.875rem;
  }

  .main .slick-prev:before,.main .slick-next:before {
    font-size: 30px;
    background: #efe9e9;
    padding-top: 7rem;
    color: var(--yellow);
    padding-bottom: 7rem;
    border-radius: 10px;
    padding-left: 0.8rem;
    font-family: monospace;
    padding-right: 0.8rem;  
    // content: "→";

  }

  // @media only screen and (max-width: 800px) {
  //   .main .slick-prev{
  //     left:10px;
  //   }
  //   .main .slick-next{
  //     right: 20px;
  //   }
  // }

  .home .container-fluid{
    top: -40px;
  padding: 0px;
 }


  //////////////////////////////////////test////////////////////////////////////////
  .carousel-cells .carousel-cell img,  .carousel-cells .carousel-cell video {
    width: 100%;
    height: 100%;
    object-fit:cover !important

}

.home-banner{
height: 450px !important;
}

.carousel-dots .carousel-dot {
background-color: #0C6A22 !important;

border: 0px !important;

width: 9px !important;
height: 9px !important;
}


.carousel-dots .carousel-dot-active {
background-color: #FFBB33 !important;
}



.carousel-dots {
  top: 550px !important;
}

@media only screen and (max-width: 500px) {
  .carousel-dots {
    top: 355px !important;
  }
}

.home__page__search__console {
  position: relative;
  z-index: 64000 !important;  
}
// .splide,#image-slider{
//   margin-top: 0px !important;
//   padding-top: 0px!important;
// }
//////////////////////////////////////test////////////////////////////////////////
/// 
.video{
  // width: 90%;
  height: 23rem;
  border-radius: 10%;
}


@media only screen and (min-width: 500px) {
  .text{
     font-size: 1.25rem;
     line-height: 1.1 rem;
  }
  .video{
    height: 28rem;
  }
  
}


////////////////////////////////////new
/// 
.about {
  text-align: right;
  font-weight: bold;
}
.about .opt-list {
  gap: 3rem;
  color: var(--green);
}
.about .opt-list li {
  cursor: pointer;
  position: relative;
}
.about .opt-list li::before,
.about .opt-sublist li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #9e9e9e;
  transform: scaleX(0);
  transform-origin: center center;
  transition: 0.3s;
}
.about .opt-list li:hover::before,
.about .opt-sublist li:hover::after {
  transform: scaleX(1);
}
.about .opt-list li.active::before,
.about .opt-sublist li.active::after {
  transform: scaleX(1);
}
.about .opt-sublist {
  color: #7e7e7e;
  display: none !important;
}
.about .opt-sublist.active {
  display: flex !important;
}
.about .opt-sublist li {
  cursor: pointer;
  position: relative;
  color: var(--green);

}
.about .opt-sublist li:last-child {
  margin-left: 50px;
}
.about .opt-sublist li:last-child::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #9e9e9e;
  cursor: default;
}
.about .mv-carousel {
  display: none;
}
.about .mv-carousel.active {
  display: block;
}
.about .mr-carousel {
  display: none;
}
.about .mr-carousel.active {
  display: block;
}
.about .cq-carousel {
  display: none;
}
.about .cq-carousel.active {
  display: block;
}
.about .container{
  max-width: 90% !important;
}


/////////////
/// 
.app-download {
  background-color: var(--yellow);
  height: 26rem;
}
.small-img{
  // background-color: var(--yellow);
  margin-top: -3px;
}
.app-download .iphone-img img {
  width: 90%;
  height: auto;
  // margin-bottom: -318px;
  // margin-left: -115px;
}
.app-download .download h1 {
  text-align: center;
  color: var(--green);
}

.app-download .download .links1 .link { 
  font-size: 1.2rem;
  background-color: white;
  color: var(--green);
  border-radius: 10px;
  width: 15.125rem;
  text-align: center;
  box-shadow: 0 0 4px #7e7e7e;
  word-spacing: 2px;
  transition: 0.3s;
  font-weight: bold;
}

@media only screen and (min-width: 1129px) {
  .app-download .download .links1 .link { 
    font-size: 1.5rem;

  }
}

.app-download .download .links1 .link:hover {
  background-color: var(--green);
  color: var(--yellow);
}
.app-download .download .links1 {
  border-bottom: 0px;
}


.partners .heading {
  color: var(--green);
}


.kenany-desc .video {
  height: 400px;
}
.kenany-desc .video iframe {
  border: 44px var(--yellow) solid;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.kenany-desc .desc .heading {
  color: var(--green);
}
.kenany-desc .desc p {
  text-align: right;
  color: var(--green);
  line-height: 27px;
}



.partners .container{
  max-width: 1300px !important;

//   @media (min-width: 991px){
//     .container {
//     max-width: 1109px !important;
//   }
// }
}