<app-loader *ngIf="loading"></app-loader>



<div class="landing py-3 py-lg-1">
    <div class="container" >
        <div class="bg">
            <img src="assets\images\home\cta1.png" alt="">
            <div class="content">
                <h3 class="">اعرف أكثر عن السوق 
                </h3>
                <p>بيع واشتري منتجاتك من خلال أكبر سوق الكتروني</p>
            </div>
            <a class="d-block link" [routerLink]="['/market/0']" [queryParams]="{ sort:'', page: 1 }">ابدأ معنا</a>
        </div>
    </div>
</div>



<div class="about pt-4">
    <div class="container">

        <ul class="list-unstyled opt-sublist d-flex flex-row-reverse justify-content-end gap-3 mb-5 active">
            <li [ngClass]="{'active': ns}" class="mr" style="line-height: 2.5rem;" (click)="toggle()">أجدد الخدمات</li>
            <li [ngClass]="{'active': mv}" class=" mv" style="line-height: 2.5rem;" (click)="toggle()">الخدمات الأكثر زيارة</li>
        </ul>
        <div class="mv-carousel active most" *ngIf="mv">
            <app-banners-logo  [loading]="loading" [type]="'mostvisited'" ></app-banners-logo>

        </div>
        <div class="mr-carousel active most" *ngIf="ns">
            <app-banners-logo  [loading]="loading" [type]="'newestservices'" ></app-banners-logo>

        </div>

    </div>
</div>




<div class="content">

    <header class="home__page__container">
        <div class="home__page__slider" >
            <section class="splide home" id="partnerCarousel">
                <app-banners-logo  [loading]="loading" [type]="'mainbanner'"></app-banners-logo>
            </section>

        </div>

    </header>       

</div>

<div class="image-carousel py-1 main">   
    
     <app-banners-logo  [loading]="loading" [type]="'howtouse'" ></app-banners-logo>

</div>


<div class="app-download ">
    <div class="container-fluid justify-content-between">
        <div class="row ">

            <div class="download col-md-6  d-flex flex-column align-items-center pt-5 mt-5">
                <h1 class=" mb-5 " style="font-weight: bolder;">قم بتنزيل التطبيق الأن</h1>
                <div class="links1  row justify-content-center ">
                    <a class="link py-3 px-2 m-2 px-lg-3 col-sm-6" href="https://play.google.com/store/apps/details?id=com.elkenany"> Google Play <i class="fa-brands fa-google-play px-2 text-black "></i></a>
                    <a class="link py-3 px-2 m-2 px-lg-3 col-sm-6" href="https://apps.apple.com/eg/app/%D8%A7%D9%84%D9%83%D9%86%D8%A7%D9%86%D9%8A/id1608815820"> App Store <i class="fa-brands fa-apple px-2 text-black"></i></a>
                </div>
            </div>  
            
            <div class="iphone-img col-md-6 d-none d-md-block  ">
                <img class="" [src]=app alt="">
            </div>
        </div>
    </div>
</div>


<div class="d-block d-md-none small-img">
    <img class="" [src]=app  alt="">
</div>


<!--sponsers-->
<div class="partners mt-lg-1">
    <div class="container-fluid row mt-md-5" >
        <div class="col-9 m-auto">
            <h2><i class="fa-solid fa-handshake  ms-3"></i>شركاء النجاح</h2>
        </div> 

            <section class="splide" id="partnerCarousel">
                <app-banners-logo  [loading]="loading" [type]="'logo'" [num]="'2'"></app-banners-logo>
        
            </section>
    </div>
</div>


       <!--about-->
    <!-- <h5 class="elknany__title">أول واكبر منصة <br> خدمات الكرتونية متكاملة</h5> -->

    <div class="row m-auto justify-content-center kenany-desc" >
                <div class=" col-12 col-md-6 col-lg-5 col-xl-4 px-5 p-md-0 "  >
                    <h1 >عن الكناني </h1>
                    

                    <div class="pt-3 text"> 
                        <p style="text-align: justify;">
                            الكناني أول وأكبر منصة متعددة الخدمات في مصر والشرق الأوسط بدأت سنة 2018.
                            -"البورصة" لتغطية أحدث وأدق أسعار منتجات وشركات السوق لحظة بلحظة، دليل شركات متكامل يضم جميع بيانات الشركات، السوق خدمة بيعية لتبادل “ بيع وشراء “ جميع المنتجات والخدمات.
                            -"الأخبار" لتغطية أحدث الأخبار والأحداث اليومية، "المناقصات" لعرض أجدد المناقصات المطروحة في السوق المصري، "الوظائف" لطرح الفرص المتاحة في سوق العمل وتتيح للشركات عرض الوظائف المتاحة لديهم
                            -"المعارض" عرض أحدث المعارض المحلية والدولية، "دلائل ومجلات" توفر أحدث المجلات الخاصة بكل الشركات، "حركة السفن" أسهل نظام لتتبع حركة المراكب التي تدخل الميناء المصرية، "القسم الخدمي" توفير بيانات كل المكاتب الخدمية في جميع المجالات ، "الأكاديمية" توفير كل الكورسات والندوات والمواد العلمية الخاصة بالمجال الزراعي، البيطري، الصناعي، وغيره في السوق، "الاستشاريين" توفير استشارات فورية مجانية ومدفوعة للعاملين بالسوق المصري في تلك المجالات.
                            حمل التطبيق واستمتع بعدة خدمات سهلة الاستخدام ليكون تجربة شاملة ومميزة وفريدة من نوعها!
                        
                        </p>
                    </div>
                    </div>
                <div class=" col-0 col-md-1 col-lg-1 col-xl-1" ></div>
                <div class=" col-10 col-md-4 col-lg-4 col-xl-4 px-lg-5 p-md-0">
                    <div class="video my-5 my-xs-1 ">
                        <!-- <iframe src="https://www.youtube.com/embed/f4qIphcwE3Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
                        <!-- <iframe src="https://www.youtube.com/embed/Ca6yMVeZHC0"
                        title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
     -->
                        <iframe width="315" height="560"
src="https://www.youtube.com/embed/Ca6yMVeZHC0"
title="YouTube video player"
frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
allowfullscreen></iframe>


                    </div>
                </div>
    </div>
