<app-loader *ngIf="loading"></app-loader>

<div class="main__content__body">
    <app-banners-logo  [loading]="loading" [type]="'banner'"></app-banners-logo>
    <app-banners-logo  [loading]="loading"  [type]="'logo'"></app-banners-logo>
    <!-- Start Header -->
    <header class="banner__header">
        <div class="container-fluid one-full-slider-banner">
            <div class="splide" id="image-slider">
                <div class="splide__track" >
                    <div class="splide" id="image-slider">
                        <!-- <app-carousel [config]="carousel_banner" [loading]="loading"></app-carousel> -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header -->

    <!-- Start Partners -->
    <article class="partners slider">
        <div class="container-fluid logos__holder">
            <section class="partners-slider" dir="rtl">
                <section class="splide" id="partnerCarousel">
                    
                    <!-- <app-carousel [config]="carousel_logos" [loading]="loading"></app-carousel> -->
                    
                </section>
            </section>
        </div>
    </article>
    <!-- End Partners -->

    <!-- Start breadcrumb -->
    <app-horizontal-search (newItemEvent)="filter($event)" [data]="h_search_form" ></app-horizontal-search>
    <!-- End Search Box -->

    <!-- Start Global Content -->
    <article class="container global__container">
        <div class="row">
             <!-- Start Right Section -->
            <section class="right main__right__container col-lg-3 col-md-12 col-sm-12">
                <app-vertical-search  (newItemEvent)="filter($event)" [data]="h_search_form" ></app-vertical-search>
            </section>
            <!-- End Right Section -->
            <!-- Start Left Section -->
            <section class="main__left__container col-lg-9 col-md-12 col-sm-12">
                <section class="title-box">
                    <h2 class="title">{{typeAr}}</h2>
                    <!-- <span class="sections-number">{{     (Companies?.data?.length || 1) *page.last_page}} شركة</span> -->
                    <span class="sections-number" *ngIf="page.last_page > 1">{{     ((10) * (page.last_page-1) ) + comLength}} شركة</span>
                    <span class="sections-number" *ngIf="page.last_page == 1">{{Companies?.data?.length}} شركة</span>

                </section>
                <app-card  (navigation)="navigate($event)" [data]="Companies?.compsort" [flag]=true [loading] ="loading"></app-card>
        
                <app-card   (navigation)="navigate($event)" [data]="Companies?.data" [flag]=false [loading] ="loading"></app-card>
        
                <div class="row pagination__container">
                    <div class="col-12">
                        <!-- <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item" (click)="next_page(page.current_page-1)">
                                    <a aria-label="Previous" class="page-link">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"
                                
                                *ngFor="let _ of [].constructor(page.last_page); let i = index"><a class="page-link" (click)="next_page(i+1)"
                                [ngStyle]="{'background-color': page.current_page == i+1? '#FFAA00' : '' }">{{i+1}}</a></li>
                                <li class="page-item" (click)="next_page(page.current_page+1)">
                                    <a aria-label="Next" class="page-link">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav> -->
                   
                        <div class="pagination">
                            <ul>
                                <li *ngFor="let item of [].constructor
                                (page.last_page) | paginate: { itemsPerPage: 1, currentPage:page.current_page }"> </li>
                            </ul>
                            <pagination-controls                       
                            [maxSize]="7"
                            previousLabel=""
                            nextLabel=""
                            (click)="next_page(page.current_page)"
                             (pageChange)="page.current_page = $event
                             "></pagination-controls>
                        </div>
                   
                    </div>
                </div> 
            </section>
            <!-- End Left Section -->
        </div>
    </article>
    <!-- End Global Content -->
</div>