<div class="main__content__body">
  
    <app-horizontal-search (newItemEvent)="filter($event,'')" [data]="h_search_form" ></app-horizontal-search>
    <section class="special__accordion container d-lg-none d-block d-md-block">

        <button aria-controls="collapseExample" aria-expanded="false" class="main-title" data-toggle="collapse"
                href="#accordion"
                id="show-hide-accordion" role="button">
            حدد بحثك
            <i class="icon-s fas fa-search"></i>
        </button>
        
        <div class="accordion collapse show" id="accordion">
            
            <form [formGroup]="fromToForm">
                <div class="card">
                    <div class="card-header" id="headingSearch">
                        <h5 class="mb-0">
                            <button aria-controls="collapseSearch" aria-expanded="false"
                                    class="btn btn-link collapsed" data-target="#collapseSearch"
                                    data-toggle="collapse">
                                <i class="fas fa-search"></i>
                                من
                            </button>
                        </h5>
                    </div>
                    <div aria-labelledby="headingSearch" class="collapse show" data-parent="#accordion"
                         id="collapseSearch">
                        <div class="card-body">
                            <input (change)="filter($any($event.target).value,'date-from')"class="search__input" type="date" formControlName="from">
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSearch">
                        <h5 class="mb-0">
                            <button aria-controls="collapseSearch" aria-expanded="false"
                                    class="btn btn-link collapsed" data-target="#collapseSearch"
                                    data-toggle="collapse">
                                <i class="fas fa-search"></i>
                                إلى
                            </button>
                        </h5>
                    </div>
                    <div aria-labelledby="headingSearch" class="collapse show" data-parent="#accordion"
                         id="collapseSearch">
                        <div class="card-body">
                            <input (change)="filter($any($event.target).value , 'date-to')" formControlName="to"class="search__input" type="date">
                        </div>
                    </div>
                </div>
    
            </form>
     
            

        </div>
    </section>
    <!-- Start Global Content -->
    <article class="global__container container">
        <div class="row">
            <!-- Start Chart Part -->
             <section class="col-12 chart__container">
                <div id="">
                    <div class="toolbar">
                        <button (click)="geTstatisticsByDate(30)" [ngClass]="{'active':days==30}" id="one_month" class="active">1M</button>
                        <button (click)="geTstatisticsByDate(90)" [ngClass]="{'active':days==90}" id="six_months">3M</button>
                        <button (click)="geTstatisticsByDate(180)" [ngClass]="{'active':days==180}"  id="one_year">6M</button>
                        <button (click)="geTstatisticsByDate(0)"   [ngClass]="{'active':days==0}" id="all">ALL</button>
                    </div>
                    <div id="chart-timeline"></div>
                </div>
            </section> 
            <!-- Multi Select menu -->

            <div *ngIf="chartOptions">
                <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>    
            </div>       
            
            
    <div class="col-12">
        <div class="multi__selectContainer">
            <h4 class="multi__title">البورصات</h4>
            <form id="box" action="https://elkenany.com/get-local-sections" method="post" class="box-tabs">
  

                <div class="btn-group">
                    <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="بورصة لحم الدواجن بأنواعها" id="stock">
                        <span class="multiselect-selected-text">لا يوجد اي اختيار</span>
                        <b class="caret"></b>
                    </button>
                    <ul class="multiselect-container dropdown-menu" style="text-align: right">
                    <li class="px-2">
                       <label ><a tabindex="0" >
                            <input type="radio" name="products" value="multiselect-all" #v (change)=" selectStock(0)" (click)="selectStock(0)" id="0"> الكل
                        </a></label>
                    </li>


   
                    <!-- class="active" -->
                    <li  *ngFor="let item of StatisticsMember?.list_subs ; let i=index;"class="px-2" > 
                        <label><a tabindex="0" ><input type="radio" name="products"  #v (change)=" selectStock(v.value)" (click)="selectStock(v.value)" [value]="item.id" id="{{item.id}}" > {{item.name}}</a></label>
                        
                    </li>

                </ul>
            </div>
            </form>
        </div>
    </div>



            <!--    Table    -->
            <section class="col-12">
                <div class="table__main">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th class="border-right border-left" scope="col">اسم الشركة</th>
                            <th class="border-right" scope="col">مقدار التغير</th>
                            <th class="border-right" scope="col">عدد التغير</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of StatisticsMemberSlected; let i = index ">
                            <th scope="row">{{i+1}}</th>
                            <td class="border-right border-left company__link__container">
                                <a class="company__link"[routerLink]="['/stock-exchange/poultry/statistics/statistics-detials','notype',item.id]">{{item.name}}</a>
                            </td>
                            <td class="border-right"><span class="negative__content"> {{item.change}}% </span></td>
                            <td class="border-right"><span class="negative__content"> {{item.counts}} </span></td>
                        </tr>
            

                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </article>
    <!-- End Global Content -->
</div>
