<header class="banner__header"  *ngIf="BannerConfig.banner && BannerConfig.banner.length !=0 && type=='banner'" >
    <div class="container-fluid one-full-slider-banner">
        <div class="splide" id="image-slider">
            <div class="splide__track" >
                <div class="splide" id="image-slider">
                                    
                    <ngx-slick-carousel class="carousel"  *ngIf="!loading && BannerConfig.banner.length >= 0 "
                        #slickModal="slick-carousel" 
                        [config]="BannerConfig.config">

                    <div ngxSlickItem *ngFor="let slide of BannerConfig.banner" class="slide">
                        <div class="item">
                        <i (dblclick)="onClick(slide.id)" class="logo-holder"  >
                            
                            <img alt="partner logo" [class]="BannerConfig.config.class"
                            src="{{ slide.image }}" style="max-height: 450px;width: 70%; ">

                        </i>
                        <div class="wall"></div>
                        </div>
                    
                    </div>
                    </ngx-slick-carousel>

         

                </div>
            </div>
        </div>
    </div>
</header>



<article class="partners slider mt-5 logos" *ngIf="LogoConfig.banner && LogoConfig.banner.length !=0 && type=='logo'">
    <div class="container logos__holder">
        <section class="partners-slider" dir="rtl">
            <section class="splide" id="partnerCarousel">
                
                                                  
                <ngx-slick-carousel  class="ngx-slick"  *ngIf="!loading && LogoConfig.banner.length >= 0 "
                    #slickModal="slick-carousel" 
                    [config]="LogoConfig.config" 
                >

                <div ngxSlickItem *ngFor="let slide of LogoConfig.banner;let i=index;" class="slide">
                        
                    <div class="item">

                         <!-- <div  class="wall ms-4" ></div> -->

                    <a class="logo-holder" target="_blank" href="{{ slide.link}}">

                        <img alt="partner logo" [class]="LogoConfig.config.class"
                        src="{{ slide.image }}" style="max-height: 450px;">
                        
                    </a>
                    </div>
                    
                </div>

                
                </ngx-slick-carousel>
                
            </section>
        </section>
    </div>
</article> 



<header class="banner__header mainbanner"  *ngIf="mainbannerConfig.banner && mainbannerConfig.banner.length !=0 && type=='mainbanner'" >
    <div class="container-fluid one-full-slider-banner">
        <div class="splide" id="image-slider">
            <div class="splide__track" >
                <div class="splide" id="image-slider">
                                    
                    <ngx-slick-carousel class="carousel"  *ngIf="!loading && mainbannerConfig.banner.length >= 0 "
                        #slickModal="slick-carousel" 
                        [config]="mainbannerConfig.config">

                    <div ngxSlickItem *ngFor="let slide of mainbannerConfig.banner" class="slide">
                        <div class="item">
                        <i (dblclick)="onClick(slide.id)" class="logo-holder "  >
                            
          
                            <img alt="partner logo" [class]="mainbannerConfig.config.class"
                            src="{{ slide.image }}" style="max-height: 223px; border-radius: 15px;">

                        </i>
                        <div class="wall"></div>
                        </div>
                    
                    </div>
                    </ngx-slick-carousel>

         

                </div>
            </div>
        </div>
    </div>
</header>


<article class="partners slider mt-5 " *ngIf="mostvisitedConfig.banner && mostvisitedConfig.banner.length !=0 && type=='mostvisited'">
    <div class="container-fluid logos__holder">
        <section class="partners-slider" dir="rtl">
            <section class="splide" id="partnerCarousel">
                
                                                  
                <ngx-slick-carousel  class="ngx-slick"  *ngIf="!loading && mostvisitedConfig.banner.length >= 0 "
                    #slickModal="slick-carousel" 
                    [config]="mostvisitedConfig.config" 
                >

                <div ngxSlickItem *ngFor="let slide of mostvisitedConfig.banner;let i=index;" class="slide">
                        
                    <div class="item" style="margin-bottom: 3px;">

                         <!-- <div  class="wall ms-4" ></div> -->


 

                        <a class="carousel-card" target="_blank" href="{{ slide.link}}">
                            <div class="img">
                            <img alt="partner logo" [class]="mostvisitedConfig.config.class"
                            src="{{ slide.image }}" style="max-height: 10rem;">
                            </div>
                            <p class="my-4 px-3">
                               {{slide.desc}}
                            </p>
                        </a>


                    </div>
                    
                </div>

                
                </ngx-slick-carousel>
                
            </section>
        </section>
    </div>
</article> 


<article class="partners slider mt-5 " *ngIf="newestservicesConfig.banner && newestservicesConfig.banner.length !=0 && type=='newestservices'">
    <div class="container-fluid logos__holder">
        <section class="partners-slider" dir="rtl">
            <section class="splide" id="partnerCarousel">
                
                                                  
                <ngx-slick-carousel  class="ngx-slick"  *ngIf="!loading && newestservicesConfig.banner.length >= 0 "
                    #slickModal="slick-carousel" 
                    [config]="newestservicesConfig.config" 
                >

                <div ngxSlickItem *ngFor="let slide of newestservicesConfig.banner;let i=index;" class="slide">
                        
                    <div class="item" style="margin-bottom: 3px;" >
                        
                    <a class="carousel-card mostvisited" target="_blank" href="{{ slide.link}}">
                        <div class="img">

                        <img alt="partner logo" [class]="newestservicesConfig.config.class"
                        src="{{ slide.image }}" style="max-height: 10rem;">
                        </div>
                        <p class="my-4 px-3">
                            {{slide.desc}}
                        </p>
                    </a>
                    </div>

                    
                </div>

                
                </ngx-slick-carousel>
                
            </section>
        </section>
    </div>
</article> 


<header class="banner__header"  *ngIf="howtouseConfig.banner && howtouseConfig.banner.length !=0 && type=='howtouse'" >
    <div class="container-fluid one-full-slider-banner">
        <div class="splide" id="image-slider">
            <div class="splide__track" >
                <div class="splide" id="image-slider">
                                    
                    <ngx-slick-carousel class="carousel"  *ngIf="!loading && howtouseConfig.banner.length >= 0 "
                        #slickModal="slick-carousel" 
                        [config]="howtouseConfig.config">

                    <div ngxSlickItem *ngFor="let slide of howtouseConfig.banner" class="slide">
                        <div class="item">
                        <i (dblclick)="onClick(slide.id)" class="logo-holder"  >
                            
                            <img alt="partner logo" [class]="howtouseConfig.config.class"
                            src="{{ slide.image }}" style="max-height: 450px;width: 70%; ">

                        </i>
                        <div class="wall"></div>
                        </div>
                    
                    </div>
                    </ngx-slick-carousel>

         

                </div>
            </div>
        </div>
    </div>
</header>
