<header class="banner__header"  *ngIf="BannerConfig.banner && BannerConfig.banner.length !=0 && type=='banner'" >
    <div class="container-fluid one-full-slider-banner">
        <div class="splide" id="image-slider">
            <div class="splide__track" >
                <div class="splide" id="image-slider">
                                    
                    <ngx-slick-carousel class="carousel"  *ngIf="!loading && BannerConfig.banner.length >= 0 "
                        #slickModal="slick-carousel" 
                        [config]="BannerConfig.config">

                    <div ngxSlickItem *ngFor="let slide of BannerConfig.banner" class="slide">
                        <div class="item">
                        <a class="logo-holder"  [routerLink]="['/companies-guide/poultry/companies_details','any',slide.id]">
                            
                            <img alt="partner logo" [class]="BannerConfig.config.class"
                            src="{{ slide.image }}" style="max-height: 450px;">
                            

                        </a>
                        <div class="wall"></div>
                        </div>
                    
                    </div>
                    </ngx-slick-carousel>

                <carousel 
                    *ngIf="!loading && BannerConfig.banner.length >= 0 "
                    [autoplay]="true"
                    [loop]="true" 
                    [cellsToShow]="1" 
                    [arrows]="false"
                    [dots]="false"
                    [autoplayInterval]="2000"
                    [minSwipeDistance]="20"
                    [transitionDuration]="500"
                    [borderRadius]="2"
                    class=" "
                    >
                    <div class="carousel-cell" *ngFor="let i of BannerConfig.banner">
                         <img [src]="i.image"   class="img-cell" >
                    </div>
                 </carousel> 


                </div>
            </div>
        </div>
    </div>
</header>



<article class="partners slider" *ngIf="LogoConfig.banner && LogoConfig.banner.length !=0 && type=='logo'">
    <div class="container-fluid logos__holder">
        <section class="partners-slider" dir="rtl">
            <section class="splide" id="partnerCarousel">
                
                                                  
                <ngx-slick-carousel class="carousel"  *ngIf="!loading && LogoConfig.banner.length >= 0 "
                    #slickModal="slick-carousel" 
                    [config]="LogoConfig.config" 
                >

                <div ngxSlickItem *ngFor="let slide of LogoConfig.banner" class="slide">
                    <div class="item">
                    <a class="logo-holder" target="_blank" href="{{ slide.link}}">
                        
                        <img alt="partner logo" [class]="LogoConfig.config.class"
                        src="{{ slide.image }}" style="max-height: 450px;">
                        

                    </a>
                    <div class="wall"></div>
                    </div>
                
                </div>
                </ngx-slick-carousel>
                
            </section>
        </section>
    </div>
</article> 