.card__main {
  @include semi-flex(center, center, column, nowrap);
  text-align: center;
  background: $semi-gray;
  margin: 2rem auto;
  padding: 2rem 1rem 0 1rem;
  border-radius: $rd-12;

  .no__data-title {
    font-weight: $fw-bold;
    color: $color-main;
  }

  .no__data-img {
    img {
      width: 300px;
      height: 300px;
    }
  }

  .description {
    .content {
      font-size: 1.1rem;
      line-height: 1.5;

      &.start {
        text-align: start;
      }
    }


  }

  .signature {
    text-align: end;

    p {
      font-size: $fs-22;
      font-weight: $fw-bold;
    }
  }

}

.form__container {
  .form__box {
    color: $font-color-second;
    width: 100%;
    margin: 0.2rem auto;

    input, textarea {
      width: 100%;
      border-radius: 4px;
      border: 2px solid #EEE;
      color: $bg-color-main-hover;

      &:hover {
        border: 2px solid $bg-color-second;

      }

      &:focus-visible {
        outline: none !important;
      }
    }

    .inputs {
      width: 100%;
      padding: 0 10px;
      outline: none;
      border-radius: 5px;
      border: 2px solid #eee;
      height: 48px;
      margin-bottom: 10px;
      transition: all .2s;
    }

    textarea {
      min-height: 96px;
      height: auto;
      border: 2px solid #eee;
    }

    .btn__submit {
      background-color: $font-color-main;
      color: $font-color-second;
      font-size: 20px;
      font-weight: bold;
      border: none;
      box-shadow: 0px 4px 5px #ddd;
      transition: all .5s;
      width: 100%;
      display: block;
      text-align: center;
      border-radius: 5px;
      padding: 10px 0;

      &:hover {
        background-color: $bg-color-main-hover;
      }
    }
  }
}

.card__body__contact {
  background: $semi-gray;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: $rd-12;
}

.small__box {
  height: 100%;
  width: 100%;
  background: #FFF;
  border-radius: $rd-12;
  padding: 1rem;
}

@media (max-width: 776px) {
  .margin__top {
    margin-top: 1rem !important;
  }
}

.list__sidebar {
  .list-group-flush {
    border: 1px solid rgba(0, 0, 0, .125);

    .list-group-item {
      transition: $transition-200ms;

      a {
        font-size: $fs-18;
        color: $color-main;
      }

      &:hover {
        background: $bg-color-main;

        a {
          color: #474747;
        }
      }
    }
  }
}

.all__accordions {
  .accordion {
    margin: 0 auto 0.5rem auto;

    .card {
      .card-header {
        background: rgba(31, 107, 0, 1);

        h2 {
          color: $bg-color-main;
          font-size: $fs-24;

        }
      }

      .card-body {
        padding: 1.5rem 2rem;

        li {
          p:not(.nested__list__item__title) {
            text-align: justify;
          }

          a {
            color: $bg-color-main;
            margin: 0 0.2rem;
            transition: $transition-200ms;

            &:hover {
              color: $color-main;
            }
          }
        }

        .content__list {
          list-style: arabic-indic;
        }

        .nested__list {
          .nested__list__item {
            .nested__list__item__title {
              font-weight: $fw-semiBold;
              font-size: $fs-18;
              text-align: start;
            }

            .nested__list__item__content {
              text-align: justify;
            }
          }
        }
      }
    }
  }
}


