
<!-- Start Header -->
<!-- <app-banners-logo  [loading]="loading" [type]="'banner'"></app-banners-logo>
<app-banners-logo  [loading]="loading"  [type]="'logo'"></app-banners-logo>
<div class="page__tabs nb-0 container">
    <ul class="tabs__list">
        <li class="list__item list__item-3" routerLink="./">
            <a class="list__link "  [routerLinkActive]="['active']"  >السوق</a>
        </li>
        <li class="list__item list__item-3"routerLink="my-ads">
            <a class="list__link"  [routerLinkActive]="['active']">اعلاناتك</a>
        </li>
        <li class="list__item list__item-3" [routerLink]="['market-chat', id]" >
            <a class="list__link " [routerLinkActive]="['active']">الرسائل</a>
        </li>
    </ul>
</div> -->

<router-outlet></router-outlet>
