

<alert></alert>

<div class="main__content__body mt-md-5">
    <!-- Start Login -->
    <article class="container login ">
        <h2 class="main-title font-weight-bold">تسجيل الدخول</h2>
        <div class="auth__holder">
            <section class="login-box">
                <!-- <a href="../../index.html"><img alt="Main Logo" src="../../../../assets/images/main_logo.png"></a> -->
                <div class="form__container">
                    <form class="form__box" (ngSubmit)="onSubmit()" [formGroup]="loginForm" dir="rtl">
                        <input
                        [class.is-invalid] = "loginForm?.get('email')?.invalid && loginForm?.get('email')?.touched"
                            class="inputs"
                            formControlName="email" 
                            placeholder="الإيميل او رقم التليفون"
                            type="text">
                            <div *ngIf=" loginForm?.get('email')?.errors" class="invalid-feedback">
                                <div *ngIf="this.f['email'].hasError('email')">email is not valid</div>
                            </div>
                        <div class="buttonIn">
                            <input
                            class="inputs"
                            formControlName="password"
                            [type]="hide ? 'password' : 'text'"
                            placeholder="الرقم السري" 
                            type="password">
                        <button
                        id="clear"
                        (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide"
                        class="our-font-color w-auto"
                        matSuffix type="button">
                        <svg *ngIf="!hide" class="vertical-baseline" fill="#9B9B9B" height="24" viewBox="0 0 24 24"
                                width="24"
                                xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path
                            d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
                        </svg>
                        <svg *ngIf="hide" class="vertical-baseline" fill="#9B9B9B" height="24" viewBox="0 0 24 24"
                                width="24"
                                xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0z" fill="none"/>
                            <path
                            d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z"/>
                        </svg>
                        </button>
                        </div>
                   
                        <app-submit-button class="btn__submit" [form]="loginForm" [loading]="loading" [title]="'تسجيل الدخول'"></app-submit-button>

                        <!-- <input class="btn__submit" type="submit" value="تسجيل الدخول"> -->
                    </form>
                </div>

                <section class="login-options">
                    <a class="forgot-password links" [routerLink]="['/user/forget-password']">هل نسيت كلمة السر؟</a>
                    <span class="sign-up font-weight-bold"> ليس لديك حساب ؟ <a class="links" [routerLink]="['/user/register']"> سجل
                            الان</a></span>
                </section>
                <h3 class="or font-weight-bold">أو</h3>
                <section class="login-extras">
                    <!--add m-auto-->
                    <a class="login-facebook " (click)="authService.loginWithFacebook()">
                        <i class="fab fa-facebook-f"></i>
                        الدخول عن طريق فيسبوك
                    </a>
                    <a class="login-google " (click)="authService.GoogleAuth()">
                        <i class="fab fa-google"></i>
                        الدخول عن طريق جوجل
                    </a>

                  <!-- <div id="buttonDiv" class="login-google"></div>   -->
                  
                  <!-- <div id="g_id_onload"
                  data-client_id="552649577410-qs09ipcibvdfcfd97phi3drru3qufis0.apps.googleusercontent.com"
                  data-callback="handleCredentialResponse1"
                  data-auto_prompt="false"
                  >
               </div>
               <div class="g_id_signin m-auto"
                  data-type="standard"
                  data-size="large"
                  data-theme="filled_blue"
                  data-text="sign_in_with"
                  data-shape="rectangular"
                  data-logo_alignment="left"
                  data-width="300"
                  style="          
                    width: 300px;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    padding: 10px 0;
                    border-radius: 5px;
                    margin-bottom: 10px;
            ">
               </div> -->

                    <span class="font-weight-bold">بتسجل حساب بأنك توافق علي <a class="terms links" href="#"> الشروط
                            والأحكام</a></span>
                </section>
            </section>
        </div>
    </article>
    <!-- End Login -->
</div>
