.inside preview-image .ng-star-inserted{
    margin: 10px;
}

.preview-image{
    margin: 10px;
    // border:solid red 23px;
   width: 5100px !important
}

 .preview-image{
     margin: 10px;
    //  border:solid red 23px;
}

.preview-image.active{
    margin: 10px;
   //  border:solid red 23px;
   border:solid #FFBB33 4px;       


}
#current-image{
     border-radius: 20px;
}
.dots-container  .dot {
    background:#0C6A22 !important
}

.dots-container  .dot.active {
    background:#FFBB33 !important
}



.right-arrow-image, .left-arrow-image {
    // background-color: #0C6A22 !important;
    border-radius: 50%;
    // padding: 10px !important;
    width: 40px  ;
    height: 40px  ;
    background-position:9px;
    background-repeat: no-repeat;
    margin: auto;
}

.preview-inner-container{
    overflow-x: hidden;
   width: 10%;
    img{
        max-width:  150px !important;
        // height: 150px !important;
        // background-clip: 100% ;
        border-radius: 20px;
    }
}