
    <article class="add__add__container">
        <div class="ads__holder">
            <h2 class="main-title"> {{pageName}}</h2>
            <form [formGroup]="jobForm" class="form-box" style="justify-content: start;" >


                <!-- <input formControlName="company_id"  type="text" hidden [value]="company_id">
                <input formControlName="category_id"  type="text" hidden [value]="category_id"> -->

                <!-- <h5 class="m-2">الشركات : </h5> -->
                <div class="dropdown w-100" >
                    <button 
                    (click)="myFunction()" class="dropbtn inputs "  id="company"><label style="cursor: pointer;">حدد الشركة </label> <i class="fa-sharp fa-solid fa-caret-down"></i></button>
                    <div id="myDropdown" class="dropdown-content">
                      <input type="text" placeholder="Search.." id="myInput" (keyup)="filterFunction()" >
                      <a *ngFor="let value of tempCompanies" style="cursor: pointer;" (click)="selectCompany(value.id,value.name)">{{value.name}}</a>
                    </div>
                  </div>

                  <!-- <h5 class="m-2">الأقسام : </h5> -->
                  <div class="dropdown w-100" >
                    <button 
                    (click)="myFunction1()" class="dropbtn inputs " id="category"><label style="cursor: pointer;">اختر القسم </label> <i class="fa-sharp fa-solid fa-caret-down"></i></button>
                    <div id="myDropdown1" class="dropdown-content">
                      <a *ngFor="let value of categories" style="cursor: pointer;" (click)="selectCategory(value.id,value.name)">{{value.name}}</a>
                    </div>
                  </div>

                  <h5 class="mt-2 w-25">المسمي الوظيفي : <div class="p-1" *ngIf="f['title'].errors?.['required']&&f['title'].touched" [ngClass]="{'error':f['title'].errors?.['required']&&f['title'].touched}"> يرجي ادخال المسمي الوظيفي </div>
</h5> 
                  <input formControlName="title"  class="job-name inputs w-75" placeholder="الوظيفة المطلوبة" type="text" [ngClass]="{'invalid':f['title'].errors?.['required']&&f['title'].touched}">
             
                  <h5 class="mt-2 w-25">العنوان  : <div class="p-1" *ngIf="f['address'].errors?.['required']&&f['address'].touched" [ngClass]="{'error':f['address'].errors?.['required']&&f['address'].touched}"> يرجي ادخال العنوان </div></h5>
                  <input formControlName="address" class="job-address inputs w-75" placeholder="العنوان" type="text" [ngClass]="{'invalid':f['address'].errors?.['required']&&f['address'].touched}">
                
                  <!-- <h5 class="mt-2 w-25">رقم الموبايل : </h5><input formControlName="phone" class="job-phone inputs w-75" placeholder="الموبايل" type="text"> -->
                  
                  <h5 class="mt-2 w-25">الراتب : <div class="p-1" *ngIf="f['salary'].errors?.['required']&&f['salary'].touched" [ngClass]="{'error':f['salary'].errors?.['required']&&f['salary'].touched}"> يرجي ادخال  الراتب </div></h5>
                  <input formControlName="salary" class="job-salary inputs w-75" placeholder=" الراتب" type="number" [ngClass]="{'invalid':f['salary'].errors?.['required']&&f['salary'].touched}">

                  <!-- <h5 class="mt-2 w-25">البريد الالكتروني : </h5><input formControlName="email" class="job-email inputs w-75" placeholder="البريد الالكتروني" type="text"> -->
                  <h5 class="mt-2 w-25">الخبرة المطلوبة : <div class="p-1" *ngIf="f['experience'].errors?.['required']&&f['experience'].touched" [ngClass]="{'error':f['experience'].errors?.['required']&&f['experience'].touched}"> يرجي ادخال الخبرة المطلوبة </div></h5>
                  <input formControlName="experience" class="job-experience inputs w-75" placeholder="الخبرة المطلوبة " type="text" [ngClass]="{'invalid':f['experience'].errors?.['required']&&f['experience'].touched}">

                  <h5 class="mt-2 w-25">التفاصيل : <div class="p-1" *ngIf="f['desc'].errors?.['required']&&f['desc'].touched" [ngClass]="{'error':f['desc'].errors?.['required']&&f['desc'].touched}"> يرجي ادخال التفاصيل </div></h5>
                  <textarea formControlName="desc" class="job-experience inputs w-75" name="desc" placeholder="تفاصيل الاعلان" rows="10" [ngClass]="{'invalid':f['desc'].errors?.['required']&&f['desc'].touched}"></textarea>
                  
                  <h5 class="mt-2 w-25" > الدوام:</h5>
                  <div class="row w-75">
                          <section class="col-3 mt-2"><input formControlName="work_hours" id="1" name="work_hours" type="radio" value="دوام كلي" ><label for="1" class="px-2 fs-6"> كلي</label></section>
                          <section class="col-3 mt-2"><input formControlName="work_hours" id="2" name="work_hours" type="radio" value="دوام جزئي" ><label for="2" class="px-2 fs-6"> جزئي</label></section>
                          <section class="col-3 mt-2"><input formControlName="work_hours" id="3" name="work_hours" type="radio" value="عن بعد" ><label for="3"class="px-2 fs-6" > عن بعد</label></section>
                          <section class="col-3 mt-2"><input formControlName="work_hours" id="4" name="work_hours" type="radio" value="مرن" ><label for="4"class="px-2 fs-6" > مرن</label></section>

                    </div>
                  


                <!-- <label >حدد الشركة:</label>    -->
                
                <!-- <input class="search-area " id="searchNavBar" #v (change)="selectCompany(v.value)" placeholder="ابحث عن الشركة" type="search"> -->
                <!-- <button class="submit" type="submit"> -->
                    <!-- <i class="fas fa-search me-2"></i>

                <select (change)="selectCompany($any($event.target).value)">
                    <option value="0">اختر الشركة --</option>
                  <option *ngFor="let value of Companies"
                  [value]="(value.id)"
                  [selected]="value.selected == 1 ? true : null">
                  {{value.name}}
                </option>
                </select> -->


                <!-- <a class="submit" >إضافة الإعلان</a> -->
                <button
                class="submit"
                mat-raised-button
                type="submit" (click)="onSubmit()">
                {{pageName}}
              </button>
            </form>
        </div>
    </article>