.ngx-pagination .current {
    background:  #FFAA00 !important;
}
.pagination {
    margin: 15px 200px 0 50px;

}

@media screen and (max-width: 600px) {
    .pagination {
        margin: 15px 50px 0 50px;
    
    }
}