<app-loader *ngIf="loading"></app-loader>

<div class="main__content__body">
    <div class="container" >
        <h1 class="mt-3 mt-lg-0">{{h_search_form.title}}</h1>
    </div>
    <app-banners-logo  [loading]="loading" [type]="'banner'"></app-banners-logo>
    <app-banners-logo  [loading]="loading"  [type]="'logo'"></app-banners-logo>
    <app-horizontal-search (newItemEvent)="filter($event)" [data]="h_search_form" ></app-horizontal-search>

    <article class="container global__container">

                <app-card (navigation)="navigate($event)" [data]="News" [loading] ="loading" [flag]=false [newscard]=true></app-card>
                <div class="pagination">
                    <ul>
                        <li *ngFor="let item of [].constructor(page.last_page) | paginate: { itemsPerPage: 1, currentPage:page.current_page }"> </li>
                    </ul>
                    <pagination-controls                       
                    [maxSize]="6"
                    previousLabel=""
                    nextLabel=""
                    (click)="next_page(page.current_page)"
                     (pageChange)="page.current_page = $event
                     "></pagination-controls>
                </div>


    </article>

</div>