* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    text-align: left;
body {
    font-family: 'Roboto', sans-serif;
    /* height: 5000px; */  
   
}
}
.header,
.header-2 {
    background-color: #486287;
    // direction: rtl;
}
.header .img img,
.header-2 .img img {
    width: 50px;
}
.header ul {
    gap: 0 40px;
    font-weight: 500;
    color: white;
    text-transform: capitalize;
    @media screen and (max-width: 902px) {
        gap: 0 13px;
    }
}
.header ul li {
    position: relative;
    /* padding: 30px 0; */
    cursor: pointer;
    display: flex;
    align-items: center;

}
.header ul li a {
    color: white;
}
.header ul li::before {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center bottom;
    transition: 0.3s;
}
.header ul li:hover::before {
    transform: scaleX(1);
}
.header ul li.active::before {
    transform: scaleX(1);
}
.header-2 {
    // position: relative;
    position: sticky;
}
.header-2 .menu-icon {
    gap: 6px 0;
    cursor: pointer;
    height: fit-content;
    z-index: 20;
}
.header-2 .menu-icon span {
    display: block;
    height: 2px;
    width: 25px;
    background-color: white;
    transition: 0.3s;
    transform: rotate(0);
    transform-origin: center center;
}
.header-2 .menu-icon span:nth-child(2) {
    width: 20px;
    opacity: 1;
}
.header-2 .menu-icon.active {
    gap: 0;
    align-items: center !important;
}
.header-2 .menu-icon.active span:nth-child(2) {
    transform: rotate(-40deg);
}
.header-2 .menu-icon.active span:first-child{
    transform: rotate(-40deg);
    margin-bottom: -2px;
}
.header-2 .menu-icon.active span:last-child{
    transform: rotate(40deg);
    margin-top: -2px;
}
.header-2 .dpn {
    padding-top: 60px;
    padding-bottom: 40px;
    position: absolute;
    top: -340%;
    width: 100%;
    background-color: #486287;
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    transition: 0.3s;
}
.header-2 .dpn.active {
    top: 0;
}
.header-2 .dpn li {
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 5px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}
.header-2 .dpn li::before {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center bottom;
    transition: 0.3s;
}
.header-2 .dpn li:hover::before {
    transform: scaleX(1);
}
.header-2 .dpn li.active::before {
    transform: scaleX(1);
}
.landing {
    background-color: #304563;
    direction: ltr;
}
@media screen and (min-width: 768px) {
    .landing{
    height: calc(625px - 90.69px);
    }
}
.landing .content h1 {
    color: #D2A74C;
    font-weight: 700;
    @media (min-width: 1200px){
    font-size: 3.3rem;
        }
    }
.landing .content p {
    width: 65%;
    color: white;
    
}
.landing .content a {
    background-color: #D2A74C;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    transition: 0.3s;
}
.landing .content a:hover {
    background-color: #f5c866;
}
.landing .img img {
    // width: auto;
    height: 100%;
    @media (min-width: 768px){
        width: auto;
    }
}

.about{ 
     direction: ltr;
    .imgs {
    position: relative;
    height: 300px;
    // background-color: #304563;
    // padding: 10px;
    @media screen and (max-width: 768px) {
        height: 370px;
    }

}

}    
iframe .ytp-title {
        display: none !important;
    }

    .ytp-title-enable-channel-logo .ytp-title-channel,
    .ytp-title-channel {
      display: none !important;
    }
.about .imgs iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
    border-radius: 10px;
    // @media screen and (max-width: 768px) {
    //     width: 80%;
    // }
}
// .about .imgs img:last-child:hover {
//     opacity: 0;
// }
.about .content h2 {
    color: #304563;
    font-weight: 700;
}

.history {
    background-color: #304563;
    color: white;
    position: relative;
    direction: ltr;
    
}
.history .bg {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
   
}
.history .content {
    position: relative;
    /* background-image: url("images/Group 69.png"); */
}
.history .content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 2px;
    background-color: #D2A74C;
    outline: 50px solid transparent;

}
.history h2 {
    color: white;
    font-weight: 700;
}
.history .content .img img {
    border-radius: 10px;
}
.history .content span {
    background-color: #D2A74C;
    color: white;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    z-index: 2;
}
.history .content span::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #D2A74C;
} 
.history .content span::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -92px;
    width: 92px;
    height: 2px;
    background-color: #D2A74C;
    z-index: -1;
}
.history .content .right span::before {
    right: 0;
    left: -20px;
}
.history .content .right span::after {
    right: 0;
    left: auto !important;
}
.history .content p {
    color: white;
}

@media screen and (max-width: 768px) {
    .history .content .row {
        gap: 130px 0;
    }
    .history .content::before {
        height: 2px;
        width: 100%;
        top: 49%;
        left: 0;
        transform: translateX(0);
    }
    .history .content span::after {
        display: none;
    }
    .history .content span::before {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .history .content span::after {
        width: calc(720px / 2) !important;
        left: 0 !important;
    }
    // .history .content .right span::after {
    //     right: 0;
    //     left: -72px;
    // }
}

@media screen and (min-width: 991px) {
    .history .content span::after {
        width: calc(960px / 2) !important;
        left: 0 !important;
    }
    

}
@media screen and (min-width: 1200px) {
    .history .content span::after {
        width: calc(1140px / 2) !important;
        left: 0 !important;
    }
    

}
@media screen and (min-width: 1400px) {
    .history .content span::after {
        width: calc(1024px / 2) !important;
        left: 0 !important;
    }

}

.business h2 {
    color: #304563;
    font-weight: 700;
}
.business .gridy {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}
.business .gridy .g-item .img {
    overflow: hidden;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.5px solid #D2A74C;
    border-radius: 10px;
    height:160px;
    img{
        height: inherit;
    }
}
@media screen and (max-width: 992px) {
    .business .gridy {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 576px) {
    .business .gridy {
        grid-template-columns: repeat(1, 1fr);
    }
}
.business .gridy .g-item .text {
    background-color: #304563;
    border-radius: 10px;
    min-height: 104px;
    &:hover{
        background-color: #D2A74C;
        border-radius: 0px;
    }
}
.business .gridy .g-item .text p {
    font-size: 16px;
    color: white;
}
.footer {
    background-color: #304563;
    color: white;
    direction: ltr;
    img{
        width: auto;
    }
}
.footer .gridy {
    display: grid;
    align-items: center;
    grid-template-columns: 280px 270px 300px;
    justify-content: space-between;
    align-items: baseline;
}
@media screen and (max-width: 992px) {
    .footer .gridy {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
}
@media screen and (max-width: 768px) {
    .footer .gridy {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }
}
.links{
    border-bottom: none;
}
.mail{
    color: white;
    &:hover{
    color: var(--yellow);
}
}

.footer .gridy .g-item .links a {
    color: white;
    transition: 0.3s;
}
.footer .gridy .g-item .links a:hover {
    color: #D2A74C;
}
.footer .gridy .g-item form .inputs {
    gap: 20px;
}
.footer .gridy .g-item form input {
    background-color: transparent;
    border: 1px white solid;
    color: white;
    border-radius: 10px;
    outline: none !important;
    transition: 0.3s;
}
.footer .gridy .g-item form input:focus {
    border-color: #D2A74C;
}
.footer .gridy .g-item form input::placeholder {
    color: white;
}
.footer .gridy .g-item form input.submit {
    background-color: #D2A74C;
    border: none;
    transition: 0.3s;
}
.footer .gridy .g-item form input.submit:hover {
    background-color: #f5c866;
}

.container{
    // max-width: 80%;
    margin: auto;
}

@media screen and (max-width: 1400px) {

    .about .container{
        max-width: 95%;
    }
}
@media screen and (min-width: 1400px) {

    .about .container{
        max-width: 70%;
    }
}

@media screen and (min-width: 435px) and (max-width: 767px) {

    .about .container{
        max-width: 80%;
    }
}

@media screen and (max-width: 992px) {

    .header .container{
        max-width: 768px;
    }
}


// .about .container{
//     max-width: 100%;
//     margin: auto;
// }

