.action__yellow__green__button:hover{

    color: #FFBB33;
    background-color: #1a5302 !important;
}
.icon{
    font-size: 9px !important;
}
// img{
//     width: 75%;
// }

  div.b {
    word-wrap: break-word;
  }
