.action__yellow__green__button:hover{

    color: #FFBB33;
    background-color: #1a5302 !important;
}
.icon{
    font-size: 9px !important;
}
// img{
//     width: 75%;
// }

  div.b {
    word-wrap: break-word;
  }

  .job-info {
    line-height: 1;
}
.job-info .job-info-cont {
    box-shadow: 0 0 5px #9e9e9e;
    border-radius: 10px;
    overflow: hidden;
}
.job-info .job-info-cont .content img {
    width: 150px;
}
.job-info .job-info-cont .content .info .info-span {
    background-color: #CECECE;
    border-radius: 16px;
}
.job-info .job-info-cont .content .info i {
    color: var(--green);
}
.job-info .statistics .sections {
    text-align: center;
}
.job-info .statistics .sections .stats-item {
    position: relative;
}
.job-info .statistics .sections .stats-item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    background-color: #9e9e9e;
}
@media screen and (max-width: 991px) {
    .job-info .statistics .sections .stats-item:nth-child(2)::after {
        display: none;
    }
}
@media screen and (max-width: 596px) {
    .job-info .statistics .sections .stats-item:nth-child(2)::after {
        display: block;
    }
    .job-info .statistics .sections .stats-item:not(:last-child)::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: #9e9e9e;
    }
}
.job-info .statistics .sections span {
    color: #7e7e7e;
    font-size: 25px;
    display: block;
}
.job-info .statistics .sections p {
    color: var(--green);
}
.job-info .job-info-cont .foot {
    background-color: var(--green);
}
.job-info .job-info-cont .foot a {
    background-color: transparent;
    border: 2px solid var(--yellow);
    color: var(--yellow);
    font-size: 18px;
    border-radius: 10px;
    transition: 0.3s;
}
.job-info .job-info-cont .foot a:hover {
    background-color: var(--yellow);
    color: var(--green);
}
.job-info-2 .job-info-2-cont,
.job-skills .job-skills-cont,
.job-desc .job-desc-cont,
.job-reqs .job-reqs-cont,
.similar-jobs .similar-jobs-cont {
    line-height: 1;
    box-shadow: 0 0 5px #9e9e9e;
    border-radius: 10px;
    overflow: hidden;
}
.job-info-2 .job-info-2-cont .content .item .cont i {
    color: var(--green);
}
.job-info-2 .job-info-2-cont .content .item p:first-child {
    min-width: 150px;
}
.job-info-2 .job-info-2-cont .content .item .cont p {
    color: #7e7e7e;
}
.job-skills .job-skills-cont .skills-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.job-skills .job-skills-cont span {
    background-color: #CECECE;
    border-radius: 16px;
}
.job-desc .job-desc-cont p {
    line-height: 1.4;
    font: normal normal normal 17px/36px beIN Normal;
    width: 85%;
    font-weight: bold;
}
.job-desc .job-desc-cont ul li:not(:last-child),
.job-reqs .job-reqs-cont ul li:not(:last-child) {
    margin-bottom: 20px;
}