
    
    <div class="exhibition__bar__container">
        <div class="container actions__container">
            <ul class="list-unstyled actions__list">
                <li class="single__action">
                    <button class="going__btn" id="going" (click)="going()">الذهاب</button>
                </li>
                <li class="wall"></li>
                <li class="single__action">
                    <button
                            class="action"
                            data-target="#request__booth"
                            data-toggle="modal"
                    >
                        طلب مكان عرض
                    </button>
                </li>
                <li class="wall"></li>
                <li class="single__action">
                    <button class="action" data-target="#addRate" data-toggle="modal">
                        إضافة تقييم
                    </button>
                </li>
                <li class="wall"></li>
                <li class="single__action">
                    <button class="action" data-target="#share" data-toggle="modal" >
                        المشاركة
                    </button>
                </li>
            </ul>
        </div>
        <!-- <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </symbol>
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
          </svg>
         -->
                  <!-- <div class="alert alert-success d-flex align-items-center w-75 justify-content-center m-auto" role="alert" *ngIf="message">
                    <svg class="bi flex-shrink-0 mx-2" width="24" height="24" role="img" aria-label="success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>
                      {{message}}
                    </div>
                  </div> -->


        <!-- Start Gallery Modal -->
        <div
                aria-hidden="true"
                aria-labelledby="exampleModalLabel"
                class="modal fade"
                id="request__booth"
                tabindex="-1"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header flex-row-reverse align-items-baseline">
                        <p class="modal__title">طلب مكان عرض</p>
                        <button
                                aria-label="Close"
                                class="modal__close"
                                id="close1"
                                data-dismiss="modal"
                                type="button"
                        >
                            <i class="fas fa-times-circle"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid" dir="rtl">
                            <div class="form__container">
                                <form [formGroup]="addPlaceForm" (ngSubmit)="addPlace()" class="form__box row justify-content-center">
                                    <input formControlName="name" class="inputs" placeholder="الأسم" type="text"/>
                                    <input formControlName="email"class="inputs" placeholder="الإيميل" type="text"/>
                                    <input formControlName="phone"
                                            class="inputs"
                                            placeholder="رقم الموبيل"
                                            type="text"
                                    />
                                    <input  formControlName="company"
                                            class="inputs"
                                            placeholder="أسم الشركة"
                                            type="text"
                                    />
                                    <textarea
                                            formControlName="desc"
                                            class="inputs"
                                            placeholder="التفاصيل"
                                            rows="5"
                                    ></textarea>
                                    <button

                                            class="action__yellow__green__button w-75"
                                            type="submit"
                                    >
                                        إرسال
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Gallery Modal -->
        <!-- Start Gallery Modal -->
        <div
                aria-hidden="true"
                aria-labelledby="exampleModalLabel"
                class="modal fade"
                id="addRate"
                tabindex="-1"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header flex-row-reverse align-items-baseline">
                        <p class="modal__title">تقييم المعرض</p>
                        <button
                                aria-label="Close"
                                class="modal__close"
                                id="close2"
                                data-dismiss="modal"
                                type="button"
                        >
                            <i class="fas fa-times-circle"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid" dir="rtl">
                            <div class="form__container">
                                <form  [formGroup]="addRate" (ngSubmit)="sendRate()" class="form__box row justify-content-start"
                                >
                                    <input formControlName="name" class="inputs" placeholder="الأسم" type="text"/>
                                    <input formControlName="email" class="inputs" placeholder="الإيميل" type="text"/>

                                    <!--        New Rating Component        -->
                                    <div
                                            class="
                          main__rating
                          d-flex
                          align-items-center
                          justify-content-center
                        "
                                            style="margin: 1rem auto !important"
                                    >
                                        <div class="global__rating" >
                                            <!-- <a (click)="rate(1, $event)"><i id="id" class=" far fa-star"  [ngClass]="{'rating__star':1 <= rateValue }"></i></a>
                                            <a (click)="rate(2, $event)"><i id="id"  class=" far fa-star"  [ngClass]="{'rating__star':2 <= rateValue}"></i></a>
                                            <a (click)="rate(3, $event)"><i id="id" class=" far fa-star"  [ngClass]="{'rating__star':3 <= rateValue}"></i></a>
                                            <a (click)="rate(4, $event)"><i id="id" class=" far fa-star"  [ngClass]="{'rating__star':4 <= rateValue}"></i></a>
                                            <a (click)="rate(5, $event)"><i id="id" class=" far fa-star"  [ngClass]="{'rating__star':5 <= rateValue}"></i></a> -->
                                            <form [formGroup]="addRate">
                                                  <div class="stars">
                                                    <ngx-star-rating
                                                      formControlName="rate"
                                                      [id]="'rating'"
                                                    ></ngx-star-rating>
                                                  <!-- <div>Rating: {{ form.value.rating1 }}</div>
                                                  <p>form is valid: {{ form.valid ? 'true' : 'false' }}</p> -->
                                                </div>
                                              </form>

                                        </div>

    
                                          


                                          

                                        <div class="mx-2">
                                            <span class="rating__result"></span>
                                        </div>
                                    </div>

                                    <textarea
                                            formControlName="desc"
                                            class="inputs"
                                            placeholder="التقييم"
                                            rows="5"
                                    ></textarea>
                                    <button
                                            class="action__yellow__green__button w-75"
                                            type="submit"
                                    >
                                        إرسال
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Gallery Modal -->
        <!-- Start Gallery Modal -->
        <div
                aria-hidden="true"
                aria-labelledby="exampleModalLabel"
                class="modal fade"
                id="share"
                tabindex="-1"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header flex-row-reverse align-items-baseline">
                        <p class="modal__title">مشاركة المعرض</p>
                        <button
                                aria-label="Close"
                                class="modal__close"
                                id="close3"
                                data-dismiss="modal"
                                type="button"
                        >
                            <i class="fas fa-times-circle"></i>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="share__container">
                                <h4>مشاركة المعرض عبر منصات التواصل الاجتماعى</h4>
                                <div class="area__container" #container>
                                    <p id="item-to-copy" >https://elkenany.com/#/gallery/{{type}}/{{data?.id}}/about</p>
                                    <button class="p__link" ngxClipboard [cbContent]="'https://elkenany.com/#/gallery/'+type+'/'+data?.id+'/about'" [container]="container">  نسخ رابط المعرض
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Gallery Modal -->
    </div>

    <div class="content " style="margin-bottom: 20px">

        <!-- Aalert Messages -->
                                        
              <div class="alert alert-success alert-styled-right alert-arrow-right alert-bordered text-center bounceIn" *ngIf="message" id="alert">
                <button type="button" class="close pull-left" data-dismiss="alert" style="border: none;"><span style="font-size: 35px;line-height: 53px;color: red;border: 0px;background-color: #d1e7dd;">×</span></button>
                <strong style="line-height: 50px;"> {{message}} </strong>
              </div>
                            
        <!-- Vaildtions Messages  -->
        </div>

<div class="about__exhibition container">

    
    <div class="row">
        <div class="col-12">
            <!-- Start Company Gallery -->
            <article class="company-gallery">
                <div class="basic-container" *ngIf="data">
                    <!-- <gallery id="basic-test" fluid [items]="items"></gallery> -->
                    <app-gallery-carouel [images]="data.images" ></app-gallery-carouel>
                </div>
               
                <div class="slider__description">
            {{data?.short_desc}}
                </div>
                <!-- <div class="tags">
                    <div class="tag">
                        <p>الكنانى</p>
                    </div>
                    <div class="tag">
                        <p>معرض القاهرة 2021</p>
                    </div>
                    <div class="tag">
                        <p>معرض القاهرة 2019</p>
                    </div>
                </div> -->
            </article>
            <!-- End Company Gallery -->

        </div>
        <div class="col-12">
            <div class="about__exhibition-content row">
                <div class="col-12 col-md-6">
                    <div class="content__card">
                        <div class="title">التاريخ</div>
                        <div class="body">
                            <ul>
                                <li *ngFor="let date of data?.dates">
                                    <p>
                                        <i class="far fa-calendar"></i><span class="me-2">{{date.date}}</span>
                                    </p>
                                </li>
                 
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="content__card">
                        <div class="title">المواعيد</div>
                        <div class="body">
                            <ul>
                                <li *ngFor="let time of data?.times">
                                    <p>
                                        <i class="far fa-clock "></i><span class="me-2">{{time.time}}</span>
                                    </p>
                                </li>
                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="content__card">
                        <div class="title">تكلفة الدخول</div>
                        <div class="body">
                            <ul>
                                <li *ngFor="let ticket of data?.tickets">
                                    <p class="single__data-big">
                                        <span class="body__title"><i class="fas fa-ticket-alt" ></i> {{ticket.name}}</span>
                                        <span class="body__content"
                                        ><span class="me-2">{{ticket.price}} جنية</span></span
                                        >
                                    </p>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="content__card">
                        <div class="title">المشاركون</div>
                        <div class="body">
                            <ul>
                                <li>
                                    <p>
                                        <i class="fas fa-user-friends"></i
                                        ><span class="me-2">{{data?.view_count}} زائر</span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <i class="fas fa-user-friends"></i
                                        ><span class="me-2">{{data?.count_Showers}} عارض</span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="content__card">
                        <div class="title">الجهات المنظمة</div>
                        <div class="body">
                            <ul>
                                <li *ngFor="let org of data?.organisers">
                                    <p>
                                        <i class="fas fa-sitemap"></i
                                        ><span class="me-2"> {{org.name}}</span>
                                    </p>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>