
    
    <div class="container" >
        <h1 class="mt-3 mt-lg-0">{{data?.name}}</h1>
    </div>

   <div class="exhibition__bar__container container">
        <div class="container actions__container">
            <ul class="list-unstyled actions__list">
                <li class="single__action">
                    <button class="going__btn" id="going" (click)="going()">الذهاب</button>
                </li>
                <li class="single__action">
                    <button
                            class="action"
                            data-target="#request__booth"
                            data-toggle="modal"
                    >
                        طلب مكان عرض
                    </button>
                </li>
                <li class="single__action">
                    <button class="action" data-target="#addRate" data-toggle="modal">
                        إضافة تقييم
                    </button>
                </li>
                <li class="single__action">
                    <button class="action" data-target="#share" data-toggle="modal" >
                        المشاركة
                    </button>
                </li>
            </ul>
        </div>

        <!-- Start Gallery Modal -->
        <div
                aria-hidden="true"
                aria-labelledby="exampleModalLabel"
                class="modal fade"
                id="request__booth"
                tabindex="-1"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header flex-row-reverse align-items-baseline">
                        <p class="modal__title">طلب مكان عرض</p>
                        <button
                                aria-label="Close"
                                class="modal__close"
                                id="close1"
                                data-dismiss="modal"
                                type="button"
                        >
                            <i class="fas fa-times-circle"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid" dir="rtl">
                            <div class="form__container">
                                <form [formGroup]="addPlaceForm" (ngSubmit)="addPlace()" class="form__box row justify-content-center">
                                    <input formControlName="name" class="inputs" placeholder="الأسم" type="text"/>
                                    <input formControlName="email"class="inputs" placeholder="الإيميل" type="text"/>
                                    <input formControlName="phone"
                                            class="inputs"
                                            placeholder="رقم الموبيل"
                                            type="text"
                                    />
                                    <input  formControlName="company"
                                            class="inputs"
                                            placeholder="أسم الشركة"
                                            type="text"
                                    />
                                    <textarea
                                            formControlName="desc"
                                            class="inputs"
                                            placeholder="التفاصيل"
                                            rows="5"
                                    ></textarea>
                                    <button

                                            class="action__yellow__green__button w-75"
                                            type="submit"
                                    >
                                        إرسال
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Gallery Modal -->
        <!-- Start Gallery Modal -->
        <div
                aria-hidden="true"
                aria-labelledby="exampleModalLabel"
                class="modal fade"
                id="addRate"
                tabindex="-1"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header flex-row-reverse align-items-baseline">
                        <p class="modal__title">تقييم المعرض</p>
                        <button
                                aria-label="Close"
                                class="modal__close"
                                id="close2"
                                data-dismiss="modal"
                                type="button"
                        >
                            <i class="fas fa-times-circle"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid" dir="rtl">
                            <div class="form__container">
                                <form  [formGroup]="addRate" (ngSubmit)="sendRate()" class="form__box row justify-content-start"
                                >
                                    <input formControlName="name" class="inputs" placeholder="الأسم" type="text"/>
                                    <input formControlName="email" class="inputs" placeholder="الإيميل" type="text"/>

                                    <!--        New Rating Component        -->
                                    <div
                                            class="
                          main__rating
                          d-flex
                          align-items-center
                          justify-content-center
                        "
                                            style="margin: 1rem auto !important"
                                    >
                                        <div class="global__rating" >
                                            <!-- <a (click)="rate(1, $event)"><i id="id" class=" far fa-star"  [ngClass]="{'rating__star':1 <= rateValue }"></i></a>
                                            <a (click)="rate(2, $event)"><i id="id"  class=" far fa-star"  [ngClass]="{'rating__star':2 <= rateValue}"></i></a>
                                            <a (click)="rate(3, $event)"><i id="id" class=" far fa-star"  [ngClass]="{'rating__star':3 <= rateValue}"></i></a>
                                            <a (click)="rate(4, $event)"><i id="id" class=" far fa-star"  [ngClass]="{'rating__star':4 <= rateValue}"></i></a>
                                            <a (click)="rate(5, $event)"><i id="id" class=" far fa-star"  [ngClass]="{'rating__star':5 <= rateValue}"></i></a> -->
                                            <form [formGroup]="addRate">
                                                  <div class="stars">
                                                    <ngx-star-rating
                                                      formControlName="rate"
                                                      [id]="'rating'"
                                                    ></ngx-star-rating>
                                                  <!-- <div>Rating: {{ form.value.rating1 }}</div>
                                                  <p>form is valid: {{ form.valid ? 'true' : 'false' }}</p> -->
                                                </div>
                                              </form>

                                        </div>

    
                                          


                                          

                                        <div class="mx-2">
                                            <span class="rating__result"></span>
                                        </div>
                                    </div>

                                    <textarea
                                            formControlName="desc"
                                            class="inputs"
                                            placeholder="التقييم"
                                            rows="5"
                                    ></textarea>
                                    <button
                                            class="action__yellow__green__button w-75"
                                            type="submit"
                                    >
                                        إرسال
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Gallery Modal -->
        <!-- Start Gallery Modal -->
        <div
                aria-hidden="true"
                aria-labelledby="exampleModalLabel"
                class="modal fade"
                id="share"
                tabindex="-1"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header flex-row-reverse align-items-baseline">
                        <p class="modal__title">مشاركة المعرض</p>
                        <button
                                aria-label="Close"
                                class="modal__close"
                                id="close3"
                                data-dismiss="modal"
                                type="button"
                        >
                            <i class="fas fa-times-circle"></i>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="share__container">
                                <h4>مشاركة المعرض عبر منصات التواصل الاجتماعى</h4>
                                <div class="area__container" #container>
                                    <p id="item-to-copy" >https://elkenany.com/#/gallery/{{type}}/{{data?.id}}/about/{{data?.id}}</p>
                                    <button class="p__link" ngxClipboard [cbContent]="'https://elkenany.com/#/gallery/'+type+'/'+data?.id+'/about/'+data?.id" [container]="container">  نسخ رابط المعرض
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Gallery Modal -->
    </div>

    <div class="content " style="margin-bottom: 20px">

        <!-- Aalert Messages -->
                                        
              <div class="alert alert-success alert-styled-right alert-arrow-right alert-bordered text-center bounceIn" *ngIf="message" id="alert">
                <button type="button" class="close pull-left" data-dismiss="alert" style="border: none;"><span style="font-size: 35px;line-height: 53px;color: red;border: 0px;background-color: #d1e7dd;">×</span></button>
                <strong style="line-height: 50px;"> {{message}} </strong>
              </div>
                            
        <!-- Vaildtions Messages  -->
        </div>

<div class="about__exhibition container">

    
    <div class="row">
        


        <div class="col-md-8 gallery">
            <!-- Start Company Gallery -->
                <div class="basic-container" *ngIf="data">
                    <!-- <gallery id="basic-test" fluid [items]="items"></gallery> -->
                    <app-gallery-carouel [images]="data.images" ></app-gallery-carouel>
                </div>
               
            <!-- End Company Gallery -->

        </div>

        <div class="col-md-4 col-12">
            <div class="about__exhibition-content ">
            <div class="">
                <div class="content__card">
                    <div class="title">التاريخ</div>
                    <div class="body">
                        <ul>
                            <li *ngFor="let date of data?.dates">
                                <p>
                                    <i class="far fa-calendar"></i><span class="me-2">{{date.date}}</span>
                                </p>
                            </li>
             
                        </ul>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="content__card">
                    <div class="title">المواعيد</div>
                    <div class="body">
                        <ul>
                            <li *ngFor="let time of data?.times">
                                <p>
                                    <i class="far fa-clock "></i><span class="me-2">{{time.time}}</span>
                                </p>
                            </li>
            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="content__card">
                    <div class="title">تكلفة الدخول</div>
                    <div class="body">
                        <ul>
                            <li *ngFor="let ticket of data?.tickets">
                                <p class="single__data-big">
                                    <span class="body__title"><i class="fas fa-ticket-alt" ></i> {{ticket.name}}</span>
                                    <span class="body__content"
                                    ><span class="me-2">{{ticket.price}} جنية</span></span
                                    >
                                </p>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="content__card">
                    <div class="title">المشاركون</div>
                    <div class="body">
                        <ul>
                            <li>
                                <p>
                                    <i class="fas fa-user-friends"></i
                                    ><span class="me-2">{{data?.view_count}} زائر</span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <i class="fas fa-user-friends"></i
                                    ><span class="me-2">{{data?.count_Showers}} عارض</span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="content__card">
                    <div class="title">الجهات المنظمة</div>
                    <div class="body">
                        <ul>
                            <li *ngFor="let org of data?.organisers">
                                <p>
                                    <i class="fas fa-sitemap"></i
                                    ><span class="me-2"> {{org.name}}</span>
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div> 
        </div>

    </div>

    <article class="company__details__container">
        <article class=" about-company">
            <h2 class="main-title">عن المعرض</h2>
            <p>  {{data?.short_desc}}</p>
        </article>
    </article>

</div>