    <!-- Start Right Section -->
    <div class="main__content__body">
        <app-horizontal-search (newItemEvent)="filter($event)" [data]="h_search_form" ></app-horizontal-search>


    <!-- End Right Section -->
    <div   class="ngx" style="width: auto;height: 500px; ">
        <ngx-charts-pie-chart
      
        [results]="single"
        [gradient]="gradient"
        [legend]="showLegend"
        [labels]="showLabels"
        [doughnut]="isDoughnut"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
        >
      </ngx-charts-pie-chart>

    </div>
        <!-- Start Global Content -->
        <article class="global__container container">
            <div class="row  no-gutters">
                <!-- Start Chart Part -->
                <section class="col-12 col-md-6 m-auto my-2 chart__container">
                    <div id="chart3">
    
                    </div>
                </section>

<!-- <article class="table__header__filter special__container" *ngIf="data?.countries && data?.products"> 
        <section class="head new__cards__header">
            <div class="card">
                <div class="card-header" id="itemsSelect">
                    <button 
                    aria-expanded="false" 
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    id="dropdownMenuButton"
                    appDropdown
                    #s="appDropDown" 
                    class="card__button"
                    data-target="#collapseItemsSelect">
                        الشركة
                    </button>
                </div>
                <div  [ngClass]="{'show':s.isOpen}" class="dropdown-menu" aria-labelledby="dropdownMenuButton"  aria-labelledby="itemsSelect" class="collapse" data-parent="#accordion"
                     id="collapseItemsSelect">
                    <div class="card-body">
                        <div class="multiselect multiselect-accordion" id="multiselect-companies-accordion">
                            <div class="checkboxes" id="checkboxes-companies-accordion">
                                <div class="company__search">
                                    <label for="searchCompany">
                                        <input class="searchInput" id="searchCompany" name="search"
                                               placeholder="ابحث عن"
                                               type="search">
                                    </label>
                                </div>
                                <div class="all__labels" >
                                     <label class="company__filter__label" for="company-accordion-one" *ngFor="let country of data?.products">
                                        <input class="checks checks-company-accordion" id="company-accordion-one"
                                               name="companies-accordion" type="checkbox"> {{country.name}}
                                   </label> 
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="head new__cards__header">
            <div class="card">
                <div class="card-header" id="itemsSelect2">
                    <button aria-expanded="false" 
                    aria-expanded="false" 
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    id="dropdownMenuButton"
                    appDropdown
                    #s1="appDropDown" 
                    class="card__button"
                    data-target="#collapseItemsSelect">
                        الصنف
                    </button>
                </div>
                <div  [ngClass]="{'show':s1.isOpen}" class="dropdown-menu" aria-labelledby="dropdownMenuButton"  aria-labelledby="itemsSelect" class="collapse" data-parent="#accordion"
                id="collapseItemsSelect">
                    <div class="card-body">
                        <div class="multiselect multiselect-accordion" id="multiselect-types-accordion">
                            <div class="checkboxes" id="checkboxes-types-accordion">
                                <div class="company__search">
                                    <label for="searchTypes">
                                        <input class="searchInput" id="searchTypes" name="search"
                                               placeholder="ابحث عن"
                                               type="search">
                                    </label>
                                </div>
                                <div class="all__labels">
                                     <label class="type__filter__label" for="type-accordion-one"  *ngFor="let country of data?.products">
                                        <input class="checks checks-type-accordion" id="type-accordion-one"
                                               name="companies-accordion" type="radio"> {{country.name}}
                                        </label> 
                           
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</article> -->


                <!-- Multi Select menu -->
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="multi__selectContainer">
                                <h4 class="multi__title">الانواع</h4>
                                <select (change)="filter({id: $any($event.target).value,type: 'sort'})" class="selectCategories form-control" id="multiple-checkboxes">
                                    <option value="0">الكل</option>
                                    <option value="2">قمح</option>
                                    <option value="1">ذرة</option>
                                    <option value="3">صويا</option>
                                    <option value="4">سكر</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="multi__selectContainer">
                                <h4 class="multi__title">المنشأ</h4>
                                <select (change)="filter({id: $any($event.target).value,type: 'countries'})"  class="select__categories selectCategories  form-control">
                                    <option selected value="القاهرة">الكل</option>
                                    <option *ngFor="let i of data?.countries" [value]=" i.country">{{i.country}}</option>
                                    
                                </select>
                            </div>
                        </div>
                    </div>
    
                </div>
                <!--    Table    -->
                <div class="col-12 p-0 statistics__main">
                    <!-- Start Table -->
                    <article class="table">
                        <section class="head">
                            <h3 class="title display__flex">النوع</h3>
                            <!-- Start Dropdown Item -->
                            <section class="title display__flex">
                                المنشأ
                            </section>
                            <h3 class="title display__flex">الكمية</h3>
                            <!-- End Dropdown Item -->
                        </section>
                        <div class="rows__container row__shadow">
                            <!-- Start One Row  -->
                        <section class="rows"  *ngFor="let i of data?.ships">
                            <section class="data display__flex">
                                <h4 class="data__content">
                                    <a class="item__link" [routerLink]="['/ships-traffic/statistics-details',i.id]">{{i.product}}</a>
                                </h4>
                            </section>
                            <div class="wall"></div>
                            <section class="data display__flex">
                                <h4 class="data__content">{{i.country}}</h4>
                            </section>
                            <div class="wall"></div>
                            <section class="data display__flex">
                                <h4 class="data__content">{{i.load}}</h4>
                            </section>
                        </section>
                            <!-- End One Row  -->
                        </div>
                    </article>
                    <!-- End Table -->
                </div>
            </div>

        </article>
        <!-- End Global Content -->



</div>

