

.test{
    width: 59rem;
}

.accordion {
    // position: absolute !important;
    width: 100%  !important;

}
.ngx {
    flex-direction: row ;
    flex-wrap: wrap 
}




@media only screen and (min-width: 1800px) {

    .chart-legend{
        position: absolute;

        margin-right:500px;
    }
}

@media only screen and (min-width: 1400px)  and (max-width: 1800px){

    .chart-legend{
        position: absolute;

        margin-right:300px;
    }
}

@media only screen and  (max-width: 1400px) {
    .ngx-charts{
        margin: auto;
    }
    .chart-legend{

        display: none !important;
     
    }


}


@media only screen and  (max-width: 450px) {
    .ngx {
        height: 300px !important;
        margin-left: 40px ;
        padding:-50px !important
    }
   

}


