<div class="about pt-5 pb-4">
    <div class="container">
        <div class="img d-flex flex-column align-items-center justify-content-center">
            <img  src="assets/images/qusetion.png" alt="">
            <h1 class="mt-2">الأسئلة الشائعة</h1>
        </div>
        <div class="content row justify-content-between mt-5">

                <div id="accordion" role="tablist">
                    
                    <div class="card">
                      <div class="card-header" role="tab" id="questionOneHeading">
                        <h5 class="mb-0">
                          <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                           <h2>ما هو تطبيق الكناني؟</h2> 
                          </a>
                        </h5>
                      </div>
                      <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="questionOneHeading" data-parent="#accordion">
                        <div class="card-body">
                          
                          <p>أول وأكبر منصة متعددة الخدمات في مصر والشرق الأوسط بدأت سنة 2018 </p>
                        </div>
                      </div>
                    </div>
    
                    <!-- Add more question-answer pairs using the same structure -->
                    

                      <div class="card">
                        <div class="card-header" role="tab" id="questionTwoHeading">
                          <h5 class="mb-0">
                            <a class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                             <h2>لماذا استخدم تطبيق الكناني؟</h2> 
                            </a>
                          </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="questionTwoHeading" data-parent="#accordion">
                          <div class="card-body">
                            
                            <p>  تطبيق الكناني تطبيق خدمي يوفر حلول رقمية ومعلوماتية للسوق المصري والعربي لتقليل حلقات الوصل بين التجار ورواد الأعمال.</p>
                          </div>
                        </div>
                      </div>



                      <div class="card">
                        <div class="card-header" role="tab" id="questionThreeHeading">
                          <h5 class="mb-0">
                            <a class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                             <h2>ما هي خدمات تطبيق الكناني؟</h2> 
                            </a>
                          </h5>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="questionThreeHeading" data-parent="#accordion">
                          <div class="card-body">
                            
                            <p> - البورصة اليومية: لتغطية أحدث وأدق أسعار منتجات وشركات السوق لحظة بلحظة.
                                - دليل الشركات: دليل شركات متكامل يضم جميع بيانات الشركات.
                                - سوق الكناني: خدمة بيعية لتبادل بيع وشراء جميع المنتجات والخدمات.
                                
                                - الأخبار: لتغطية أحدث الأخبار والأحداث اليومية.
                                - المناقصات: لعرض أجدد المناقصات المطروحة في السوق المصري.
                                - الوظائف: لطرح الفرص المتاحة في سوق العمل وتتيح للشركات عرض الوظائف المتاحة لديهم.
                                
                                - المعارض: عرض أحدث المعارض المحلية والدولية.
                                - دلائل ومجلات: توفر أحدث المجلات الخاصة بكل الشركات. 
                                - حركة السفن: أسهل نظام لتتبع حركة المراكب التي تدخل الميناء المصرية.
                                - القسم الخدمي: توفير بيانات كل المكاتب الخدمية في جميع المجالات.
                                 </p>
                          </div>
                        </div>
                      </div>





                      <div class="card">
                        <div class="card-header" role="tab" id="questionFourHeading">
                          <h5 class="mb-0">
                            <a class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                             <h2>ما هي الأقسام المتوفرة في تطبيق الكناني؟</h2> 
                            </a>
                          </h5>
                        </div>
                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="questionFourHeading" data-parent="#accordion">
                          <div class="card-body">
                            
                            <p> الأقسام المتوفرة على الموقع "الصناعي - الزراعي - الحيواني - الداجني - السمكي – الخيول العربية الأصيلة"</p>
                          </div>
                        </div>
                      </div>




                      <div class="card">
                        <div class="card-header" role="tab" id="questionFiveHeading">
                          <h5 class="mb-0">
                            <a class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                             <h2>كيف يمكنني عمل حساب على الموقع أو التطبيق؟</h2> 
                            </a>
                          </h5>
                        </div>
                        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="questionFiveHeading" data-parent="#accordion">
                          <div class="card-body">
                            
                            <p>يمكنك عمل حساب عن طريق إدخال رقم الهاتف أو عن طريق البريد الإلكتروني الخاص بك وإنشاء كلمة سر جديدة، ويمكنك أيضا التسجيل عبر حسابك علي منصة الفيسبوك. </p>
                          </div>
                        </div>
                      </div>




                      <div class="card">
                        <div class="card-header" role="tab" id="questionSixHeading">
                          <h5 class="mb-0">
                            <a class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                             <h2>كيف يمكنني تسجيل الدخول على الموقع أو التطبيق؟</h2> 
                            </a>
                          </h5>
                        </div>
                        <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="questionSixHeading" data-parent="#accordion">
                          <div class="card-body">
                            
                            <p>يمكنك التسجيل عبر الوسيلة الذي أنشأت بها الحساب مع إدخال كلمة السر. </p>
                          </div>
                        </div>
                      </div>



                      <div class="card">
                        <div class="card-header" role="tab" id="questionSevenHeading">
                          <h5 class="mb-0">
                            <a class="btn btn-link" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                             <h2>ما هي تكلفة استخدام خدمات تطبيق الكناني؟</h2> 
                            </a>
                          </h5>
                        </div>
                        <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="questionSevenHeading" data-parent="#accordion">
                          <div class="card-body">
                            
                            <p> تطبيق الكناني مجاني بالكامل، يمكنك تصفح كل الخدمات بمجرد تسجيل الدخول وادخال بيانات حسابك الخاص بك على التطبيق. </p>
                          </div>
                        </div>
                      </div>



                      <div class="card">
                        <div class="card-header" role="tab" id="questionEightHeading">
                          <h5 class="mb-0">
                            <a class="btn btn-link" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                             <h2>لقد نسيت كلمة السر كيف يمكنني تغييرها؟    </h2> 
                            </a>
                          </h5>
                        </div>
                        <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="questionEightHeading" data-parent="#accordion">
                          <div class="card-body">
                            
                            <p>قم بالضغط على كلمة هل نسيت السر، ثم قم بادخال البريد الإلكتروني الخاص بك، سيرسل إليك رسالة تفعيل على بريدك الخاص، قم بإدخال كود التفعيل علي موقع الكناني وأعد إنشاء كلمة سر جديدة، الآن يمكنك الدخول مُجدداً بحسابك الخاص ببريدك الإلكتروني وكلمة السر الجديدة.  </p>
                          </div>
                        </div>
                      </div>


                      <div class="card">
                        <div class="card-header" role="tab" id="questionNineHeading">
                          <h5 class="mb-0">
                            <a class="btn btn-link" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                             <h2>أريد التحدث مع خدمة العملاء، كيف يمكنني التواصل ؟</h2> 
                            </a>
                          </h5>
                        </div>
                        <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="questionNineHeading" data-parent="#accordion">
                          <div class="card-body">
                            
                            <p>يمكنك التواصل مع إحدى ممثلي خدمة العملاء على الرقم التالي: 01060015299</p>
                          </div>
                        </div>
                      </div>



                      <div class="card">
                        <div class="card-header" role="tab" id="questionTenHeading">
                          <h5 class="mb-0">
                            <a class="btn btn-link" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                             <h2>أريد التواصل مع إحدى ممثلي الدعم الفني / التقني بالموقع؟</h2> 
                            </a>
                          </h5>
                        </div>
                        <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="questionTenHeading" data-parent="#accordion">
                          <div class="card-body">
                            
                            <p>يمكنك التحدث مع موظف المساعدة مباشرة عبر الدردشة الخاصة بالموقع يومياً على مدار 24 ساعة أو ارسال اقتراحاتك من خلال زر شاركنا رأيك المتواجد في الصفحة الرئيسية. </p>
                          </div>
                        </div>
                      </div>










                  </div>
                  


        </div>
    </div>
</div>