
<!-- <div class="main__content__body"> -->
    <div class="container" >
        <h1 class="mt-3 mt-lg-0">{{h_search_form.title}}</h1>
    </div>
<!-- 
    <div class="jobs">
        <app-banners-logo  [loading]="loading" [type]="'banner'"></app-banners-logo>
    </div> -->


    
    <!-- End Header -->

    <!-- page tabs -->
    <div class="page__tabs nb-0 container " >
    <ul class="tabs__list">
        <li class="list__item list__item-2" routerLink="./">
            <a class="list__link "  [routerLinkActive]="['active']"  >الوظائف</a>
        </li>
        <li class="list__item list__item-2"routerLink="وظائفك">
            <a class="list__link"  [routerLinkActive]="['active']">وظائفك</a>
        </li>

    </ul>
</div>

    <div class="landing mb-2">
        <div class="container">
            <div class="bg">
                <img src="assets/images/jobs.png" alt="">
                <div class="content">
                    <h1 class="my-2">اعرف أكثر عن الوظائف</h1>
                    <!-- <p class="mb-3">تقدر تعمل استشارة مجانية من خلال مستشار الشركة</p> -->
                    <div class="links ">
                        <a class="link" href="">أحدث الوظائف</a>
                    </div>
                </div>
    
            </div>
        </div>
    </div>

    <!-- Start breadcrumb -->
    <app-horizontal-search (newItemEvent)="filter($event)" [data]="h_search_form" ></app-horizontal-search>
    <!-- End Search Box -->
    

            <!-- Start Global Content -->
    <article class="global__container container">

                <app-card (navigation)="navigate($event)" [data]="Jobs_Data" [jobcard]="true" [loading] ="loading" [flag]=false></app-card>
        

                


                <div class="row pagination__container">
                    <div class="col-12">
                        <div class="pagination">
                            <ul>
                                <li *ngFor="let item of [].constructor
                                (page.last_page) | paginate: { itemsPerPage: 1, currentPage:page.current_page }"> </li>
                            </ul>
                            <pagination-controls                       
                            [maxSize]="10"
                            previousLabel=""
                            nextLabel=""
                            (click)="next_page(page.current_page)"
                             (pageChange)="page.current_page = $event
                             "></pagination-controls>
                        </div>
                   
                    </div>
                </div> 

    </article>
    <!-- End Global Content -->
    <!-- </div> -->