nav i {
    display: none;
    color:white;
  }
  .toggleMenuStyle {
    display: block;
    margin-bottom: 5px;
  }
  
  @media screen and (max-width:800px) {
     nav ul li{
       display: none
     }
     nav i{
       display: block;
     }
  }


  .toggleMenuStyle {
    display: block;
    margin-bottom: 5px;
  }

  .display{
    display: block;
  }
  .none{
    display: none;
  }

  .center {
    display: block;
    // margin-left: auto;
    // margin-right: auto;
    width: 2.875rem;
    height: 2.875rem;
//    position: sticky !important;
    left: 50%;
    position: fixed;
    top: 15px;
    z-index: 1000;
    align-items: center;
  }
