img{
    cursor: pointer;
}
// .cont {
//     width: 93%;
//     max-width: 350px;
//     text-align: center;
//     margin: 4% auto;
//     padding: 30px 0;
//     background: #111;
//     color: #EEE;
//     border-radius: 5px;
//     border: thin solid #444;
//     overflow: hidden;
//   }
  

  

  label.star {
      font-size: 22px !important;
      padding: 0px !important;
  } 

 .rating{
    direction: ltr;
    position: relative!important;
    width: 18.75rem;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    flex-wrap: nowrap;
    gap: 0.2em;
    padding: 0rem;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 2px #FFBB33;
    border: 1px #FFBB33 solid;
}