

.test{
    width: 59rem;
}

.accordion {
    // position: absolute !important;
    width: 100%  !important;

}
.ngx {
    flex-direction: row ;
    flex-wrap: wrap 
}
.title {
    width: 23% !important;
    height: 55px !important;
}

 .current {
    display: inline-block!important;
    width: 100%  !important;
    text-align: center  !important;
    overflow: hidden  !important;
    white-space: nowrap  !important;
    text-overflow: ellipsis  !important;
}

@media only screen and (min-width: 1800px) {

    .chart-legend{
        position: absolute;

        margin-right:500px;
    }
}

@media only screen and (min-width: 1400px)  and (max-width: 1800px){

    .chart-legend{
        position: absolute;

        margin-right:300px;
    }
}

@media only screen and  (max-width: 1400px) {
    .ngx-charts{
        margin: auto;
    }
    .chart-legend{

        display: none !important;
     
    }


}


// @media only screen and (min-width: 777px) and (max-width: 920px){

//     .table> :not(caption) > * > *{
//         width: 750px !important;
//         border: 5px solid black !important;        
//     }
//     .card{
//         width: 100% !important;

//     }
// }

// @media only screen and (min-width: 390px)and (max-width: 777px) {

//     .table> :not(caption) > * > *{
//         width: 450px !important;
//         border: 5px solid black !important;        
//     }
//     .card{
//         width: 100% !important;

//     }
// }