<div class="main__content__body"  >
    <div class="container" >
        <h1 class="mt-3 mt-lg-0">{{h_search_form?.title}}</h1>
    </div>
    <app-horizontal-search (newItemEvent)="filter($event,'')" [data]="h_search_form" [ships]="true"></app-horizontal-search>

    <div     class="ngx" style="width: auto;height: 500px; ">
        <ngx-charts-pie-chart
        class="ngx"
        [results]="single"
        [gradient]="gradient"
        [legend]="showLegend"
        [labels]="showLabels"
        [doughnut]="isDoughnut"
        >
      </ngx-charts-pie-chart>

    </div>

            <!-- Start Global Content -->
    <article class="global__container container">
        <div class="row  no-gutters">
            <!-- Start Chart Part -->
            <section class="col-12 col-md-6 m-auto my-2 chart__container">
                <div id="chart3">

                </div>
            </section>



            <!-- Multi Select menu -->

            <!--    Table    -->
            <div class="col-12 p-0 statistics__main" >
                <!-- Start Table -->
                <article class="table">
                    <section class="head">
                        <section class="title title__categories">

                                       
                            <div class="nice-select select__categories country " [ngClass]="{'open':open}" (click)="toggle()" tabindex="0">
                                <span class="current">{{country}}</span>
                                <ul class="list">
                                    <li  *ngFor="let i of data?.countries" (click)="filter({ id: i.country, type: 'countries'},'')" [value]="i.country" class="option" [ngClass]="{'selected focus':country==i.country}">{{i.country}}</li>
                                    <!-- <li *ngFor="let i of data?.countries" data-value="بلغاريا" class="option selected focus">{{i.country}}</li> -->
                 
                                </ul>
                            </div>


                            <!-- <select name="country" class="select__categories country open" >
                                <option selected="" value="">المنشأ</option>
                                <option value="بلغاريا" selected="">بلغاريا</option>

                                <option value="رومانيا">رومانيا</option>

                                <option value="أوكرانيا">أوكرانيا</option>

                                <option value="البرازيل">البرازيل</option>

                                <option value="روسيا">روسيا</option>

                                <option value="الأرجنتين">الأرجنتين</option>

                                <option value="ألمانيا">ألمانيا</option>

                                <option value="مولدوفا">مولدوفا</option>

                                <option value="فرنسا">فرنسا</option>

                                <option value="جمهورية ليتوانيا">جمهورية ليتوانيا</option>

                                <option value="جمهورية مولدوفا">جمهورية مولدوفا</option>

                                <option value="بولندا">بولندا</option>

                            </select> -->
                                            
                                                 
                        </section>
                        <!-- <section class="title title__categories">
                            <select name="country" class="select__categories country" style="display: none;">
                                <option selected="" value="">المنشأ</option>
                                                                    <option value="بلغاريا" selected="">بلغاريا</option>

                                                                    <option value="رومانيا">رومانيا</option>

                                                                    <option value="أوكرانيا">أوكرانيا</option>

                                                                    <option value="البرازيل">البرازيل</option>

                                                                    <option value="روسيا">روسيا</option>

                                                                    <option value="الأرجنتين">الأرجنتين</option>

                                                                    <option value="ألمانيا">ألمانيا</option>

                                                                    <option value="مولدوفا">مولدوفا</option>

                                                                    <option value="فرنسا">فرنسا</option>

                                                                    <option value="جمهورية ليتوانيا">جمهورية ليتوانيا</option>

                                                                    <option value="جمهورية مولدوفا">جمهورية مولدوفا</option>

                                                                    <option value="بولندا">بولندا</option>

                                                            </select><div class="nice-select select__categories country" tabindex="0"><span class="current">بلغاريا</span><ul class="list"><li data-value="" class="option">المنشأ</li><li data-value="بلغاريا" class="option selected focus">بلغاريا</li><li data-value="رومانيا" class="option">رومانيا</li><li data-value="أوكرانيا" class="option">أوكرانيا</li><li data-value="البرازيل" class="option">البرازيل</li><li data-value="روسيا" class="option">روسيا</li><li data-value="الأرجنتين" class="option">الأرجنتين</li><li data-value="ألمانيا" class="option">ألمانيا</li><li data-value="مولدوفا" class="option">مولدوفا</li><li data-value="فرنسا" class="option">فرنسا</li><li data-value="جمهورية ليتوانيا" class="option">جمهورية ليتوانيا</li><li data-value="جمهورية مولدوفا" class="option">جمهورية مولدوفا</li><li data-value="بولندا" class="option">بولندا</li></ul></div>
                        </section> -->
                        <!-- <h3 class="title display__flex title__categories">المنشأ</h3> -->
                        <!-- Start Dropdown Item -->
                        <section class="title display__flex">
                            الكمية
                        </section>
                        <h3 class="title display__flex">مقدار تغير الكمية عن المركب السابقة
                        </h3>
                        <!-- End Dropdown Item -->
                    </section>
                    <div class="">
                        <!-- Start One Row  -->
                    <section class="row rows__container "  >
                        <!-- <div class="" style="clear: both;">

                        </div> -->
                        <!-- style="position: absolute;   width: 58%; margin: auto;" -->
                        <div id="accordion" *ngFor="let i of data?.companies;let i1=index">
                            <div></div>
                            <div class="card " >
                              <div class="card-header flex " id="headingOne" >
                                 <div style="float: right ; color:#0C6A22" class="btn" data-toggle="collapse" [attr.data-target]="'#collapseOne-'+i1"  aria-expanded="false" aria-controls="collapseOne">
                                   <h5>{{i.name}}</h5>
                                 </div>
                                 <a  style="float: left;text-decoration: none;"class="btn btn-link" >
                                     <a [routerLink]="['/companies-guide/poultry/companies_details/0/',2214]" style="color:#0C6A22">عن الشركة</a>
                                 </a>
                              </div>
                          
                              <div class="collapse  " aria-labelledby="headingOne" data-parent="#accordion" *ngFor="let i of i.data " [id]="'collapseOne-'+i1">
                                <div class="card-body " >
                                    <section class="rows" style="min-height: 25px" >
                                    <div class="wall"></div>
                                    <section class="data display__flex test" >
                                        <h5 class="data__content" >{{i.country}}</h5>
                                    </section>
                                    <section class="data display__flex">
                                        <h5 class="data__content">{{i.load}}</h5>
                                    </section>
                                    <section class="data display__flex">
                                        <h5 class="data__content">{{i.nums}}</h5>
                                    </section>
                                </section>
                                </div>
                              </div>
                            </div>

                          </div>
                    </section>
                        <!-- End One Row  -->



                    </div>
                </article>
                <!-- End Table -->
            </div>
        </div>

    </article>
    
            <!-- End Global Content -->

</div>

