<div class="main__content__body">
    <!--Start Loading Screen-->






      <!-- End Partners -->
    <!-- Start breadcrumb -->
    <div class="breadcrumb__container container" style="margin-bottom: 60px;
  ">
          <div class="custom__breadcrumb">
              <h1 class="page__title">البحث عن {{word}}</h1>
          </div>
      </div>
      <!-- End breadcrumb -->



      <!-- Start Global Content -->
      <article class="global__container container">
          <div class="row">

          <!-- Start Left Section -->
          <section *ngIf="(categories?.['guide_sub_sections']?.length ||0)>0" class="left col-lg-12 col-md-7 col-sm-12" style="margin-bottom: 60px;">
                      <section class="title-box">
                          <h2 class="title sects">الاقسام للدليل</h2>
                          <span class="sections-number">{{categories?.['guide_sub_sections']?.length}} قسم</span>
                      </section>
                      <div class="new__cards row">

                        <div class="col-12">

                            <div *ngFor="let i of categories?.['guide_sub_sections']" class="product__card regular__hover">
                                <div class="image__card">
                                    <img alt="product__image" [src]="i.image">
                                </div>
                                <div class="product__content">
                                    <header class="product__title">
                                        <a  [routerLink]="['/companies-guide',i.section_id,'companies',i.section_id]" [queryParams]="{page:1,sub: i.id}">

                                      {{i.name}}
                                    </a>

                                    </header>
                                <section  class="product__info">
                                    <p class="note text-center">
                                   {{i.count}} معمل
                                    </p>
                                </section>

                                </div>

                            </div>
                        </div>
                    </div>
                  </section>
                  <!-- End Left Section -->

                  <!-- Start Left Section -->
                  <section  *ngIf="(categories?.['companies']?.length ||0)>0"class="left col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 60px;">
                      <section class="title-box">
                          <h2 class="title"> الشركات</h2>
                          <span class="sections-number">{{categories?.['companies']?.length}} شركة</span>
                      </section>


                      <div class="new__cards row">



                          <div class="col-12">

                              <div *ngFor="let i of categories?.['companies']" class="product__card big__card regular__hover">
                                  <div class="image__card">
                                      <img alt="product__image" [src]="i.image">
                                  </div>
                                  <div class="product__content">
                                      <header class="product__title">
                                        <a  [routerLink]="['/companies-guide',i.section_id,'companies_details',i.section_id,i.id]">
                                            {{i.name}}
                                          </a>
                                      </header>
                                      <!-- <div class="product__rating">
                                          <div class="star"></div>
                                          <div class="star"></div>
                                          <div class="star"></div>
                                          <div class="star"></div>
                                      </div> -->
                                      <section *ngIf="i.short_desc" class="product__info">
                                          <p class="note text-center">
                                         {{i.short_desc}}
                                          </p>
                                      </section>
                                      <section class="product__bottom">
                                          <section *ngIf="i.address" class="address-box">
                                              <i class="fas fa-map-marker-alt"></i>
                                              <span class="address">{{i.address}}</span>
                                          </section>
                                          <a class="more__details" [routerLink]="['/companies-guide',i.section_id,'companies_details',i.section_id,i.id]">اعرف أكتر</a>
                                      </section>
                                  </div>

                              </div>
                          </div>




                      </div>
                            <!-- End Left Section -->
                  </section>

                       <!-- Start Left Section -->


                <section  *ngIf="((categories?.['fodder_stock_sub']?.length ||0)>0) ||((categories?.['local_stock_sub']?.length ||0)>0)"class="left col-lg-12 col-md-7 col-sm-12" style="margin-bottom: 60px;">
                    <section class="title-box">
                        <h2 class="title sects"> البورصات</h2>
                        <span class="sections-number">{{(categories?.['fodder_stock_sub']?.length || 0)  + (categories?.['local_stock_sub']?.length || 0)}} بورصة</span>
                    </section>
                    <div class="new__cards row">
                        <div class="col-12">


                        <div *ngFor="let i of categories?.['fodder_stock_sub']" class="product__card">
                            <div class="image__card">
                                <img alt="product__image" [src]="i.image">
                            </div>

                            <div class="product__content">
                                <header class="product__title">
                                    <a  [routerLink]="['/stock-exchange',i.section_id,'fodder',i.id]">{{i.name}}</a>
                                </header>
                            </div>

                        </div>
                        <div *ngFor="let i of categories?.['local_stock_sub']" class="product__card ">
                            <div class="image__card">
                                <img alt="product__image" [src]="i.image">
                            </div>
                            <div class="product__content">
                                <header class="product__title">
                                    <a  [routerLink]="['/stock-exchange',i.section_id,'local',i.id]">
                                    {{i.name}}
                                    </a>
                                </header>
                            </div>

                        </div>
                        </div>

                    </div>


                </section>



                  <!-- End Left Section -->

              <section *ngIf="(categories?.['magazines']?.length ||0)>0" class="left col-lg-12 col-md-7 col-sm-12" style="margin-bottom: 60px;">
                  <section class="title-box">
                      <h2 class="title sects"> المجلات</h2>
                      <span class="sections-number">{{categories?.['magazines']?.length}} مجلة</span>
                  </section>
                  <div class="new__cards row">
                    <div class="col-12">

                        <div *ngFor="let i of categories?.['magazines']" class="product__card big__card regular__hover">
                            <div class="image__card">
                                <img alt="product__image" [src]="i.image">
                            </div>
                            <div class="product__content">
                                <header class="product__title">
                                    <a [routerLink]="['/magazine/details/',i.id]">
                                  {{i.name}}
                                    </a>
                                </header>
                                <!-- <div class="product__rating">
                                    <div class="star"></div>
                                    <div class="star"></div>
                                    <div class="star"></div>
                                    <div class="star"></div>
                                </div> -->
                                <section *ngIf="i.short_desc" class="product__info">
                                    <p class="note text-center">
                                   {{i.short_desc}}
                                    </p>
                                </section>
                                <section class="product__bottom">
                                    <section *ngIf="i.address" class="address-box">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <span class="address">{{i.address}}</span>
                                    </section>
                                    <a class="more__details" [routerLink]="['/magazine/details/',i.id]">اعرف أكتر</a>
                                </section>
                            </div>

                        </div>
                    </div>

                  </div>


              </section>

               <!-- Start Left Section -->
               <section *ngIf="(categories?.['news']?.length ||0)>0" class="main__left__container col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 60px;">
               <section class="title-box">
                      <h2 class="title sects"> الأخبار</h2>
                      <span class="sections-number">{{ categories?.['news']?.length}} خبر</span>
                  </section>
                  <div class="new__cards row">
                    <div class="col-12">

                        <div *ngFor="let i of categories?.['news']" class="product__card regular__hover">
                            <div class="image__card">
                                <img alt="product__image" [src]="i.image">
                            </div>
                            <div class="product__content">
                                <header class="product__title">
                                    <a [routerLink]="['/news/',i.section_id,i.id]">
                                  {{i.name}}
                                    </a>
                                </header>

                                <section *ngIf="i.short_desc" class="product__info">
                                    <p class="note text-center">
                                   {{i.short_desc}}
                                    </p>
                                </section>

                                <section class="product__bottom">
                                    <section *ngIf="i.created_at" class="address-box">
                                        <i class="fas "></i>
                                        <span class="address">{{i.created_at}}</span>
                                    </section>
                                </section>
                            </div>

                        </div>
                    </div>


                  </div>


              </section>

              <section  *ngIf="(categories?.['showes']?.length ||0)>0" class="left col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 60px;">
              <section class="title-box">
                      <h2 class="title sects"> المعارض</h2>
                      <span class="sections-number">{{categories?.['showes']?.length}} معرض</span>
                  </section>
                  <div class="new__cards row">

                    <div class="col-12">

                        <div *ngFor="let i of categories?.['showes']" class="product__card big__card regular__hover">
                            <div class="image__card">
                                <img alt="product__image" [src]="i.image">
                            </div>
                            <div class="product__content">
                                <header class="product__title">
                                    <a [routerLink]="['/gallery/0/',i.id]">
                                  {{i.name}}
                                    </a>
                                </header>
                                <!-- <div class="product__rating">
                                    <div class="star"></div>
                                    <div class="star"></div>
                                    <div class="star"></div>
                                    <div class="star"></div>
                                </div> -->

                                <section *ngIf="i.short_desc" class="product__info">
                                    <p class="note text-center">
                                   {{i.short_desc}}
                                    </p>
                                </section>

                                <section class="product__bottom">
                                    <section class="content__box">
                                        <i class="far fa-calendar-alt"></i>

                                        <span class="content" *ngFor="let j of i.date ; let d = index">
                                            {{ i.date[d]}}
                                         </span>
                                    </section>
                                    <section class="content__box">
                                        <i class="fas fa-users"></i>
                                        <span class="content"> {{i.count}} متابع</span>
                                    </section>
                                </section>
                                <section class="product__bottom">

                                    <section *ngIf="i.address" class="address-box">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <span class="address">{{i.address}}</span>
                                    </section>

                                    <a class="more__details"[routerLink]="['/gallery/poultry/',i.id]">اعرف أكتر</a>
                                </section>
                            </div>
                        </div>
                    </div>
                  </div>
              </section>

              <section *ngIf="(categories?.['stores']?.length ||0)>0" class="main__left__container col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 60px;">
              <section class="title-box">
                      <h2 class="title sects"> السوق</h2>
                      <span class="sections-number">{{categories?.['stores']?.length}} اعلان</span>
                  </section>
                  <div class="new__cards row">
                    <div class="col-12">
                        <div *ngFor="let i of categories?.['stores']" class="product__card regular__hover">
                            <div class="image__card">
                                <img alt="product__image" [src]="i.image">
                            </div>
                            <div class="product__content">
                                <header class="product__title">
                                    <a [routerLink]="['/market',i.section_id,'ad_details',i.id]">
                                  {{i.name}}
                                    </a>
                                </header>
                                <section *ngIf="i.price" class="product__info">
                                    <p class="note text-center">{{i.price}} جنية </p>
                                </section>
                                <section class="product__bottom">
                                    <a class="more__details"[routerLink]="['/market/poultry/ad_details/',i.id]">اعرف أكتر</a>
                                </section>
                            </div>
                        </div>
                    </div>
                  </div>
              </section>
          </div>
      </article>
      <!-- End Global Content -->

  </div>