
    <!-- End Partners -->

    <section class="global__container news__container container">
        <div class="row">

            <div class="col-12">
                <div class="news__container-content">
                    <div class="news__header">
                        <img alt="" [src]="news_content?.image">
                    </div>
                    <!-- <app-banners-logo  [loading]="loading" [type]="'banner'"></app-banners-logo> -->

                    <div class="content">
                        <div class="new-title">
                        <h1 class="content__title">{{news_content?.title}}</h1>
                        </div>
                        <!-- <div   class="content__description"  [innerHTML]=" new.changingThisBreaksApplicationSecurity" ></div> -->

                        <div   class="content__description news"  [innerHTML]=" news_content?.desc" ></div>
                            <div *ngFor="let vid of video"  class=""  [innerHTML]="vid" ></div>
                    </div>
                </div>
                <div class="read__more">
                    <h2 class="read__more-title">إقرا أيضا :</h2>
                    <div class="new__cards row">

                        <app-card (navigation)="navigate($event)" [data]="news_content?.news" [loading] ="loading" [flag]=false [newscard]=true></app-card>
                    
                   
                    </div>
                </div>
            </div>
        </div>
    </section>