<app-loader *ngIf="loading"></app-loader>

<div class="main__content__body">
   
    <app-banners-logo  [loading]="loading" [type]="'banner'"></app-banners-logo>
    <app-banners-logo  [loading]="loading"  [type]="'logo'"></app-banners-logo>
    <app-horizontal-search (newItemEvent)="filter($event)" [data]="h_search_form" ></app-horizontal-search>

    <article class="container global__container">
        <div class="row">

            <section class="right main__right__container col-lg-4 col-md-12 col-sm-12">
                <app-vertical-search  (newItemEvent)="filter($event)" [data]="h_search_form" ></app-vertical-search>
            </section>

            <section class="main__left__container col-lg-8 col-md-12 col-sm-12">
                <app-card (navigation)="navigate($event)" (outpiutData)="navigateV2($event)" [data]="stock_Ex_Data?.sub_sections" [loading] ="loading"></app-card>
                <!-- <app-navigation></app-navigation> -->
            </section>

        </div>
    </article>

</div>