<app-loader *ngIf="loading"></app-loader>


<div class="main__content__body">

    <div class="container" style="max-width: 70%;">
        <h1 class="mt-3 mt-lg-0">{{h_search_form.title}}</h1>
    </div>

    
    <app-banners-logo  [loading]="loading" [type]="'banner'"></app-banners-logo>
    <app-banners-logo  [loading]="loading"  [type]="'logo'"></app-banners-logo>
    <app-horizontal-search (newItemEvent)="filter($event)" [data]="h_search_form" ></app-horizontal-search>

    <article class="container global__container">

                <app-card (navigation)="navigate($event)" (outpiutData)="navigateV2($event)" [flag]=false [maincard]=true [data]="stock_Ex_Data?.sub_sections" [loading] ="loading"></app-card>

    </article>

</div>