// End Header //
.collapse {
  transition: $transition-300ms;
  height: 0;

  &.show {
    height: auto;
  }
}


#fodder__comparison {
  .accordion {
    padding-bottom: 1rem;

    .card {
      .collapse {
        .card-body {
          height: auto;
          max-height: 280px !important;
          overflow: auto;
          direction: rtl;
          width: 100%;
          padding: 0;
          margin: 1rem 0;
        }
      }
    }
  }
}

.company__search, .type__search {
  label {
    padding: 0.2rem 0.2rem;

    &:hover {
      background-color: transparent !important;
      border-radius: 0 !important;
    }
  }

  input {
    width: 100%;
    border-radius: 4px;
    border: 2px solid #EEE;
    color: $bg-color-main-hover;

    &:hover {
      border: 2px solid $bg-color-second;

    }

    &:focus-visible {
      outline: none !important;
    }
  }

  #search::-webkit-search-cancel-button, #search__type::-webkit-search-cancel-button,
  #search__accordion::-webkit-search-cancel-button, #search__type__accordion::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
  }

  #search:focus::-webkit-search-cancel-button, #search__type::-webkit-search-cancel-button,
  #search__accordion::-webkit-search-cancel-button, #search__type__accordion::-webkit-search-cancel-button {
    opacity: .3;
    pointer-events: all;
  }
}

.multiselect {
  position: relative;
  width: 200px;
  margin: 0 auto;
  cursor: pointer;

  .selectBox {
    position: relative;

    select {
      width: 100%;
      font-weight: bold;
    }

    .warning, .items-counter {
      color: gray;
    }

    .items-error, .companies-error {
      display: none;
      color: red;
    }

    .overSelect {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  .checkboxes {
    display: none;
    border: 1px #dadada solid;
    position: absolute;
    background-color: white;
    z-index: 5;
    padding: 0.5rem;
    border-radius: 1rem;
    border-color: $bg-color-second;
    height: 250px;
    max-height: 300px;
    overflow-y: auto;
    right: -25px;
    width: 100%;
    //max-width: 300px;

    label {
      display: flex;
      font-weight: bold;
      padding: 5px 10px;
      margin: 0;
      cursor: pointer;
      user-select: none;

      .checks {
        margin: 3px 0 0 5px;
        height: 15px;
        width: 15px;
      }

      &:hover {
        background-color: #ddd;
        border-radius: 1rem;
      }
    }
  }
}


.multiselect-accordion {
  margin: 0;
  width: 100%;
  padding: 0 1rem 0 0 !important;

  .checkboxes {
    display: block;
    position: relative;
    border: none;
    background-color: transparent;
  }
}


#fodder__comparison {
  .accordion {
    .card {
      &:last-of-type {
        border-radius: 0;
      }

      .companies-error-accordion, .items-error-accordion {
        font-size: $fs-16;
        color: red;
        margin: 0 15px;
        display: none;
      }
    }

    .submit-accordion {
      width: 90%;
      margin: .5em auto 0;
      display: block;
      background-color: $bg-color-main;
      color: $font-color-second;
      text-align: center;
      padding: 10px 0;
      font-size: 25px;
      font-weight: bold;
      cursor: pointer;
      transition: all .5s;
      border-radius: 0.5rem;

      &:hover {
        background-color: $bg-color-main-hover;
      }
    }
  }
}

.item__box__hover {
  background: $bg-color-main;
  color: #FFF;
  border-color: $bg-color-fourth;
  border-radius: $rd-8;
}

.comparison {
  padding: 2em 0;

  &-holder {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    .company-card {
      text-align: center;
      border: 1px solid $bg-color-main;
      border-radius: $rd-16;
      display: inline-block;
      padding: 20px 10px 10px;
      width: 33%;
      transition: all .5s;

      .company-head {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        color: $font-color-second;
        margin-bottom: 1.25rem;

        .company-logo {
          width: 100px;
          height: 100px;
          border-radius: $rd-12;
        }

        .company-title {
          margin: 0.5rem auto;
          font-size: $fs-28;
          font-weight: $fw-medium;
          color: $color-main;
          transition: $transition-200ms;

          &:hover {
            color: $bg-color-main;
          }
        }
      }

      .item-box {
        text-align: center;
        padding-top: 5px;
        border-top: 1px solid #ddd;
        transition: $transition-200ms;
      }
    }

    .center {
      margin: 0 1rem;
    }
  }
}

@media (max-width: 940px) {
  .comparison {
    &-holder {
      .company-card {
        width: 33.3%;
      }
    }
  }
}

@media (max-width: 762px) {
  .comparison {
    &-holder {
      .company-card {
        .company-head {
          flex-flow: row wrap;
          justify-content: center;

          .company-title {
            margin: 0;
            width: 100%;
            text-align: center;
          }
        }
      }

      .center {
        margin: 0 1em;
      }
    }
  }
  .multiselect {
    .checkboxes {
      width: 100%;
      max-width: 100% !important;

      .company__search, .type__search {
        input {
          text-align: right;
          direction: rtl;
        }
      }

      label {
        display: flex;
        justify-content: flex-start;
      }
    }
  }
}

@media (max-width: 575px) {
  .comparison {
    padding: 0 0.5rem;

    &-holder {
      .company-card {
        .company-head {
          .company-title {
            font-size: 1.5rem;
          }
        }

        .item-box {
          h4 {
            font-size: 1.2rem;
          }

          h5 {
            font-size: 1rem;
          }
        }
      }
    }
  }
}


