<!-- <app-loader *ngIf="loading"></app-loader> -->

<div class="main__content__body">  


 <app-banners-logo  [loading]="loading" [type]="'banner'"></app-banners-logo>
 <app-banners-logo  [loading]="loading"  [type]="'logo'"></app-banners-logo>
 <app-horizontal-search (newItemEvent)="filter($event)" [data]="h_search_form" ></app-horizontal-search>



 <article class="container global__container   d-lg-none d-block d-md-block">
    <div class="row">
        <section class="right main__right__container col-lg-4 col-md-12 col-sm-12">
            <app-vertical-search (newItemEvent)="filter($event)" [data]="h_search_form" ></app-vertical-search>
        </section>
    </div>
 </article>



 <article class="table__header__filter special__container"   *ngIf="filterData['type'] == 'fodder'">
    <section class="head new__cards__header">
        <div class="card">
            <div class="card-header" id="itemsSelect2">
                <button  class="card__button"
                          (click)="toggle('company')">
                    الشركة
                </button>
            </div>
            <div  class="collapse "   [ngClass]="{'show':collapse==1}"
          
                 id="collapseItemsSelect2">
                <div class="card-body">
                    <div class="multiselect multiselect-accordion" id="multiselect-companies-accordion">
                        <div class="checkboxes" id="checkboxes-companies-accordion">
                            <div class="company__search">
                                <label for="searchCompany">
                                    <input class="searchInput" id="searchCompany" name="search" 
                                             name="username" #company
                                            (change)="companySearch(company.value)"
                                           placeholder="ابحث عن"
                                           type="search">
                                </label>
                            </div>
                            <div class="all__labels">

                                <label    
                                
                                (click)="filter({id:'', name: '', type: 'com_id'} )" 
                                class="company__filter__label" for="company-accordion-one">
                                    <a class="checks checks-company-accordion" id="company-accordion-one"
                                           name="companies-accordion" type="checkbox" ></a>
                                           الكل
                                </label>


                                <label    
                                *ngFor="let company of companiesList; let i = index" 
                                (click)="filter({id: company.id, name: '', type: 'com_id'} )" 
                                class="company__filter__label" for="company-accordion-one">
                                    <a class="checks checks-company-accordion" id="company-accordion-one"
                                     name="companies-accordion" type="checkbox" ></a>
                                           
                                           {{company.name}}
                                </label>


                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <section class="head new__cards__header">
        <div class="card">
            <div class="card-header" id="itemsSelect">
                <button  class="card__button"
                         (click)="toggle('feeds')">
                    الصنف
                </button>
            </div>
            <div  class="collapse" [ngClass]="{'show':collapse==2}" 
                 id="collapseItemsSelect">
                <div class="card-body">
                    <div class="multiselect multiselect-accordion" id="multiselect-types-accordion">
                        <div class="checkboxes" id="checkboxes-types-accordion">
                            <div class="company__search">
                                <label for="searchTypes">
                                    <input class="searchInput" id="searchTypes" name="search"
                                    name="username" #feeds1
                                    (change)="feedsSearch(feeds1.value)"
                                           placeholder="ابحث عن"
                                           type="search">
                                </label>
                            </div>
                            <div class="all__labels">

                                <label    
                                
                                (click)="filter({id:'', name: '', type: 'feed_id'} )" 
                                class="company__filter__label" for="company-accordion-one">
                                    <a class="checks checks-company-accordion" id="company-accordion-one"
                                           name="companies-accordion" type="checkbox" ></a>
                                           الكل
                                </label>


                                <label    
                                *ngFor="let feed of feedsList; let i = index" 
                                (click)="filter({id: feed.id, name: '', type: 'feed_id'} )" 
                                class="company__filter__label" for="company-accordion-one">
                                    <a class="checks checks-company-accordion" id="company-accordion-one"
                                           name="companies-accordion" type="checkbox" ></a>
                                           
                                           {{feed.name}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
</article>


<div class="global__container" >
   
    <section class="table__container table-chart-5 special__container">
        <section class="table__head">
            <!-- <span  
                *ngFor="let column of stock_Ex_Data?.columns; let isLast = last"
                [ngClass]="{' title__chart  d-lg-flex d-none': isLast}"
                class="title" >{{column}}</span> -->

                <span *ngIf="stock_Ex_Data?.columns[0]" class="title" >{{stock_Ex_Data?.columns[0]}}</span>
                <span *ngIf="stock_Ex_Data?.columns[1]" class="title" >{{stock_Ex_Data?.columns[1]}}</span>
                <span *ngIf="stock_Ex_Data?.columns[2]" class="title" >{{stock_Ex_Data?.columns[2]}}</span>
                <span *ngIf="stock_Ex_Data?.columns[3]" class="title" >{{stock_Ex_Data?.columns[3]}}</span>
                <span *ngIf="stock_Ex_Data?.columns[4]" class="title" >{{stock_Ex_Data?.columns[4]}}</span>
                <span *ngIf="stock_Ex_Data?.columns[5]" class="title" >{{stock_Ex_Data?.columns[5]}}</span>
                <span *ngIf="stock_Ex_Data?.columns[6]" class="title" >{{stock_Ex_Data?.columns[6]}}</span>
                <span *ngIf="stock_Ex_Data?.columns[7]" class="title" >{{stock_Ex_Data?.columns[7]}}</span>
                <span *ngIf="stock_Ex_Data?.columns[8]" class="title" >{{stock_Ex_Data?.columns[8]}}</span>
        </section>
        
        <!--  add row__shadow when rows length > = 3  -->
        <div class="table__body row__shadow">
            <!-- Start One Row    add ads class if ad  -->
            <section class="table__row row__image " *ngFor="let member of stock_Ex_Data?.members; let isLast = last" [ngClass]="{' title__chart  d-lg-flex d-none': isLast}">
                <a class="cell__container" [routerLink]="['/companies-guid/companies_details','no',member.mem_id]">
                    <div class="cell__content__with__image">
                        <img alt="logo"
                             class="image"
                             *ngIf="member.image"
                             [src]="member.image">
                             <p class="cell__content">  {{member.name}}</p>
                    </div>
                </a>


                <div class="wall"*ngIf="stock_Ex_Data?.columns[1]"></div>
                <section class="cell__container"  *ngIf="stock_Ex_Data?.columns[1]">
                    <span class="cell__content">{{member.feed}}</span>
                    <span></span>
                </section>

                
                <div class="wall"></div>
                <section class="cell__container">
                    <span class="data__content">{{member.price}}</span>
                </section>


                <div class="wall" *ngIf="stock_Ex_Data?.columns[3]" ></div>
                <section class="cell__container"  *ngIf="stock_Ex_Data?.columns[3]">
                    <span class="data__content">{{member.charging_system}}</span>
                </section>



                <div class="wall" *ngIf="stock_Ex_Data?.columns[4]"></div>
                <section class="cell__container"  *ngIf="stock_Ex_Data?.columns[4]">
                    <span class="data__content">{{member.categorize_name}}</span>
                </section>

                <div class="wall" *ngIf="stock_Ex_Data?.columns[5]"></div>
                <section class="cell__container"  *ngIf="stock_Ex_Data?.columns[5]">
                    <span class="data__content">{{member.weight}}</span>
                </section>



                <div class="wall" *ngIf="stock_Ex_Data?.columns[6]"></div>
                <section class="cell__container"*ngIf="stock_Ex_Data?.columns[6]">
                    <span class="cell__content" >{{member.change}}</span>
                    <span class="cell__content">{{member.change_date}}</span>

                </section>


                <div class="wall" *ngIf="stock_Ex_Data?.columns[7]"></div>
                <section class="cell__container"  *ngIf="stock_Ex_Data?.columns[7]">
                    <span class="data__content">{{member.price_status}}</span>
                </section>

                

                              
        

                <div class="wall  d-lg-block d-none"></div>
                <section class="cell__container data__charts d-lg-block d-none">
                    <div id="chart-5-ads"></div>
                    <img [src]="member.statistics" style="width:50%">
                </section>
            </section>
            <!-- End One Row  -->

   

            <!-- Start One Row    add ads class if ad  -->

        </div>
    </section>
    <!-- End Table -->


</div>



