<!-- <app-loader *ngIf="loading"></app-loader> -->

<div class="main__content__body">  


 <app-banners-logo  [loading]="loading" [type]="'banner'"></app-banners-logo>
 <app-banners-logo  [loading]="loading"  [type]="'logo'"></app-banners-logo>
 <app-horizontal-search (newItemEvent)="filter($event)" [data]="h_search_form" ></app-horizontal-search>




 <article class="table__header__filter special__container">
    <section class="head new__cards__header">
        <div class="card">
            <div class="card-header" id="itemsSelect2">
                <button  class="card__button"
                          (click)="toggle('company')">
                    الشركة
                </button>
            </div>
            <div  class="collapse "   [ngClass]="{'show':collapse==1}"
                 id="collapseItemsSelect2">
                <div class="card-body">
                    <div class="multiselect multiselect-accordion" id="multiselect-companies-accordion">
                        <div class="checkboxes" id="checkboxes-companies-accordion">
                            <div class="company__search">
                                <label for="searchCompany">
                                    <input class="searchInput" id="searchCompany" name="search" 
                                             name="username" #company
                                            (change)="filter2(company.value)"
                                           placeholder="ابحث عن"
                                           type="search">
                                </label>
                            </div>
                            <div class="all__labels">



                                <form [formGroup]="form2" (ngSubmit)="submit2()">
                                    <label style="display: block" formArrayName="orders" *ngFor="let order of ordersFormArray2.controls; let i = index">
                                      <input type="checkbox" [formControlName]="i">
                                      {{companiesList![i].name}}
                                    </label>
                                  </form>


                                <label class="company__filter__label" for="company-accordion-one">
                                    <input class="checks checks-company-accordion" id="company-accordion-one"
                                           name="companies-accordion" type="checkbox">شركة الكناني
                                    جروب
                                </label>
                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <section class="head new__cards__header">
        <div class="card">
            <div class="card-header" id="itemsSelect">
                <button  class="card__button"
                         (click)="toggle('feeds')">
                    الصنف
                </button>
            </div>
            <div  class="collapse" [ngClass]="{'show':collapse==2}" 
                 id="collapseItemsSelect">
                <div class="card-body">
                    <div class="multiselect multiselect-accordion" id="multiselect-types-accordion">
                        <div class="checkboxes" id="checkboxes-types-accordion">
                            <div class="company__search">
                                <label for="searchTypes">
                                    <input class="searchInput" id="searchTypes" name="search"
                                    name="username" #feeds
                                    (change)="filter2(feeds.value)"
                                           placeholder="ابحث عن"
                                           type="search">
                                </label>
                            </div>
                            <div class="all__labels">
                                <label class="type__filter__label" for="type-accordion-one">
                                    <input class="checks checks-type-accordion" id="type-accordion-one"
                                           name="companies-accordion" type="radio">شركة الكناني
                                    جروب</label>
                                <label class="type__filter__label" for="type-accordion-two">
                                    <input class="checks checks-type-accordion" id="type-accordion-two"
                                           name="companies-accordion" type="radio">شركة الكناني
                                    جروب</label>
                                <label class="type__filter__label" for="type-accordion-three">
                                    <input class="checks checks-type-accordion" id="type-accordion-three"
                                           name="companies-accordion" type="radio">شركة
                                    الكناني
                                    جروب</label>
                                <label class="type__filter__label" for="type-accordion-four">
                                    <input class="checks checks-type-accordion" id="type-accordion-four"
                                           name="companies-accordion" type="radio">شركة
                                    الكناني
                                    جروب</label>
                                <label class="type__filter__label" for="type-accordion-five">
                                    <input class="checks checks-type-accordion" id="type-accordion-five"
                                           name="companies-accordion" type="radio">شركة
                                    الكناني
                                    جروب</label>
                                <label class="type__filter__label" for="type-accordion-six">
                                    <input class="checks checks-type-accordion" id="type-accordion-six"
                                           name="companies-accordion" type="radio">شركة الكناني
                                    جروب</label>
                                <label class="type__filter__label" for="type-accordion-seven">
                                    <input class="checks checks-type-accordion" id="type-accordion-seven"
                                           name="companies-accordion" type="radio">شركة
                                    الكناني
                                    جروب</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
</article>


<div class="global__container" >
    <!-- <article class="table__header__filter special__container" *ngIf="type_stock === 'fodder'"> 
        <section class="head new__cards__header ">
            <div class="card">
                <div class="card-header" id="itemsSelect">
                    <button 
                    aria-expanded="false" 
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    id="dropdownMenuButton"
                    appDropdown
                    #s="appDropDown" 
                    class="card__button"
                    data-target="#collapseItemsSelect">
                        الشركة
                    </button>
                </div>
                <div  [ngClass]="{'show':s.isOpen}" class="dropdown-menu" aria-labelledby="dropdownMenuButton"  aria-labelledby="itemsSelect" class="collapse" data-parent="#accordion"
                     id="collapseItemsSelect">
                    <div class="card-body">
                        <div class="multiselect multiselect-accordion" id="multiselect-companies-accordion">
                            <div class="checkboxes" id="checkboxes-companies-accordion">
                                <div class="company__search">
                                    <label for="searchCompany">
                                        <input class="searchInput" id="searchCompany" name="search"
                                               placeholder="ابحث عن"
                                               type="search">
                                    </label>
                                </div>
                                <div class="all__labels" >
                                     <label class="company__filter__label" for="company-accordion-one" *ngFor="let company of companies">
                                        <input class="checks checks-company-accordion" id="company-accordion-one"
                                               name="companies-accordion" type="checkbox">{{company.name}} 
                                   </label> 
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="head new__cards__header">
            <div class="card">
                <div class="card-header" id="itemsSelect2">
                    <button aria-expanded="false" 
                    aria-expanded="false" 
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    id="dropdownMenuButton"
                    appDropdown
                    #s1="appDropDown" 
                    class="card__button"
                    data-target="#collapseItemsSelect">
                        الصنف
                    </button>
                </div>


                <div  [ngClass]="{'show':s1.isOpen}" class="dropdown-menu" aria-labelledby="dropdownMenuButton"  aria-labelledby="itemsSelect" class="collapse" data-parent="#accordion"
                id="collapseItemsSelect">
                    <div class="card-body">
                        <div class="multiselect multiselect-accordion" id="multiselect-types-accordion">
                            <div class="checkboxes" id="checkboxes-types-accordion">
                                <div class="company__search">
                                    <label for="searchTypes">
                                        <input class="searchInput" id="searchTypes" name="search"
                                               placeholder="ابحث عن"
                                               type="search">
                                    </label>
                                </div>
                                <div class="all__labels">
                                     <label class="type__filter__label" for="type-accordion-one"  *ngFor="let feed of feeds">
                                        <input class="checks checks-type-accordion" id="type-accordion-one"
                                               name="companies-accordion" type="radio"> {{feed.name}}
                                        </label> 
                           
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article> -->

    <!-- Start Table 5 cols with chart -->
    <section class="table__container table-chart-5 special__container">
        <section class="table__head">
            <span  
                *ngFor="let column of stock_Ex_Data?.columns; let isLast = last"
                [ngClass]="{' title__chart  d-lg-flex d-none': isLast}"
                class="title" >{{column?.title}}</span>
        </section>
        <!--  add row__shadow when rows length > = 3  -->
        <div class="table__body row__shadow">
            <!-- Start One Row    add ads class if ad  -->
            <section class="table__row row__image " *ngFor="let member of stock_Ex_Data?.members; let isLast = last" [ngClass]="{' title__chart  d-lg-flex d-none': isLast}">
                <a class="cell__container" [routerLink]="['/companies-guid/companies_details/5']">
                    <div class="cell__content__with__image">
                        <img alt="logo"
                             class="image"
                             [src]="member.image">
                             <span class="cell__content">  {{member.name}}</span>
                    </div>
                </a>
         
                <div class="wall"></div>
                <section class="cell__container">
                    <span class="cell__content">{{member.price}}</span>
                </section>
                <div class="wall"></div>
                <section class="cell__container">
                    <span class="data__content">{{member.price}}</span>
                </section>
                <div class="wall"></div>
                <section class="cell__container">
                    <span class="cell__content">{{member.change_date}}</span>
                    <!-- <span class="cell__content">07:05</span>
                    <span class="cell__content">2021-05-30</span> -->
                </section>
                <div class="wall  d-lg-block d-none"></div>
                <section class="cell__container data__charts d-lg-block d-none">
                    <div id="chart-5-ads"></div>
                    <img [src]="member.statistics" style="width:70%">
                </section>
            </section>
            <!-- End One Row  -->

   

            <!-- Start One Row    add ads class if ad  -->

        </div>
    </section>
    <!-- End Table -->


</div>



<!-- <form [formGroup]="form" (ngSubmit)="submit()">
    <label formArrayName="orders" *ngFor="let order of ordersFormArray.controls; let i = index">
      <input type="checkbox" [formControlName]="i">
      {{ordersData[i].name}}
    </label>
    <button>submit</button>
  </form>
 -->


  <form [formGroup]="form2" (ngSubmit)="submit2()">
    <label style="display: block" formArrayName="orders" *ngFor="let order of ordersFormArray2.controls; let i = index">
      <input type="checkbox" [formControlName]="i">
      {{companiesList![i].name}}
    </label>
    <button>submit</button>
  </form>