nav i {
    display: none;
    color:white;
  }
  .toggleMenuStyle {
    display: block;
    margin-bottom: 5px;
  }
  
  @media screen and (max-width:800px) {
     nav ul li{
       display: none
     }
     nav i{
       display: block;
     }
  }


  .toggleMenuStyle {
    display: block;
    margin-bottom: 5px;
  }