
a{
  cursor: pointer;
}
.slick-slider {
    width: 95%;
    margin: auto ;
    direction: ltr;
  
  }
  
  body .slick-prev, 
  body .slick-next {
    height: 45px;
    width: 40px;
    // background: grey !important;
    z-index: 100;
  }

    @media screen and (max-width:700px) {
      .product__card .product__content .note{
        font-size: 15px;
      }
    }
  

// a {
//     line-height: 2.2 !important;
// }


 .card {
  display: block;
  overflow: hidden;
  font-size: 17px;
  color: var(--green);
  background-color: #F3F3F3;
  text-align: center;
  transition: 0.3s;
  border: none;
  box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
  border-radius: 16px;
  opacity: 1;
}
.card:hover {
  transform: scale(1.1);
  img{
    opacity: 0.7;
  }
}
 .card img {
  width: 100%;
  height: auto;
  max-height: 10.438rem;
  min-height: 10.438rem;
  display: block;
}




.card2 {
  display: block;
  overflow: hidden;
  font-size: 17px;
  color: var(--green);
  background-color: #FFFFFF;
  text-align: center;
  transition: 0.3s;
  border: none;
  box-shadow: 0px 6px 15px #00000029;
  border-radius: 20px;
  opacity: 1;
}
.card2:hover {
  cursor: pointer;
  img{
    transform: scale(1.1);
  }
}

.card2 img {
  box-shadow: 0px 6px 15px #00000029;
  width: 100px;
  height: 120px;
  display: block;
  margin: auto;
}


.card3 {
  display: block;
  overflow: hidden;
  font-size: 17px;
  color: var(--green);
  text-align: center;
  transition: 0.3s;
  border: none;
  box-shadow: 0px 6px 15px #00000029;
  border-radius: 20px;
  opacity: 1;

  img{
    border-radius: 20px;
    box-shadow: 0px 6px 15px #00000029;
    max-height: 11rem;
  }
}


.card-more {
  display: inline-blo;
  background-color: var(--green);
  color: white;
  border-radius: 10px;
  transition: 0.3s;
}
.card-more:hover {
  background-color: var(--yellow);
}

.counts{
  text-align: end;
       padding-left: 10%;
       color: #7c7676;
}



.showcard{
  background-color: green;
}