.slick-slider {
    width: 95%;
    margin: auto ;
    direction: ltr;
  
  }
  
  body .slick-prev, 
  body .slick-next {
    height: 45px;
    width: 40px;
    // background: grey !important;
    z-index: 100;
  }

    @media screen and (max-width:700px) {
      .product__card .product__content .note{
        font-size: 15px;
      }
    }
  

// a {
//     line-height: 2.2 !important;
// }


  