
<div *ngIf="!loading">
    <div class="new__cards row" *ngFor="let contact of data ">
            <a class="col-12"  style=" cursor: pointer;" (click)="output(contact.id,contact.type )">


                 <div  [ngClass]="{'featured__card__container':flag}">
                        <div class="product__card"  [ngClass]="{'big__card':contact.desc,'super__ultra__card':true,'paid__green__card':flag}" style="height: auto; max-height: 270px;">
                        <div  [ngClass]="{'featured__container':flag,'green__card':flag}">
                            <p *ngIf="flag" [ngClass]="{'featured__label':flag}" >الراعى</p>
                        </div> 


                    <div class="image__card">
                        <img alt='product-image'
                            src='{{contact.image}}'/>
                            
                    </div>
                
                    <div class="product__content with__ads">
                        <header class="product__title" >
                            <a>
                              
                                    {{contact.name || contact.title}}
                            
                            </a>
                        </header>

                        <div class="product__rating mt-2" *ngIf="contact.rate ">
                                    
                                <i *ngFor='let in of counter1((5-contact.rate)) ;let i = index' style="color: silver;"class="fa-solid fa-star"></i>
                                <i *ngFor='let in of counter(contact.rate) ;let i = index'  style="color: #fac864;" class="fa-solid fa-star"></i>

                        </div>
                        <div class="product__rating mt-2" *ngIf="contact.rate==0 && !flag">
                                    
                            <i *ngFor='let in of counter1(5) ;let i = index' style="color: silver;"class="fa-solid fa-star"></i>

                        </div>

                        <section class="product__info" *ngIf="contact.companies_count">
                            <p class="note">{{contact.companies_count}} مكتب</p>
                        </section>

                        <section class="product__info" *ngIf="contact.desc" 
>
                            <p class="note text-center">{{contact.desc}} </p>
                        </section>


                        <section class='product__info m-4' *ngIf="contact.salary != null && contact.type != 'job'">
                            <p class="note text-center">
                                 {{contact.salary}} جنية 
                            </p>
                        </section>


                        <section class="product__bottom" *ngIf="contact.date && contact.view_count">
                            <section class="content__box">
                                <i class="far fa-calendar-alt"></i>
                                <span class="content">{{contact.date}} </span>
                            </section>
                            <section class="content__box">
                                <i class="fas fa-users"></i>
                                <span class="content">{{contact.view_count}} متابع</span>
                            </section>
                        </section>
                        <section class="product__bottom" *ngIf="contact.address">

                            <section class="address-box">
                                <!-- <section class="product__bottom" *ngIf="contact.created_at && contact.salary!=null">

                                </section> -->

                                <i class="fas fa-calendar" *ngIf="contact.created_at && contact.salary!=null"></i>
                                <span class="address" *ngIf="contact.created_at && contact.salary!=null"> {{contact.created_at}} </span><br>
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="address"> {{contact.address}} </span>

                            </section>
                            <a class="more__details" *ngIf="!contact.date && !contact.view_count && contact.type != 'job' else intersted" (click)="output(contact.id,contact.type )">اعرف أكتر</a>
                            <ng-template class="more__details" #intersted >  
                                <a class="more__details" *ngIf="contact.type != 'job'"  (click)="output(contact.id,contact.type )">مهتم</a>
                                <a class="more__details" *ngIf="contact.type == 'job'"  [routerLink]="['/employment/apply',contact.id]">قدم الأن</a>

                            </ng-template>

                        </section>
                        


                        <section class="product__bottom justify-content-end" *ngIf="contact.created_at && !contact.view_count && !contact.address">
                            <section class="date__box">
                                <span class="date"> {{contact.created_at}} </span>
                        </section>
                    </section>
   </div>
                        <div style="clear: both;"></div>
  
                    <div class="logo__main__card one-full-slider"  >
                        <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" 
                    >
                    <div ngxSlickItem *ngFor="let slide of contact.logo_in" class="slide">
                        <div class="item">
                        <a class="logo-holder" target="_blank">
                            <img alt="partner logo"
                                src="{{slide.image}}">
                        </a>
                        </div>
                    </div>
                    
                    </ngx-slick-carousel>
                    </div>
                </div>

                 
   
                    </div>

            </a>

     

    </div> 
    
    
 </div>  
 
 
 
 
 
 <!-- <div class="fb-item" *ngIf="loading">

    <div class="col-12"  >
        <div class="product__card" >
            <div class="image__card">
            	<div class="item">
                    <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
                        width: '140px',
                        height: '140px',
                        'border-radius': '10px'
                    }">
                    </ngx-skeleton-loader>
	            </div>
            </div>
          
            <div class="product__content with__ads">
                <header class="product__title">
                    <ngx-skeleton-loader  
                    [theme]="{ width: '320px','border-radius': '0', height: '25px','margin-bottom': '10px'}">
                   </ngx-skeleton-loader>
                </header>
                <div class="product__rating">
                    <ngx-skeleton-loader  
                      [theme]="{ width: '200px','border-radius': '0', height: '15px','margin-bottom': '10px'}">
                     </ngx-skeleton-loader>
                </div>
                <section class='product__info'>
                    <ngx-skeleton-loader  
                    [theme]="{ width: '320px','border-radius': '0', height: '25px','margin-bottom': '10px'}">
                   </ngx-skeleton-loader>
                </section>
            </div>
            <div class="logo__main__card one-full-slider">
                <ngx-slick-carousel class="carousel" 
                #slickModal="slick-carousel" 
                [config]="slideConfig" 
               >
  
                </ngx-slick-carousel>
            </div>
          
        </div>


        <div class="col-12" >
            <div class="product__card">
                <div class="image__card">
                    <div class="item">
                        <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
                            width: '140px',
                            height: '140px',
                            'border-radius': '10px'
                        }">
                        </ngx-skeleton-loader>
                    </div>
                </div>
              
                <div class="product__content with__ads">
                    <header class="product__title">
                        <ngx-skeleton-loader  
                        [theme]="{ width: '320px','border-radius': '0', height: '25px','margin-bottom': '10px'}">
                       </ngx-skeleton-loader>
                    </header>
                    <div class="product__rating">
                        <ngx-skeleton-loader  
                          [theme]="{ width: '200px','border-radius': '0', height: '15px','margin-bottom': '10px'}">
                         </ngx-skeleton-loader>
                    </div>
                    <section class='product__info'>
                        <ngx-skeleton-loader  
                        [theme]="{ width: '320px','border-radius': '0', height: '25px','margin-bottom': '10px'}">
                       </ngx-skeleton-loader>
                    </section>
                </div>
                <div class="logo__main__card one-full-slider">
                    <ngx-slick-carousel class="carousel" 
                    #slickModal="slick-carousel" 
                    [config]="slideConfig" 
                   >
   
                    </ngx-slick-carousel>
                </div>
              
            </div>



            <div class="col-12" >
                <div class="product__card">
                    <div class="image__card">
                        <div class="item">
                            <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
                                width: '140px',
                                height: '140px',
                                'border-radius': '10px'
                            }">
                            </ngx-skeleton-loader>
                        </div>
                    </div>
                  
                    <div class="product__content with__ads">
                        <header class="product__title">
                            <ngx-skeleton-loader  
                            [theme]="{ width: '320px','border-radius': '0', height: '25px','margin-bottom': '10px'}">
                           </ngx-skeleton-loader>
                        </header>
                        <div class="product__rating">
                            <ngx-skeleton-loader  
                              [theme]="{ width: '200px','border-radius': '0', height: '15px','margin-bottom': '10px'}">
                             </ngx-skeleton-loader>
                        </div>
                        <section class='product__info'>
                            <ngx-skeleton-loader  
                            [theme]="{ width: '320px','border-radius': '0', height: '25px','margin-bottom': '10px'}">
                           </ngx-skeleton-loader>
                        </section>
                    </div>
                    <div class="logo__main__card one-full-slider">
                        <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" 
                       >
         
                        </ngx-slick-carousel>
                    </div>
                  
                </div>
</div> -->


