
<section class="row" *ngIf="!loading && maincard" >
 

<span class=" col-12 col-md-6 col-lg-3 mb-5" *ngFor="let contact of data " >        

   <a  class="card" (click)="output(contact.id,contact.type )" >
       <div class="img">
           <img src="{{contact.image}}" alt="">
       </div>
       <h5 class="my-3">
           {{contact.name || contact.title}}
       </h5>

       <section class="counts" *ngIf="contact.companies_count">
        <p class="note">{{contact.companies_count}} {{contact.type||'مكتب'}}</p>
       </section>

   </a>

</span>

</section> 



<section class="row" *ngIf="!loading && newscard" >

<span class=" col-12 col-md-6 col-lg-6 mb-5" *ngFor="let contact of data ">        

    <a  class="card3" (click)="output(contact.id,contact.type )" >
            <img src="{{contact.image}}" alt="">

            <div class="d-flex flex-md-row flex-column justify-content-between align-items-center m-3">
            <h5 >
                {{contact.name || contact.title}}
            </h5>
 
            <div class="" *ngIf="contact.address"> <i class="fas fa-map-marker-alt"></i> {{contact.address}}</div>
            </div>

         <div class="d-flex flex-md-row flex-column justify-content-between align-items-center mx-3 mb-3">

            <div class="address mb-2" *ngIf="contact.created_at "><i class="fas fa-calendar" ></i> {{contact.created_at}} </div>
             
            
            <div class="d-flex flex-md-row flex-column justify-content-end ">
            <section class='product__info px-3' *ngIf="contact.salary != null && contact.type != 'job'">
                <h5 class="note text-center">
                     {{contact.salary}} جنيه 
                </h5>
            </section> 

             <a class="card-more  px-5 py-1" *ngIf="!contact.date && !contact.view_count && contact.type != 'job' else intersted" (click)="output(contact.id,contact.type )">المزيد</a>
             <ng-template class="more__details" #intersted >  
                 <a class="card-more mx-3 px-5 py-1" *ngIf="contact.type != 'job'"  (click)="output(contact.id,contact.type )">مهتم</a>
                 <a class="card-more mx-3 px-5 py-1" *ngIf="contact.type == 'job'"  [routerLink]="['/الوظائف/تقديم',contact.id]">قدم الأن</a>
 
             </ng-template>
             </div>
 
 </div>
 
    </a>
 
 </span>
 
 </section> 
  

<section class="row " *ngIf="!loading && subcard" >
 

    <span class="col-12 col-md-6 mb-5 " *ngFor="let contact of data ">        

            <a (click)="output(contact.id,contact.type )" class="card2 p-0">
                <div class="content p-3">
                    <div class="img">
                        <img class="mx-auto" src="{{contact.image}}" alt="">
                    </div>
                    
                    <h3 class="mt-3 mb-2">{{contact.title || contact.name}}</h3>
                    <p class="desc mx-auto">{{contact.desc}}</p>

                    <div class="mb-1 d-flex flex-md-row flex-column justify-content-between" *ngIf="contact.address">

                        <div class="address mb-2" *ngIf="contact.date && contact.view_count != null"><i class="fas fa-calendar" ></i> {{contact.date}} </div>

                    <div class="product__rating mx-auto" *ngIf="contact.rate ">
                                   
                        <i *ngFor='let in of counter1((5-contact.rate)) ;let i = index' style="color: silver;"class="fa-solid fa-star"></i>
                        <i *ngFor='let in of counter(contact.rate) ;let i = index'  style="color: #fac864;" class="fa-solid fa-star"></i>

                    </div>
                    <div class="product__rating mx-auto" *ngIf="contact.rate==0 && !flag">
                                
                        <i *ngFor='let in of counter1(5) ;let i = index' style="color: silver;"class="fa-solid fa-star"></i>

                    </div>

                    <section class="product__bottom" *ngIf="contact.date && contact.view_count != null">
                        <section class="content__box">
                            <i class="fas fa-users"></i>
                            <span class="content">{{contact.view_count}} متابع</span>
                        </section>
                    </section>
</div>

                    <div class="informations d-flex flex-md-row flex-column justify-content-between align-items-center" *ngIf="contact.address">



                                <div class="address mb-2" *ngIf="contact.created_at && contact.salary!=null"><i class="fas fa-calendar" ></i> {{contact.created_at}} </div>

                                
                                <div class="address mb-2"> <i class="fas fa-map-marker-alt"></i> {{contact.address}}</div>
                              
 
                            <a class="card-more mx-3 px-5 py-1" *ngIf="!contact.date && !contact.view_count && contact.type != 'job' else intersted" (click)="output(contact.id,contact.type )">المزيد</a>
                            <ng-template class="more__details" #intersted >  
                                <a class="card-more  px-5 py-1" *ngIf="contact.type != 'job'"  (click)="output(contact.id,contact.type )">مهتم</a>
                                <a class="card-more  px-5 py-1" *ngIf="contact.type == 'job'"  [routerLink]="['/الوظائف/تقديم',contact.id]">قدم الأن</a>
 
                            </ng-template>
 
                    </div>


                </div>
            </a>
    </span>

</section>


<section class="row " *ngIf="!loading && jobcard" >
 

    <span class="col-12" *ngFor="let contact of data ">        

            <a (click)="output(contact.id,contact.type )" class="card2 mb-5 d-flex justify-content-between">
               

                <div class="content p-3 text-end">

                    
                    <h2 class="mt-3 mb-2">{{contact.title || contact.name}}</h2>
                    <div><span style="color:black;">{{contact.company_name}}</span> - <span style="color:#818181;">{{contact.address}}</span></div>
                    <div class="py-2" style="color: #058A24;">{{contact.created_at}}</div>

                    <span class="px-2" style="background: #CECECE;box-shadow: 0px 3px 6px #0000002E;border-radius: 16px;color: black;">{{contact.work_hours}}</span>
                    <span class="mx-1"><i class="fa-regular fa-heart"></i></span>
                    
                    <div class="my-3" style="color:#656565">{{contact.desc}}</div>

                </div>               
                
                <div class="img">
                        <img class="m-5 rounded" src="{{contact.image}}" alt="">
                </div>
            </a>
    </span>

</section>


<!-- <div *ngIf="subcard">
   <div class="new__cards row" *ngFor="let contact of data ">
           <a class="col-12" (click)="output(contact.id,contact.type )" >


                <div  [ngClass]="{'featured__card__container':flag}">
                       <div class="product__card"  [ngClass]="{'big__card':contact.desc,'super__ultra__card':true,'paid__green__card':flag}" style="height: auto; max-height: 270px;">
                       <div  [ngClass]="{'featured__container':flag,'green__card':flag}">
                           <p *ngIf="flag" [ngClass]="{'featured__label':flag}" >الراعى</p>
                       </div> 


                   <div class="image__card">
                       <img alt='product-image'
                           src='{{contact.image}}'/>
                           
                   </div>
               
                   <div class="product__content with__ads">
                       <header class="product__title" >
                           <a>
                             
                                   {{contact.name || contact.title}}
                           
                           </a>
                       </header>

                       <div class="product__rating mt-2" *ngIf="contact.rate ">
                                   
                               <i *ngFor='let in of counter1((5-contact.rate)) ;let i = index' style="color: silver;"class="fa-solid fa-star"></i>
                               <i *ngFor='let in of counter(contact.rate) ;let i = index'  style="color: #fac864;" class="fa-solid fa-star"></i>

                       </div>
                       <div class="product__rating mt-2" *ngIf="contact.rate==0 && !flag">
                                   
                           <i *ngFor='let in of counter1(5) ;let i = index' style="color: silver;"class="fa-solid fa-star"></i>

                       </div>

                       <section class="product__info" *ngIf="contact.companies_count">
                           <p class="note">{{contact.companies_count}} {{contact.type||'مكتب'}}</p>
                       </section>

                       <section class="product__info" *ngIf="contact.desc" 
>
                           <p class="note text-center">{{contact.desc}} </p>
                       </section>


                       <section class='product__info m-4' *ngIf="contact.salary != null && contact.type != 'job'">
                           <p class="note text-center">
                                {{contact.salary}} جنية 
                           </p>
                       </section>


                       <section class="product__bottom" *ngIf="contact.date && contact.view_count != null">
                           <section class="content__box">
                               <i class="far fa-calendar-alt"></i>
                               <span class="content">{{contact.date}} </span>
                           </section>
                           <section class="content__box">
                               <i class="fas fa-users"></i>
                               <span class="content">{{contact.view_count}} متابع</span>
                           </section>
                       </section>


                       <section class="product__bottom" *ngIf="contact.address">

                           <section class="address-box">
 
                               <i class="fas fa-calendar" *ngIf="contact.created_at && contact.salary!=null"></i>
                               <span class="address" *ngIf="contact.created_at && contact.salary!=null"> {{contact.created_at}} </span><br>
                               <i class="fas fa-map-marker-alt"></i>
                               <span class="address"> {{contact.address}} </span>

                            </section>
                           <a class="more__details" *ngIf="!contact.date && !contact.view_count && contact.type != 'job' else intersted" (click)="output(contact.id,contact.type )">اعرف أكتر</a>
                           <ng-template class="more__details" #intersted >  
                               <a class="more__details" *ngIf="contact.type != 'job'"  (click)="output(contact.id,contact.type )">مهتم</a>
                               <a class="more__details" *ngIf="contact.type == 'job'"  [routerLink]="['/employment/apply',contact.id]">قدم الأن</a>

                           </ng-template>

                       </section>
                       


                       <section class="product__bottom justify-content-end" *ngIf="contact.created_at && !contact.view_count && !contact.address">
                           <section class="date__box">
                               <span class="date"> {{contact.created_at}} </span>
                       </section>
                   </section>
  </div>
                       <div style="clear: both;"></div>
 
                   <div class="logo__main__card one-full-slider"  >
                       <ngx-slick-carousel class="carousel" 
                       #slickModal="slick-carousel" 
                       [config]="slideConfig" 
                   >
                   <div ngxSlickItem *ngFor="let slide of contact.logo_in" class="slide">
                       <div class="item">
                       <a class="logo-holder" target="_blank">
                           <img alt="partner logo"
                               src="{{slide.image}}">
                       </a>
                       </div>
                   </div>
                   
                   </ngx-slick-carousel>
                   </div>
               </div>

                
  
                   </div>

           </a>

   </div> 
   
   
</div>  
 -->
