
a{
  cursor: pointer;
}
.slick-slider {
    width: 95%;
    margin: auto ;
    direction: ltr;
  
  }
  
  body .slick-prev, 
  body .slick-next {
    height: 45px;
    width: 40px;
    // background: grey !important;
    z-index: 100;
  }

    @media screen and (max-width:700px) {
      .product__card .product__content .note{
        font-size: 15px;
      }
    }
  

// a {
//     line-height: 2.2 !important;
// }


 .card {
  display: block;
  overflow: hidden;
  font-size: 17px;
  color: var(--green);
  background-color: #F3F3F3;
  text-align: center;
  transition: 0.3s;
  border: none;
  box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
  border-radius: 16px;
  opacity: 1;
}
.card:hover {
  // background-color: var(--yellow);
  transform: scale(1.1);
  img{
    opacity: 0.7;
  }
}
 .card img {
  width: 100%;
  height: auto;
  max-height: 10.438rem;
  min-height: 10.438rem;

  display: block;
}
 .more {
  border: 2px solid var(--green);
  font-family: inherit;
  background-color: transparent;
  color: var(--green);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}
 .more:hover {
  background-color: var(--yellow);
  border-color: var(--yellow);
}