.title{
    width: 32% !important;
}
.card{
    border: none !important;
}
.card-header{
    border: none !important;
}

.company__link__container a:hover{
    color: var(--yellow) !important;
}
.cell__container{
    width: 30% !important;
}