
<div class="main__content__body">
 
    <app-horizontal-search (newItemEvent)="filter($event,'')" [data]="h_search_form" ></app-horizontal-search>
    <section class="special__accordion container d-lg-none d-block d-md-block">


        <button aria-controls="collapseExample" aria-expanded="false" class="main-title" data-toggle="collapse"
                href="#accordion"
                id="show-hide-accordion" role="button">
            حدد بحثك
            <i class="icon-s fas fa-search"></i>
        </button>

        
        <div class="accordion collapse show" id="accordion">
            
            <form [formGroup]="fromToForm">
                <div class="card">
                    <div class="card-header" id="headingSearch">
                        <h5 class="mb-0">
                            <button aria-controls="collapseSearch" aria-expanded="false"
                                    class="btn btn-link collapsed" data-target="#collapseSearch"
                                    data-toggle="collapse">
                                <i class="fas fa-search"></i>
                                من
                            </button>
                        </h5>
                    </div>
                    <div aria-labelledby="headingSearch" class="collapse show" data-parent="#accordion"
                         id="collapseSearch">
                        <div class="card-body">
                            <input (change)="filter($any($event.target).value,'date-from')"class="search__input" type="date" formControlName="from">
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSearch">
                        <h5 class="mb-0">
                            <button aria-controls="collapseSearch" aria-expanded="false"
                                    class="btn btn-link collapsed" data-target="#collapseSearch"
                                    data-toggle="collapse">
                                <i class="fas fa-search"></i>
                                إلى
                            </button>
                        </h5>
                    </div>
                    <div aria-labelledby="headingSearch" class="collapse show" data-parent="#accordion"
                         id="collapseSearch">
                        <div class="card-body">
                            <input (change)="filter($any($event.target).value , 'date-to')" formControlName="to"class="search__input" type="date">
                        </div>
                    </div>
                </div>
    
            </form>
     
            

        </div>
    </section>

    <article class="global__container container">
        <div class="row">

              <div class="alert alert-success d-flex align-items-center " role="alert" *ngIf="message">

                <h5 class="alert-heading align-items-center m-auto"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>يرجي تحديد الشركة لرؤية الاحصائيات الخاصة بها </h5>
              </div>
              
    <div class="col-12" *ngIf="type== 'local'">
        <div class="multi__selectContainer">
            <h4 class="multi__title">الأصناف</h4>
            <form id="box"  class="box-tabs">
                <div class="btn-group">
                    <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="بورصة لحم الدواجن بأنواعها" id="local">
                        لا يوجد اي اختيار
                   
                    </button>
                    <ul class="multiselect-container dropdown-menu" style="text-align: right">

                    <li class="multiselect-item multiselect-all px-2" > 
                        <label><a tabindex="0" >
                           <input type="radio" class="mx-2" value='0' #v (change)=" selectLocalStock(0)" (click)="selectLocalStock(0)" name="local" id="0">  الكل
                        </a></label>
                    </li>
 
                    <!-- class="active" -->
                    <li *ngFor="let item of (StatisticsMemberLocal?.list_members) ;" class="px-2"> 
                        <label><a tabindex="0" ><input class="mx-2" type="radio"  #v (change)=" selectLocalStock(v.value)" (click)="selectLocalStock(v.value)" [value]="item.id" name="local" id={{item.id}}> {{item.name}}</a></label>
                    </li>
                </ul>
            </div>
            </form>
        </div>
    </div>

                
    <div class="col-12" *ngIf="type== 'fodder'">
        <div class="row">
            <div class="multi__selectContainer col-sm-12 col-md-6 p-3">
                <h4 class="multi__title ">الشركات</h4>
                <form id="box" class="box-tabs">
            <div class="btn-group">
                <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="بورصة لحم الدواجن بأنواعها" id="company">
                    <span class="multiselect-selected-text">لا يوجد اي اختيار</span>
                    <b class="caret"></b>
                </button>
                <ul class="multiselect-container dropdown-menu " style="text-align: right">
                    
                    <!-- <li class="multiselect-item multiselect-all px-2" >
                        <label><a tabindex="0" >
                            <input type="radio" class="mx-2" value="multiselect-all" #v (change)=" selectFodderStock(0)" (click)="selectFodderStock(0)" name="companies" id="0">  الكل
                        </a></label>
                    </li> -->

                    <li  *ngFor="let comp of (StatisticsListLocal?.list_members) ; let i=index" class="px-2"> 
                        <label><a tabindex="0" ><input class="mx-2" type="radio" #company (change)=" selectCompany(company.value)" (click)="selectCompany(company.value)" [value]="comp.id" name="companies" id={{comp.id}}> {{comp.name}}</a>
                    </label></li>
            </ul>
            </div>
    </form>
            </div>


            <div class="multi__selectContainer col-sm-12 col-md-6 p-3">
                <h4 class="multi__title">الأصناف</h4>
                <form id="box" class="box-tabs">
                    <div class="btn-group">
                        <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="بورصة لحم الدواجن بأنواعها" id="product">
                            <span class="multiselect-selected-text">لا يوجد اي اختيار</span>
                            <b class="caret"></b>
                        </button>
                        <ul class="multiselect-container dropdown-menu" style="text-align: right">

                            <!-- <li class="multiselect-item multiselect-all px-2" >
                                <label><a tabindex="0" >
                                    <input type="radio" class="mx-2 " value="multiselect-all" #v (change)=" selectAllStock()" (click)="selectAllStock()" name="products">  الكل
                                </a></label>
                            </li> -->

                        <!-- class="active" -->
                        <li  *ngFor="let item of products; let i=index" class="px-2"> 
                            <label><a  tabindex="0" ><input class="mx-2"  type="radio" name="products" #v (change)=" selectFodderStock(v.value)" (click)="selectFodderStock(v.value)" [value]="item.id" id={{item.id}}>{{item.categorize}}</a>
                        </label></li>

                    </ul>
                </div>

                </form>
            </div>

        </div>
    </div>
</div>
</article>

    <!-- Start Global Content -->
    <article class="global__container container">
    
        <div class="row">
        

            <!-- Start Chart Part -->
            <section class="col-12 chart__container">
                <div id="">
                    <div class="toolbar">
                        <button (click)="geTstatisticsByDate(30)" [ngClass]="{'active':days==30}" id="one_month">1M</button>
                        <button (click)="geTstatisticsByDate(90)" [ngClass]="{'active':days==90}" id="six_months">3M</button>
                        <button (click)="geTstatisticsByDate(180)" [ngClass]="{'active':days==180}"  id="one_year">6M</button>
                        <button (click)="geTstatisticsByDate(0)"   [ngClass]="{'active':days==0}" id="all">ALL</button>
                    </div>
                    <div id="chart-timeline"></div>
                </div>
            </section> 
            <!-- Multi Select menu -->
            <div *ngIf="chartOptions">
                <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>    
            </div>       
            
            


            <!--    Table    -->
            <section class="col-12">

                  <section class="col-12">
                    <div class="table__main">
                        <div id="accordion" *ngFor="let i of StatisticsMemberFodder;let i1=index">
                            <div class="card" >
                                <div class="card-header" id="headingOne368" style="background-color: #fff;border-color: #0C6A22;margin: 0;padding: 10px;">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" style="color: #0C6A22" data-toggle="collapse" [attr.data-target]="'#collapseOne-'+i1" aria-expanded="false" aria-controls="collapseOne">
                                            <strong>{{i[0].name}}</strong>
                                        </button>
                                    </h5>
                                </div>

                                <!-- <div [id]="'collapseOne-'+i1"  class="collapse" aria-labelledby="headingOne368" data-parent="#accordion" style=""> -->
                                    <div class="card-body">
                                        <table class="table table-hover" style="margin: 0px">
                                            <thead>
                                            <tr>
                                                <th scope="col" class="border-right">اسم الصنف</th>
                                                <th scope="col" class="border-right">مقدار التغير</th>
                                                <th scope="col" class="border-right">عدد التغير</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let i of i[0].categories">
                                                    <td class="border-right border-left company__link__container">
                                                        <a  (click)="navigatetodetails(type,i.id,i.categorize)" class="company__link">{{i.categorize}}</a>
                                                    </td>
                                                    <td class="border-right">
                                                        <span class="negative__content">{{i.change}}%</span>
                                                    </td>
                                                    <td class="border-right"><span class="negative__content"> {{i.counts}} </span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                <!-- </div> -->
                            </div>
                            </div>
                    </div>
                </section>
            </section>


            <section class="col-12" *ngIf="type== 'local'">
                <div class="table__main">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" class="border-right border-left">أسم الصنف</th>
                            <th scope="col" class="border-right">مقدار التغير</th>
                            <th scope="col" class="border-right">عدد التغير</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of StatisticsMemberSlected; let i = index">
                                <th scope="row">{{i}}</th>
                                <td class="border-right border-left company__link__container"> 
                                  <a (click)="navigatetodetails(type,item.id,item.name)" class="company__link"> {{item.name}}</a>                                
                                </td>
                                <td class="border-right"><span class="negative__content">
                                {{item.change}} </span></td>
                                <td class="border-right"><span class="negative__content"> {{item.counts}} </span></td>

                          
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </article>
    <!-- End Global Content -->
</div>
