.custom__breadcrumb{
    background-color: white !important;
}
.tabs{
    background: #F3F3F3 !important;
    border: none !important;
    // border-radius: 0px !important;
}
.box-tabs{
    border-radius: 20px;
    border: none;
    box-shadow: none !important;
}
input{
    border-radius: 16px;
    background-color: var(--green);
    color: white;

}

input[type=date] {
    background-color: var(--green);
    color: white;
  }
  
  input[type="date"]:after {
    color: white;
    content: attr(placeholder) !important;
    margin-right: 0.5em;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Inverts the color of the icon */
    font-size: 2rem;
    cursor: pointer;
  }