    <!-- Start breadcrumb -->
    <div class="breadcrumb__container st-1 container ">
        <div class="custom__breadcrumb">
            <h1 class="page__title">إحصائيات البورصة اليومية</h1>
        </div>
    </div>
    <!-- End breadcrumb -->
    <!-- Start Search Box -->
    <article class="inner-search-box d-none d-sm-none d-md-none d-lg-block">
        <div class="container">
            <form class="box-tabs">
                <div class="search-box-overlay"></div>
                <section class="tabs tabs-2">
                    <i class="far fa-calendar-alt"></i>
                    <h4 class="title">من:</h4>
                    <input class="date" type="date" #from (change)=" filter({date:from.value, type:'from'})">
                </section>
                <section class="tabs tabs-2">
                    <i class="far fa-calendar-alt"></i>
                    <h4 class="title">إلى:</h4>
                    <input class="date" type="date" #to (change)=" filter({date:to.value, type:'from'})">
                </section>
            </form>
        </div>
    </article>
    <!-- End Search Box -->

    <!-- Start accordion -->
    <section class="special__accordion container d-lg-none d-block d-md-block">
        <button aria-controls="collapseExample" aria-expanded="false" class="main-title" data-toggle="collapse"
                href="#accordion"
                id="show-hide-accordion" role="button">
            حدد بحثك
            <i class="icon-s fas fa-search"></i>
        </button>
        <div class="accordion collapse show" id="accordion">
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button aria-controls="collapseThree" aria-expanded="false"
                                class="btn btn-link collapsed"
                                data-target="#collapseThree" data-toggle="collapse">
                            <i class="far fa-calendar-alt"></i>
                            من
                        </button>
                    </h5>
                </div>
                <div aria-labelledby="headingThree" class="collapse" data-parent="#accordion"
                     id="collapseThree">
                    <div class="card-body">
                        <input class="date w-100 text-center" type="date" #from2 (change)=" filter({date:from2.value, type:'from'})">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button aria-controls="collapseTwo" aria-expanded="false" class="btn btn-link collapsed"
                                data-target="#collapseTwo" data-toggle="collapse">
                            <i class="far fa-calendar-alt"></i>
                            إلى
                        </button>
                    </h5>
                </div>
                <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordion" id="collapseTwo">
                    <div class="card-body">
                        <input class="date w-100 text-center" type="date" #to2 (change)=" filter({date:to2.value, type:'from'})">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Start accordion -->

    <div class="global__container container">
        <!-- Start Table 5 cols without chart -->
        <section class="table__container table-5">
            <section class="table__head">
                <span class="title small__title">الشركة</span>
                <span class="title small__title">عدد التغير</span>
                <span class="title small__title">مقدار التغير اليومى</span>
                <span class="title small__title">مقدار التغير الاسبوعى</span>
                <span class="title small__title">مقدار التغير الشهرى</span>
            </section>
            <!--  add row__shadow when rows length > = 3  -->
            <div class="table__body row__shadow">

                <!-- Start One Row    add ads class if ad  -->
                <section class="table__row " *ngFor="let i of data?.members">
                    <section class="cell__container">
                        <span class="cell__content">{{i.name}}</span>
                    </section>
                    <div class="wall"></div>
                    <section class="cell__container">
                        <span class="cell__content">{{i.counts}}</span>
                    </section>
                    <div class="wall"></div>
                    <section class="cell__container">
                        <span class="cell__content">{{i.days}}%</span>
               
                    </section>
                    <div class="wall"></div>
                    <section class="cell__container">
                        <span class="data__content">{{i.week}}%</span>
                    </section>
                    <div class="wall"></div>
                    <section class="cell__container">
                        <span class="cell__content">{{i.oldprice}}%</span>
                    </section>
                </section>
                <!-- End One Row  -->


            </div>
        </section>
        <!-- End Table -->
    </div>
