@import '../../../../../assets/styles/abstract/varibales';
.list__item.selected {
    color: $font-color-second;
    background-color: $font-color-main;
   
}
.main-title{
    background: #E4E1E1;
    border-radius: 20px;
    width: 100%;
  }

.add-photo{
    box-shadow: inset 0px 3px 6px #0000000F, 0px 3px 6px #0000004F;
border: none;
border-radius: 16px;
background: white;
color:var(--green);
}