<div class="main__content__body">
    <!--Start Loading Screen-->
    <article class="loading-screen" style="display: none;">
          <div class="chicken-loader" style="display: none;">
              <span></span>
          </div>
      </article>
      <!--End Loading Screen-->
  
      <!-- Start button to top -->
      <button class="btn_top" id="myBtn">
          <span class="arrow"></span>
      </button>
      <!-- End button to top -->
  
      <!-- Start Navigation Bar -->
      <!-- Start Navigation Bar -->
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
   
          <a class="navbar-brand" href="https://elkenany.com">
              <img alt="main logo" src="https://elkenany.com/Front_End/images/logo.png">
          </a>
          <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
              <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item dropdown">
                      <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="mainCategoriesDropdown" role="button">
                          القطاعات
                      </a>
                      <ul aria-labelledby="mainCategoriesDropdown" class="dropdown-menu">
                          <li>
                              <a class="nav-link dropdown-toggle text-center" data-bs-toggle="dropdown"> القطاع
                                  الداجنى </a>
                              <div class="dropdown-divider"></div>
                              <ul class="submenu dropdown-menu submenu-left">
                                  <li><a class="dropdown-item" href="https://elkenany.com/local-stock-section/poultry">البورصة
                                      اليومية</a></li>
                                  <div class="dropdown-divider"></div>
                                  <li><a class="dropdown-item" href="https://elkenany.com/Guide-section/poultry">دليل
                                      الشركات</a></li>
                                  <div class="dropdown-divider"></div>
                                  <li><a class="dropdown-item" href="https://elkenany.com/news-section-last/poultry">
                                      الأخبار</a></li>
                                  <div class="dropdown-divider"></div>
                                 <!-- <li><a class="dropdown-item"
                                   href="https://elkenany.com/major/poultry">الاستشاريون</a></li> -->
                                  <li><a class="dropdown-item" href="https://elkenany.com/store-section/poultry">سوق
                                      الكناني</a></li>
                              </ul>
                          </li>
                          <li>
                              <a class="nav-link dropdown-toggle text-center" data-bs-toggle="dropdown"> القطاع
                                  الحيوانى </a>
                              <div class="dropdown-divider"></div>
                              <ul class="submenu dropdown-menu submenu-left">
                                  <li><a class="dropdown-item" href="https://elkenany.com/local-stock-section/animal">البورصة
                                      اليومية</a></li>
                                  <div class="dropdown-divider"></div>
                                  <li><a class="dropdown-item" href="https://elkenany.com/Guide-section/animal">دليل
                                      الشركات</a></li>
                                  <div class="dropdown-divider"></div>
                                      <li><a class="dropdown-item" href="https://elkenany.com/news-section-last/animal">
                                      الأخبار</a></li>
                                  <div class="dropdown-divider"></div>
                                      <!-- <li><a class="dropdown-item"
                                   href="https://elkenany.com/major/animal">الاستشاريون</a></li> -->
                                  <li><a class="dropdown-item" href="https://elkenany.com/store-section/animal">سوق
                                      الكناني</a></li>
                              </ul>
                          </li>
                          <li>
                              <a class="nav-link dropdown-toggle text-center" data-bs-toggle="dropdown"> القطاع
                                  الزراعى </a>
                              <div class="dropdown-divider"></div>
                              <ul class="submenu dropdown-menu submenu-left">
                                  <li><a class="dropdown-item" href="https://elkenany.com/local-stock-section/farm">البورصة
                                      اليومية</a></li>
                                  <div class="dropdown-divider"></div>
                                  <li><a class="dropdown-item" href="https://elkenany.com/Guide-section/farm">دليل
                                      الشركات</a></li>
                                  <div class="dropdown-divider"></div>
                                      <li><a class="dropdown-item" href="https://elkenany.com/news-section-last/farm">
                                      الأخبار</a></li>
                                  <div class="dropdown-divider"></div>
                                      <!-- <li><a class="dropdown-item"
                                   href="https://elkenany.com/major/farm">الاستشاريون</a></li> -->
                                  <li><a class="dropdown-item" href="https://elkenany.com/store-section/farm">سوق
                                      الكناني</a></li>
                              </ul>
                          </li>
                          <li>
                              <a class="nav-link dropdown-toggle text-center" data-bs-toggle="dropdown"> القطاع
                                  السمكى </a>
                              <div class="dropdown-divider"></div>
                              <ul class="submenu dropdown-menu submenu-left">
                                  <li><a class="dropdown-item" href="https://elkenany.com/local-stock-section/fish">البورصة
                                      اليومية</a></li>
                                  <div class="dropdown-divider"></div>
                                  <li><a class="dropdown-item" href="https://elkenany.com/Guide-section/fish">دليل
                                      الشركات</a></li>
                                  <div class="dropdown-divider"></div>
                                      <li><a class="dropdown-item" href="https://elkenany.com/news-section-last/fish">
                                      الأخبار</a></li>
                                  <div class="dropdown-divider"></div>
                                      <!-- <li><a class="dropdown-item"
                                   href="https://elkenany.com/major/fish">الاستشاريون</a></li> -->
                                  <li><a class="dropdown-item" href="https://elkenany.com/store-section/fish">سوق
                                      الكناني</a></li>
                              </ul>
                          </li>
                          <li>
                              <a class="nav-link dropdown-toggle text-center" data-bs-toggle="dropdown"> الخيول
                                  العربية </a>
                              <ul class="submenu dropdown-menu submenu-left">
                                  <li><a class="dropdown-item" href="https://elkenany.com/local-stock-section/horses">البورصة
                                      اليومية</a></li>
                                  <div class="dropdown-divider"></div>
                                  <li><a class="dropdown-item" href="https://elkenany.com/Guide-section/horses">دليل
                                      الشركات</a></li>
                                  <div class="dropdown-divider"></div>
                                      <li><a class="dropdown-item" href="https://elkenany.com/news-section-last/horses">
                                      الأخبار</a></li>
                                  <div class="dropdown-divider"></div>
                                      <!-- <li><a class="dropdown-item"
                                   href="https://elkenany.com/major/horses">الاستشاريون</a></li> -->
                                  <li><a class="dropdown-item" href="https://elkenany.com/store-section/horses">سوق
                                      الكناني</a></li>
                              </ul>
                          </li>
                      </ul>
                  </li>
                  <li class="nav-item dropdown">
                      <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="servicesDropdown" role="button">
                          الخدمات
                      </a>
                      <div aria-labelledby="servicesDropdown" class="dropdown-menu">
                          <!--                        <a class="dropdown-item" href="#">البورصة العالمية</a>-->
                          <!--                        <div class="dropdown-divider"></div>-->
                          <a class="dropdown-item" href="https://elkenany.com/section-all-show/1">المعارض</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="https://elkenany.com/magazines-magazines/1">دلائل ومجلات</a>
                      <!-- <div class="dropdown-divider"></div>-->
                          <!-- <a class="dropdown-item" href="https://elkenany.com/tenders-section/poultry">مناقصات</a> -->
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="https://elkenany.com/all-ships-traffic">حركة السفن</a>
                          <!-- <a class="dropdown-item" href="https://elkenany.com/academy-courses"> الاكاديمية</a> -->
                      </div>
                  </li>
              </ul>
  
              <form action="https://elkenany.com/get-search-in-nav" method="get" class="form-inline my-2 my-lg-0">
                  <input  #v (change)="goSearch(v.value)"  class="search-area" name="search" id="searchNavBar" placeholder="بحث" type="search">
                  <button  class="submit" type="submit">
                      <i class="fas fa-search"></i>
                  </button>
              </form>


                      </div>
                          <section class="profile-box dropdown d-lg-block d-none">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img class="profile-photo" src="https://elkenany.com/uploads/customers/avatar/default.png" alt="profile pic">
                          <h6> m atallah2</h6>
                          <div class="arrow">
                              <img class="arrow-down" src="https://elkenany.com/Front_End/images/down_arrow.svg" alt="arrow down">
                          </div>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item dropdown-item-especial" href="#">
                              <img class="profile-photo" src="https://elkenany.com/uploads/customers/avatar/default.png" alt="profile pic">
                              <h6>  m atallah2 </h6>
                          </a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="https://elkenany.com/customer/setting">الإعدادات</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">تسجيل الخروج</a>
                          <form id="logout-form" action="https://elkenany.com/logout" method="get" style="display: none;">
                              <input type="hidden" name="_token" value="u2STMMWWh3In7Dnk0omyJdnrSf91bB7kYGChsMc4">
                          </form>
                      </div>
                  </section>
                                
          
      </nav>
      <!-- End Navigation Bar -->    <!-- End Navigation Bar -->
  
      
  
      <!-- End Partners -->
    <!-- Start breadcrumb -->
    <div class="breadcrumb__container container" style="margin-bottom: 60px;
  ">
          <div class="custom__breadcrumb">
              <h1 class="page__title">البحث عن رجب</h1>
          </div>
      </div>
      <!-- End breadcrumb -->
  
     
   
      <!-- Start Global Content -->
      <article class="global__container container">
          <div class="row">
  
          <!-- Start Left Section -->
          <section class="left col-lg-12 col-md-7 col-sm-12" style="margin-bottom: 60px;
  ">
                      <section class="title-box">
                          <h2 class="title sects">الاقسام للدليل</h2>
                          <span class="sections-number">0 قسم</span>
                      </section>
                      <div class="new__cards row">
                                              </div>
                  </section>
                  <!-- End Left Section -->
  
                  <!-- Start Left Section -->
                  <section class="left col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 60px;
  ">
                      <section class="title-box">
                          <h2 class="title"> الشركات</h2>
                          <span class="sections-number">2 شركة</span>
                      </section>
                      <div class="new__cards row">
  
                       
                          
                          <div class="col-12">
                              <div *ngFor="let i of data?.result" class="product__card big__card regular__hover">
                                  <div class="image__card">
                                      <img alt="product__image" src="https://elkenany.com/uploads/company/images/27-05-2116221128121028560979.png">
                                  </div>
                                  <div class="product__content">
                                      <header class="product__title">
                                          <a href="https://elkenany.com/Guide-company/731">
                                        {{i.name}}
                                          </a>
                                      </header>
                                      <div class="product__rating">
                                          <div class="star"></div>
                                          <div class="star"></div>
                                          <div class="star"></div>
                                          <div class="star"></div>
                                      </div>
                                      <section class="product__info">
                                          <p class="note text-center">
                                          شركة النوبارية للتنمية الزراعية (مزارع رجب) هي إحد...
                                          </p>
                                      </section>
                                      <section class="product__bottom">
                                          <section class="address-box">
                                              <i class="fas fa-map-marker-alt"></i>
                                              <span class="address">الكيلو 71 طريق القاهرة - الاسكندرية الصحراوى - ابو المطامير - البحيرة</span>
                                          </section>
                                          <a class="more__details"(click)="selected({id:i.id, type:i.type})">اعرف أكتر</a>
                                      </section>
                                  </div>
                              
                              </div>
                          </div>
  
                          
                 
                                                  
                      </div>
                            <!-- End Left Section -->
                  <input type="hidden" name="_token" value="u2STMMWWh3In7Dnk0omyJdnrSf91bB7kYGChsMc4">
                  </section>
  
                       <!-- Start Left Section -->
                      <section class="main__left__container col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 60px;
  ">
                          <section class="title-box">
                              <h2 class="title sects"> البورصات</h2>
                          </section>
                          <div class="new__cards row">
                                                                                                                                                                                                          </div>
                      </section>
                  <!-- End Left Section -->
  
                  <section class="left col-lg-12 col-md-7 col-sm-12" style="margin-bottom: 60px;
  ">
                  <section class="title-box">
                      <h2 class="title sects"> المجلات</h2>
                      <span class="sections-number">0 مجلة</span>
                  </section>
                  <div class="new__cards row">
                                          
                                          
                  </div>
            
  
              </section>
  
               <!-- Start Left Section -->
               <section class="main__left__container col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 60px;
  ">
               <section class="title-box">
                      <h2 class="title sects"> الاخبار</h2>
                      <span class="sections-number">0 خبر</span>
                  </section>
                  <div class="new__cards row">
                                          
                                          
                  </div>
                  
  
              </section>
  
              <section class="left col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 60px;
  ">
              <section class="title-box">
                      <h2 class="title sects"> المعارض</h2>
                      <span class="sections-number">0 معرض</span>
                  </section>
                  <div class="new__cards row">
                                          
                                          
                  </div>
                 
  
              </section>
  
              <section class="main__left__container col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 60px;
  ">
              <section class="title-box">
                      <h2 class="title sects"> السوق</h2>
                      <span class="sections-number">0 اعلان</span>
                  </section>
                  <div class="new__cards row">
                      
                       <!-- End One Card -->
  
                  </div>
               
              </section>
  
              <section class="left col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 60px;
  ">
                  <section class="title-box">
                      <h2 class="title sects"> الاستشاريون</h2>
                      <span class="sections-number">0 إستشاري </span>
                  </section>
  
                  <section class="all-cards">
                  <!-- Start One Card -->
                                                                     
          </section>
              </section>
  
            
  
                     
            
            
          </div>
      
      
      </article>
      <!-- End Global Content -->
  
  </div>