.ngx-pagination .current {
    background:  #FFBB33 !important;
}
.pagination {
    margin: 15px 200px 0 50px;
    padding-right: 25%;
}

@media screen and (max-width: 600px) {
    .pagination {
        margin: 15px 50px 0 50px;
        padding-right: 25%;
    }
}

.container{
    max-width: 65%;
}