.multi__selectContainer {
  padding: 1rem 0;

  .selectCategories {
    height: 52px;
    width: 100%;

    .current {
      text-align: start;
    }
  }
}


.chart__container {
  text-align: center;
}


