
<alert></alert>

<div class="main__content__body">
    <!-- Start Sign Up  -->
    <article class="container sign-up ">
        <h2 class="main-title font-weight-bold">سجل حساب جديد !</h2>
        <div class="auth__holder">
            <section class="sign-up-box">
                <section class="sign-up-extras">
                    <a class="sign-up-facebook" (click)="authService.loginWithFacebook()">
                        <i class="fab fa-facebook-f"></i>
                        الدخول عن طريق فيسبوك
                    </a>
                    <!-- <a class="sign-up-google"  (click)="authService.GoogleAuth()">
                        <i class="fab fa-google"></i>
                        الدخول عن طريق جوجل
                    </a> -->
                    <div id="g_id_onload"
                    data-client_id="552649577410-qs09ipcibvdfcfd97phi3drru3qufis0.apps.googleusercontent.com"
                    data-callback="handleCredentialResponse"
                    data-auto_prompt="false">
                 </div>
                 <div class="g_id_signin"
                    data-type="standard"
                    data-size="large"
                    data-theme="outline"
                    data-text="sign_in_with"
                    data-shape="rectangular"
                    data-logo_alignment="left">
                 </div>
                </section>
                <h3 class="or font-weight-bold">أو</h3>

                <div class="form__container">
                    <form class="form__box" (ngSubmit)="onSubmit()" [formGroup]="RegisterForm" dir="rtl">
                        <input
                            class="inputs form- is-valid is-invalid"
                            formControlName="name" 
                            placeholder="الاسم" 
                            type="text">
                        <input
                            class="inputs"
                            formControlName="email" 
                            placeholder="الأيميل" 
                            type="text">
                            
                        <input
                            class="inputs"
                            formControlName="phone" 
                            placeholder="رقم الموبايل" 
                            type="number">
                            <div class="buttonIn">
                                <input
                                class="inputs"
                                formControlName="password" 
                                [type]="hide ? 'password' : 'text'"
                                placeholder="الرقم السري" 
                                type="password">
                            <button
                            (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide"
                            class="our-font-color w-auto"
                            mat-icon-button
                            matSuffix type="button">
                            <svg *ngIf="!hide" class="vertical-baseline" fill="#9B9B9B" height="24" viewBox="0 0 24 24"
                                    width="24"
                                    xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none"/>
                                <path
                                d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
                            </svg>
                            <svg *ngIf="hide" class="vertical-baseline" fill="#9B9B9B" height="24" viewBox="0 0 24 24"
                                    width="24"
                                    xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0z" fill="none"/>
                                <path
                                d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z"/>
                            </svg>
                            </button>
                            </div>

            
                        <!-- <input class="btn__submit" formControlName="" type="submit" value="سجل الان"> -->
                        <app-submit-button class="btn__submit" [form]="RegisterForm" [loading]="loading" [title]="'تسجيل الدخول'"></app-submit-button>

                        <div class="check__box">
                            <input class="checkbox" type="checkbox" value="agreement" style="border: 1px #1f6b00 solid;">
                            <span class="font-weight-bold">أوافق علي استقبال الاخبار واخر التحديثات من الكناني</span>
                        </div>
                    </form>
                </div>
            </section>
            <span class="font-weight-bold d-block">بتسجيل حساب بأنك توافق علي <a class="terms links"
                                                                                 href="../static_pages/terms_and_conditions.html"> الشروط
                    والأحكام</a></span>
        </div>
    </article>
    <!-- End Sign Up  -->
</div>