
    <!-- Start Header -->
    <!-- <app-banners-logo  [loading]="loading" [type]="'banner'"></app-banners-logo>
    <app-banners-logo  [loading]="loading"  [type]="'logo'"></app-banners-logo> -->
    <!-- End Header -->
    <div class="alert alert-danger alert-styled-right alert-arrow-right alert-bordered text-center bounceIn" *ngIf="message" id="alert">
        <button type="button" class="close pull-left" data-dismiss="alert" style="border: none;"><span style="font-size: 35px;line-height: 53px;color: red;border: 0px;background-color: #f8d7da;">×</span></button>
        <strong style="line-height: 50px;"> {{message}} </strong>
      </div>
                
    <div class="container add__details__main">
        <div class="row" dir="ltr">
            <div class="col-12 col-md-3">
                <div class="small__bar__container">
                    <div class="price__container">
                        <p class="price__content">{{adDetails?.salary}} ج.م</p>
                    </div>
                    <a class="single__action" (click)="start_chat()" >
                        <i class="far fa-envelope icon"></i>
                        ارسال رسالة
                    </a>
                    <a class="single__action" href="tel:+2012012012012">
                        <i class="fas fa-phone icon"></i>
                        {{adDetails?.phone}}
                    </a>
                    <div class="address__map">
                        <div class="overlay">
                            <div class="map__icon">
                                <i class="fas fa-map-marker-alt icon"></i>
                            </div>
                            <div class="address__data">
                                <p class="address__content">{{adDetails?.address}}</p>
                                <a
                                        class="address__link"
                                        href="https://maps.google.com/?q=maadi, cairo, egypt"
                                        target="_blank"
                                >أظهر على الخريطة</a
                                >
                            </div>
                        </div>
                    </div>
                    <div class="user__info">
                        <div class="user__icon">
                            <i class="fas fa-user-alt icon"></i>
                        </div>
                        <div class="user__data">
                            <p class="user__name">{{adDetails?.user}}</p>
                            <p class="user__date">على الموقع   {{adDetails?.created_at}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-9">
                <h1 class="main__title">{{adDetails?.title}} </h1>
                <p>تم إضافة الإعلان في {{adDetails?.created_at}} , رقم الإعلان: {{adDetails?.id}} </p>
                <!-- <div class="images__slider__top__single slider__for">
                    
                    <app-banners-logo  [loading]="loading" [type]="'banner'"></app-banners-logo>
                </div> -->
                <!-- <div class="images__slider" id="slider__nav">
                    <app-banners-logo  [loading]="loading"  [type]="'logo'"></app-banners-logo>
    
                </div> -->



                <div class="basic-container" *ngIf="adDetails?.images">
                    <!-- <gallery id="basic-test" fluid [items]="items"></gallery> -->
                    <app-gallery-carouel [images]="adDetails?.images"></app-gallery-carouel>
                </div>





                <div class="add__details">
            
                    <p class="add__description">
                       {{adDetails?.desc}}
                    </p>
                </div>
            </div>
        </div>
    </div>


