<ngx-slick-carousel class="carousel"  *ngIf="!loading && config.banner.length >= 0 "
  #slickModal="slick-carousel" 
  [config]="config.config" 
>

<div ngxSlickItem *ngFor="let slide of config.banner" class="slide">
  <div class="item">
    <a class="logo-holder" target="_blank">
      
      <img alt="partner logo" [class]="config.config.class"
      src="{{ slide.image }}" style="max-height: 450px;">
      

    </a>
    <div class="wall"></div>
  </div>

</div>
</ngx-slick-carousel>


<!-- 


 
 <ngx-slick-carousel class="carousel"   *ngIf="loading || config.banner.length == 0"
    #slickModal="slick-carousel" 
    [config]="config.config" 
>

  <div ngxSlickItem  class="slide">
    <div class="item">
      <a class="logo-holder" target="_blank">
        

        
        <img  alt="partner logo" [class]="config.config.class"
              src="../../../../assets/images/banner.png" style="max-height: 450px;">
      </a>

      

      <div class="wall"></div>
    </div>
  
  </div>
</ngx-slick-carousel>
  
  
  -->
